<div class="modal-body p-0" style="max-height: 557px !important; border-bottom: 0.2px solid rgba(0,0,0,0.5);">
    <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0" style="border-right: 0.2px solid rgba(0,0,0,0.5);">
            <div class="w-100">
                <div class="row m-0">
                    <div class="col-12 head-container w-100 text-center pt-3 pb-3">
                        <img src="{{ youtuberInfo.photoUrl}}" class="profile-picture rounded-circle">
                    </div>
                    <div class="col-12 text-dark text-center pt-2 name">
                       {{ youtuberInfo.first_name }}
                       {{ youtuberInfo.last_name }}
                    </div>
                    <!-- <div class="col-12 text-dark text-center business-name">
                        <span class="text-gray">Business:</span>
                        {{ campaign.businessman_details.businessman_name}}
                    </div>
                    <div class="col-12 text-gray text-center business-name pb-2">
                        {{ campaign.businessman_details.email_address }}
                    </div> -->
                    <div class="col-12 icon-container text-gray text-center small-font pt-2 pb-2">
                        <div class="row m-0">
                            <div class="col-3 text-center pt-1 pb-1" style="font-size: 20px;">
                                <i class="icon icon-telephone" style="color: #c0392b;"></i>
                            </div>
                            <div class="col-9 pt-2 pb-2 text-dark text-left" style="font-size: 15px;">
                                0{{ youtuberInfo.contact_no }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-gray text-center small-font pt-3 pb-3" style="border-bottom: 0.5px solid #ddd;">
                        <div class="row m-0">
                            <div class="col-3 text-center pt-1 pb-1" style="font-size: 20px;">
                                <i class="icon icon-map-marker" style="color: #c0392b;"></i>
                            </div>
                            <div class="col-9 text-dark text-left" style="font-size: 15px;">
                                {{ youtuberInfo.address }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-gray text-center small-font pt-3 pb-3">
                        <div class="row m-0" style="max-height: 145px;">
                            <div class="col-3 text-center pt-1 pb-1" style="font-size: 20px;">
                                <i class="icon icon-apartment" style="color: #c0392b;"></i>
                            </div>
                            <div class="col-9 text-dark text-left" style="font-size: 15px; overflow-y: auto !important;">
                                {{ youtuberInfo.abouts }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 p-0">
            <div style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
                <div class="row m-0">
                    <div class="reports col-8 pl-0 pr-0 pt-3 pb-3 ml-1 text-center text-dark" (click)="switchNav('reports')" style="font-size: 18px;">
                        Reports
                    </div>
                    <div class="col-3 pl-0 pr-0 pb-3 pt-3 text-right" style="font-size: 18px;">
                        <i class="icon icon-cross text-dark" click="closeModal()"></i>
                    </div>
                </div>
            </div>
            
            <div class="campaign-container">
                <div class="p-3" *ngIf="!videoExisted">
                    <div class="text-left">
                        <span style="font-size: 15px;">Status:</span>&nbsp;
                        <span class="stats" style="color: #f1c40f">On Going</span>
                    </div>
                    <div class="video-note text-center p-3">
                        Upload URL provided in the bottom.
                    </div>
                </div>
                <div class="p-3" *ngIf="videoExisted">
                    <div class="row m-0">
                        <div class="col-12 p-0">
                            <span>Status:</span>&nbsp;
                            <span class="stats">Submitted</span>
                            <!-- <span class="stats" style="color: #c0392b">Late</span> -->
                        </div>
                        <div class="col-12 text-center p-0">
                            <div [innerHTML]='iframe_html'></div>
                        </div>
                        <div class="col-12 pt-2 pl-0 pr-0 pb-2 text-left">
                            <span class="video-title"> {{videoTitle}} </span>
                        </div>
                        <div class="col-12 pb-1 text-left">
                            <span class="video-description"> {{videoDescription}} </span>
                        </div>
                        <div class="col-6 p-0 text-left">
                            <i class="icon icon-eye icon-report-custom pr-3"></i>
                            <span class="video-stats text-dark">{{viewCount}}</span>
                        </div>
                        <div class="col-6 p-0 text-left">
                            <i class="icon icon-thumbs-up icon-report-custom pr-3"></i>
                            <span class="video-stats text-dark">{{likeCount}}</span>
                        </div>
                        <div class="col-6 p-0 text-left">
                            <i class="icon icon-bubble icon-report-custom pr-3"></i>
                            <span class="video-stats text-dark">{{commentCount}}</span>
                        </div>
                        <div class="col-6 p-0 text-left">
                            <i class="icon icon-thumbs-down icon-report-custom pr-3"></i>
                            <span class="video-stats text-dark">{{dislikeCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-3">
    <!-- <div *ngIf="noVideo" class="row m-0">
        <div class="col-2 pr-0 pl-0 pt-2 pb-2">
            <span class="pt-1 pb-1" style="font-size: 15px;">Enter URL here:</span>
        </div>
        <div class="col-8 p-0">
            <input [(ngModel)]="urlvideo" type="text" class="w-100 form-control" style="border-radius: 6px 0px 0px 6px" placeholder="https://www.youtube.com/watch?v=ShZ978fBl6Y">
        </div>
        <div class="col-2 p-0">
            <button class="refer w-100 h-100 pt-2 pb-2 pr-3 pl-3">Submit</button>
        </div>
    </div> -->
</div>