<div class="modal-header m-0">
    <div class="page-one row m-0 w-100">
        <div class="col-12 pr-0 pl-0 text-center">
            <h3 class="modal-title mb-0 lbl-businessman">Campaign Change Date</h3>
        </div>
        <div class="col-12 text-gray text-center" style="font-size: 14px;">Enter dates you prefer to change.</div>
    </div>
</div>
<div class="modal-body pt-2 pb-2 pr-3 pl-3" style="max-height: 500px; overflow-y: auto !important; overflow-x: auto;">
    <div class="page-one row m-0 w-100">
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Campaign Deadline:</div>
                <div class="col-8 pr-0 pl-0">
                    <form class="form-inline w-100">
                        <div class="form-group w-100">
                            <div class="input-group w-100">
                                <input type="text" class="form-control form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="campaign_deadline" ngbDatepicker
                                    #d="ngbDatepicker" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <i class="icon icon-calendar-insert pt-1 pb-1" style="display: inline-block;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Production Deadline:</div>
                <div class="col-8 pr-0 pl-0">
                    <form class="form-inline w-100">
                        <div class="form-group w-100">
                            <div class="input-group w-100">
                                <input type="text" class="form-control form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="production_deadline" ngbDatepicker
                                    #d2="ngbDatepicker" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                        <i class="icon icon-calendar-insert pt-1 pb-1" style="display: inline-block;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer p-3">
    <div class="row m-0 w-100">
        <div class="col-6 pl-0">
            <button type="button" class="btn btn-outline-dark m-0" (click)="closeModal()" style="border-radius: 5px !important;">Close</button>
        </div>
        <div class="col-6 pr-0">
            <button type="button" class="btn btn-outline-dark m-0 float-right submit-btn" (click)="reopenCampaign()">Reopen</button>
        </div>
    </div>
</div>