<div class="p-4" style="height: calc(100%); overflow-y: auto;">
    <i class="icon icon-arrow-left" (click)="onBack()"></i>
    <div class="row m-0">
        <div class="col-lg-5 col-md-5 col-sm-12 col-12 pl-0">
            <div class="row m-0">
                <div class="col-12 p-0 text-center">
                    <div class="photo-container text-center">
                        <img *ngFor="let image of campaign_photos" src="{{ image.photo }}" class="product-photo pr-1" style="border-radius: 6px;">
                    </div>
                </div>
                <div class="col-12 pr-2 pt-2 text-left">
                    <span class="product-name ellipsis">{{ campaign_details.project_name }}</span>
                </div>
                <div class="col-12 text-left">
                    <span class="text-dark" style="font-size: 18px;">{{ campaign_details.project_description }}</span>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Category</span>
                        </div>
                        <div class="col-7 pl-2 text-left">
                            <span class="product-category pt-1 pb-1 pr-2 pl-2">{{ campaign_details.category_name }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Video Duration</span>
                        </div>
                        <div class="col-7 pl-2 pt-1 text-left">
                            <span class="product-vid-duration">{{ campaign_details.video_duration }} mins.</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Budget</span>
                        </div>
                        <div class="col-7 pl-2 pt-1 text-left">
                            <span class="product-budget">{{ campaign_details.starting_budget }} to {{ campaign_details.ending_budget }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Campaign Deadline</span>
                        </div>
                        <div class="col-7 pl-2 pt-1 text-left">
                            <span class="product-vid-duration">{{ campaign_details.campaign_deadline }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Production Deadline</span>
                        </div>
                        <div class="col-7 pl-2 pt-1 text-left">
                            <span class="product-vid-duration">{{ campaign_details.production_deadline }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Advertisers</span>
                        </div>
                        <div class="col-7 pl-2 pt-1 text-left">
                            <span class="product-num-advertisers">{{ campaign_details.advertiser_needed }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-12 pr-0 pt-2">
                            <button (click)="addToProduction()" class="btn btn-success text-center start-production" data-toggle="tooltip" data-placement="top"
                                title="Start Production">
                                <i class="icon icon-check icon-custom p-2"></i>
                            </button>
                            <button (click)="editCampaign()" class="btn btn-primary text-center edit-campaign" data-toggle="tooltip" data-placement="top"
                                title="Edit Campaign">
                                <i class="icon icon-pencil icon-custom p-2"></i>
                            </button>
                            <button (click)="removeCampaign()" class="btn btn-danger text-center delete-campaign" data-toggle="tooltip" data-placement="top"
                                title="Delete Campaign">
                                <i class="icon icon-trash2 icon-custom p-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-12 p-0">
            <div *ngIf="recommendedYoutuber.length != 0">
                <div class="recommend-container pt-3 pl-3 pr-3 pb-1 row m-0">
                    <div class="recommend-title text-left pb-3 text-dark">
                        Recommended YouTuber:
                    </div>
                    <div class="col-12 p-0">
                        <div class="recommended row m-0 p-3 mb-2" *ngFor="let youtuber of recommendedYoutuber">
                            <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 pl-0 align-self-center text-center">
                                <img class="image-user" src="{{ youtuber.photoUrl }}">
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8  p-0 align-self-center text-left">
                                <div class="name">
                                    <strong>{{ youtuber.lastName }}, </strong>{{ youtuber.firstName }}
                                </div>
                                <div class="channel text-gray">
                                    <span class="channel-span">{{ youtuber.points }}</span>
                                    <span class="channel-span-sub"> (points)</span>
                                </div>
                            </div>
                            <div class="col-6 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0 align-self-center text-center">
                                <i class="icon icon-eye icon-recommend" data-toggle="tooltip" data-placement="top" title="View Details" (click)="viewYoutuberProfile(youtuber.youtuber_id)"></i>
                            </div>
                            <div class="col-6 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0 align-self-center text-center">
                                <i class=" icon icon-envelope icon-recommend" style="font-size: 20px;" data-toggle="tooltip" (click)="sendRecommendation(youtuber.youtuber_id)"
                                    data-placement="top" title="Invite Youtuber"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 pt-2">
                <div class="lbl-interested col-12 p-0 pb-1 text-right">
                    Current Accepted Advertisers:
                    <span class="num-advertisers pt-1 pb-1 pr-2 pl-2" style="background: #2ecc71 !important;" *ngIf="acceptedAdvertisersCount >= campaign_details.advertiser_needed">{{ acceptedAdvertisersCount }}</span>
                    <span class="num-advertisers pt-1 pb-1 pr-2 pl-2" *ngIf="acceptedAdvertisersCount < campaign_details.advertiser_needed">{{ acceptedAdvertisersCount }}</span>
                    / {{ campaign_details.advertiser_needed }}
                </div>
                <div class="lbl-interested col-12 p-0 pb-1">
                    Interested:
                </div>
                <div class="interested-advertiser col-12 p-3 mb-1" *ngFor="let advertiser of campaign_details.advertisers let i = index;">
                    <div class="row m-0">
                        <div class="col-1 p-0 text-center">
                            <img src="{{ advertiser.photoUrl }}" class="rounded-circle" style="width: 50px; height: 50px;">
                        </div>
                        <div class="col-3 pt-1 pl-3" style="overflow-x: auto;">
                            <span class="advertiser-name">
                                <strong class="lastname text-dark">{{ advertiser.lastName }}</strong>, {{ advertiser.firstName }}
                            </span>
                        </div>
                        <div class="col-4 pt-2 text-center">
                            <span class="advertiser-name text-dark">
                                {{ advertiser.date_interested | date:'longDate' }}
                            </span>
                            <span class="advertiser-name text-dark">
                                {{ advertiser.date_interested | date:'shortTime' }}
                            </span>
                        </div>
                        <!-- <div class="col-3 pt-2 text-left">
                                <div class="message w-100">
                                    <span class="advertiser-name text-dark">
                                        {{ advertiser.message }}
                                    </span>
                                </div>
                            </div> -->
                        <div class="col-4 pl-0 pr-0 pb-1 text-left">
                            <div class="row m-0 h-100" *ngIf="advertiser.interested == 0">
                                <div class="col-4 p-0 h-100">
                                    <button class="btn-accept w-100 h-100" data-toggle="tooltip" data-placement="top" title="Accept Advertiser" (click)="acceptAdvertiser(advertiser, campaign_details, i)">
                                        <i class="icon icon-thumbs-up"></i>
                                    </button>
                                </div>
                                <div class="col-4 p-0 h-100">
                                    <button class="btn-view w-100 h-100" data-toggle="tooltip" data-placement="top" title="View Profile" (click)="viewYoutuberProfile(advertiser.youtuber_id)">
                                        <i class="icon icon-eye"></i>
                                    </button>
                                </div>
                                <div class="col-4 p-0 h-100">
                                    <button class="btn-remove w-100 h-100" data-toggle="tooltip" data-placement="top" title="Remove Advertiser" (click)="removeInterestedYoutuber(advertiser, campaign_details, i)">
                                        <i class="icon icon-cross"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row m-0 h-100" *ngIf="advertiser.interested == 1">
                                <div class="col-6 p-0 h-100">
                                    <button class="btn-accept-remove w-100 h-100" data-toggle="tooltip" data-placement="top" title="Remove Accept" (click)="removeAcceptAdvertiser(advertiser, campaign_details, i)">
                                        <i class="icon icon-thumbs-up"></i>
                                    </button>
                                </div>
                                <div class="col-6 p-0 h-100">
                                    <button class="btn-view-remove w-100 h-100" data-toggle="tooltip" data-placement="top" title="View Profile" (click)="viewYoutuberProfile(advertiser.youtuber_id)">
                                        <i class="icon icon-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>