.btn-accept, .btn-view, .btn-remove, .btn-view-remove, .btn-accept-remove {
    font-size: 18px;
    color: #FFF;
}

.btn-accept {
    background: #2ecc71;
    border: 1px solid #2ecc71;
    border-radius: 4px 0 0 4px;
}

.btn-accept:hover {
    cursor: pointer;
    background: #FFF;
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

.btn-accept-remove {
    background: #e74c3c;
    border: 1px solid #e74c3c;
    color: #FFF;
    border-radius: 4px 0 0 4px;
}

.btn-accept-remove:hover {
    cursor: pointer;
    background: #FFF;
    border: 1px solid #e74c3c;
    color: #e74c3c;
    border-radius: 4px 0 0 4px;
}

.btn-view {
    background: #3498db;
    border: 1px solid #3498db;
}

.btn-view:hover {
    cursor: pointer;
    background: #FFF;
    border: 1px solid #3498db;
    color: #3498db;
}

.btn-view-remove {
    border-radius: 0px 4px 4px 0px;
    background: #3498db;
    border: 1px solid #3498db;
}

.btn-view-remove:hover {
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #3498db;
    color: #3498db;
}

.btn-remove {
    background: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 0 4px 4px 0;
}

.btn-remove:hover {
    cursor: pointer;
    background: #FFF;
    border: 1px solid #e74c3c;
    color: #e74c3c;
}

.advertiser-name {
    font-size: 17px;
    color: gray;
}

.channel-span {
    color: #2ecc71;
}

.channel-span-sub {
    font-size: 12px;
}

.icon-custom {
    font-size: 20px;
}

.icon-arrow-left {
    font-size: 24px;
    color: #000;
    position: absolute;
    top: 90px;
    left: 25px;
    z-index: 1;
}

.icon-arrow-left:hover {
    cursor: pointer;
    color: #009999 !important;
}

.icon-recommend {
    cursor: pointer;
}

.icon-eye:before, .icon-enter-right:before {
    font-size: 23px;
}

.icon-eye:hover {
    color: blue !important;
}

.icon-enter-right:hover {
    color: #c0392b !important;
}

.interested-advertiser {
    border-radius: 6px;
    background: #FFF;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}

.lastname {
    font-size: 21px;
    text-transform: uppercase;
}

.lbl-interested {
    font-size: 20px;
    color: #00cc99;
}

.message {
    overflow-x: auto;
    white-space: nowrap;
}

.num-advertisers {
    background: #c0392b !important;
    color: #FFF;
    border-radius: 6px;
}

.photo-container {
    white-space: nowrap;
    overflow-x: auto;
    max-width: 100%;
}

.product-budget, .product-category, .product-num-advertisers, .product-vid-duration {
    font-size: 18px;
}

.product-budget {
    color: #00cc99;
}

.product-category {
    color: #FFF;
    background: #00cc99;
    border-radius: 6px;
}

.product-name {
    font-size: 32px;
    color: #009999;
    font-weight: bold;
}

.product-num-advertisers {
    color: #00cc99;
}

.product-photo {
    width: 150px;
    height: 150px;
    display: inline;
    object-fit: cover;
}

.product-vid-duration {
    color: #00cc99;
}

.recommended {
    background: #FFF;
    border-radius: 5px;
}

.recommend-title {
    font-size: 16px;
}

.image-user {
    height: 60px !important;
    width: 60px !important;
    border-radius: 100px;
    object-fit: cover;
}

.recommended .name {
    color: #000;
    font-size: 19px;
}

.recommend .channel {
    font-size: 11px;
}

.recommend-container {
    background: linear-gradient(to right, #ffff66 40%, #ff6600 100%);
    border-radius: 5px;
}

.start-production {
    border-radius: 6px 0 0 6px !important;
}

.edit-campaign {
    border-radius: 0 !important;
}

.delete-campaign {
    border-radius: 0 6px 6px 0 !important;
}