<div class="modal-body p-0" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
    <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0" style="border-right: 0.2px solid rgba(0,0,0,0.5);">
            <div class="w-100">
                <div class="row m-0">
                    <div class="col-12 head-container w-100 text-center pt-3 pb-3">
                        <img src="{{ campaign.businessman_details.profile_picture}}" class="profile-picture rounded-circle">
                    </div>
                    <div class="col-12 text-dark text-center pt-2 name">
                       {{ campaign.businessman_details.first_name }}
                       {{ campaign.businessman_details.last_name }}
                    </div>
                    <div class="col-12 text-dark text-center business-name">
                        <span class="text-gray">Business:</span>
                        {{ campaign.businessman_details.businessman_name}}
                    </div>
                    <div class="col-12 text-gray text-center business-name pb-2">
                        {{ campaign.businessman_details.email_address }}
                    </div>
                    <div class="col-12 icon-container text-gray text-center small-font pt-2 pb-2">
                        <div class="row m-0">
                            <div class="col-3 text-center pt-1 pb-1" style="font-size: 20px;">
                                <i class="icon icon-telephone" style="color: #c0392b;"></i>
                            </div>
                            <div class="col-9 pt-2 pb-2 text-dark text-left" style="font-size: 15px;">
                                0{{ campaign.businessman_details.contact_number }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-gray text-center small-font pt-3 pb-3" style="border-bottom: 0.5px solid #ddd;">
                        <div class="row m-0">
                            <div class="col-3 text-center pt-1 pb-1" style="font-size: 20px;">
                                <i class="icon icon-map-marker" style="color: #c0392b;"></i>
                            </div>
                            <div class="col-9 text-dark text-left" style="font-size: 15px;">
                                {{ campaign.businessman_details.company_address }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-gray text-center small-font pt-3 pb-3">
                        <div class="row m-0" style="max-height: 145px;">
                            <div class="col-3 text-center pt-1 pb-1" style="font-size: 20px;">
                                <i class="icon icon-apartment" style="color: #c0392b;"></i>
                            </div>
                            <div class="col-9 text-dark text-left" style="font-size: 15px; overflow-y: auto !important;">
                                {{ campaign.businessman_details.abouts }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 p-0">
            <div style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
                <div class="pt-3 pr-3 pl-3">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-campaign-tab" data-toggle="tab" href="#nav-campaign" role="tab" aria-controls="nav-campaign" aria-selected="true">Campaign</a>
                            <a (click)="switchNavVidExistence('reports')" class="nav-item nav-link" id="nav-reports-tab" data-toggle="tab" href="#nav-reports" role="tab" aria-controls="nav-reports" aria-selected="false">Reports</a>
                        </div>
                    </nav>
                    <div class="tab-content pr-0 pl-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-campaign" role="tabpanel" aria-labelledby="nav-campaign-tab">
                            <div class="photos-container pt-3 pb-2 text-center">
                                <div class="d-flex justify-content-center" > 
                                    <div *ngFor="let campaignphoto of campaign.campaign_details.photos" class="p-2">
                                        <img src="{{ campaignphoto.photo }}" class="img-item pr-1">
                                    </div> 
                                </div>
                            </div>
                            <div class="pt-2">
                                <div class="row m-0">
                                    <div class="col-6 pr-3 text-right">
                                        Product Name
                                    </div>
                                    <div class="col-6 pl-3 text-left text-dark font-weight-bold">
                                        {{campaign.campaign_details.project_name}}
                                    </div>
                                    <div class="col-6 pr-3 text-right">
                                        <span class="pt-1 pb-1">Category</span>
                                    </div>
                                    <div class="col-6 pl-3 text-left text-dark">
                                        <span class="category-custom pt-1 pb-1 pr-2 pl-2">{{campaign.campaign_details.category_name}}</span>
                                    </div>
                                    <div class="col-6 pr-3 text-right">
                                        Budget
                                    </div>
                                    <div class="col-6 pl-3 text-left text-dark">
                                        {{campaign.campaign_details.starting_budget}} to {{campaign.campaign_details.ending_budget}}
                                    </div>
                                    <div class="col-12 pl-3 pb-2" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
                                        <div class="row m-0">
                                            <div class="col-6 pr-3 text-right">
                                                Number of Advertisers Needed
                                            </div>
                                            <div class="col-6 pl-3 text-left" style="color: #c0392b;">
                                                {{campaign.campaign_details.advertisers_needed}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3 pt-2 pb-1">
                                        <div class="row m-0">
                                            <div class="col-5 p-0">
                                                <i class="icon icon-camera pr-2 text-dark" style="font-size: 16px;"></i>
                                                Video Duration
                                            </div>
                                            <div class="col-7 p-0">
                                                {{campaign.campaign_details.video_duration}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3 pt-1 pb-1">
                                        <div class="row m-0">
                                            <div class="col-5 p-0">
                                                <i class="icon icon-calendar-empty pr-2 text-dark" style="font-size: 16px;"></i>
                                                Campaign Deadline
                                            </div>
                                            <div class="col-7 p-0" style="color: #c0392b;">
                                                {{campaign.campaign_details.campaign_deadline}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3 pt-1 pb-2" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
                                        <div class="row m-0">
                                            <div class="col-5 p-0">
                                                <i class="icon icon-calendar-cross pr-2 text-dark" style="font-size: 16px;"></i>
                                                Production Deadline
                                            </div>
                                            <div class="col-7 p-0" style="color: #c0392b;">
                                                {{campaign.campaign_details.production_deadline}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3 pt-2 pb-2" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
                                        <div class="pt-1 pb-1">
                                            Product Description
                                        </div>
                                        <div class="text-dark">
                                            {{campaign.campaign_details.project_description}}
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3 pt-2 pb-2">
                                        <div class="pt-1 pb-1">
                                            Advertising Details
                                        </div>
                                        <div *ngFor="let advertising_details of campaign.advertising_details" class="row m-0 text-dark">
                                            <div class="col-2 p-0">
                                                •
                                            </div>
                                            <div class="col-10 p-0">
                                                {{advertising_details.detail}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="nav-reports" role="tabpanel" aria-labelledby="nav-reports-tab">
                            <div class="p-3" *ngIf="noVideo">
                                <div class="text-left">
                                    <span style="font-size: 15px;">Status:</span>&nbsp;
                                    <span *ngIf="campaign.submission_status === 'Submitted'" class="stats" style="color: #2ecc71">Submitted</span>
                                    <span *ngIf="campaign.submission_status === 'On Going'" class="stats" style="color: #f1c40f">On Going</span>
                                    <span *ngIf="campaign.submission_status === 'Late'" class="stats" style="color: #c0392b">Late</span>
                                </div>
                                <div class="video-note text-center p-3">
                                    Upload URL provided in the bottom.
                                </div>
                            </div>
                            <div class="p-3" *ngIf="!noVideo">
                                <div class="row m-0">
                                    <div class="col-12 p-0">
                                        <span>Status:</span>&nbsp;
                                        <span class="stats">Submitted</span>
                                        <!-- <span class="stats" style="color: #c0392b">Late</span> -->
                                    </div>
                                    <div class="col-12 text-center p-0">
                                        <img src="{{videoPhoto}}" class="thumbnail" (click)="openVideo()">
                                    </div>
                                    <div class="col-12 pt-2 pl-0 pr-0 pb-2 text-left">
                                        <span class="video-title"> {{videoTitle}} </span>
                                    </div>
                                    <div class="col-12 pb-1 text-left">
                                        <span class="video-description"> {{videoDescription}} </span>
                                    </div>
                                    <div class="col-6 p-0 text-left">
                                        <i class="icon icon-eye icon-report-custom pr-3"></i>
                                        <span class="video-stats text-dark">{{viewCount}}</span>
                                    </div>
                                    <div class="col-6 p-0 text-left">
                                        <i class="icon icon-thumbs-up icon-report-custom pr-3"></i>
                                        <span class="video-stats text-dark">{{likeCount}}</span>
                                    </div>
                                    <div class="col-6 p-0 text-left">
                                        <i class="icon icon-bubble icon-report-custom pr-3"></i>
                                        <span class="video-stats text-dark">{{commentCount}}</span>
                                    </div>
                                    <div class="col-6 p-0 text-left">
                                        <i class="icon icon-thumbs-down icon-report-custom pr-3"></i>
                                        <span class="video-stats text-dark">{{dislikeCount}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="noVideo" class="p-3">
    <div class="row m-0">
        <div class="col-2 pr-0 pl-0 pt-2 pb-2">
            <span class="pt-1 pb-1" style="font-size: 15px;">Enter URL here:</span>
        </div>
        <div class="col-8 p-0">
            <input [(ngModel)]="urlvideo" type="text" class="w-100 form-control" style="border-radius: 6px 0px 0px 6px" placeholder="https://www.youtube.com/watch?v=ShZ978fBl6Y">
        </div>
        <div class="col-2 p-0">
            <button (click)="getVideo()" class="refer w-100 h-100 pt-2 pb-2 pr-3 pl-3">Submit</button>
        </div>
    </div>
</div>