<div class="modal-header m-0">
    <div class="page-one row m-0 w-100">
        <div class="col-12 pr-0 pl-0 text-center">
            <h3 class="modal-title mb-0 lbl-businessman">Campaign Information</h3>
        </div>
        <div class="col-12 text-gray text-center" style="font-size: 14px;">Enter the product information provided the input fields below.</div>
    </div>
    <div class="page-two row m-0 w-100" style="display: none;">
        <div class="col-12 pr-0 pl-0 text-center">
            <h3 class="modal-title mb-0 lbl-businessman">Advertiser Details</h3>
        </div>
        <div class="col-12 text-gray text-center" style="font-size: 14px;">Enter any details for your advertiser.</div>
    </div>
</div>
<div class="modal-body pt-2 pb-2 pr-3 pl-3" style="max-height: 500px; overflow-y: auto !important; overflow-x: auto;">
    <div class="page-one row m-0 w-100">
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Product Name:</div>
                <div class="col-8 pr-0 pl-0">
                    <input type="text" [(ngModel)]="createCampaign.project_name" class="form-input form-control w-100 p-2" placeholder="Enter project name"
                        required/>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Product Category:</div>
                <div class="col-8 pr-0 pl-0">
                    <select [(ngModel)]="campaign_category" class="form-control ng-pristine ng-valid ng-touched" data-toggle="select1">
                        <option value="Comedy" selected="true">Comedy</option>
                        <option value="Howto and Styles">Howto and Styles</option>
                        <option value="Education">Education</option>
                        <option value="Drama">Drama</option>
                        <option value="Family">Family</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Music">Music</option>
                        <option value="Sports">Sports</option>
                        <option value="Travel and Events">Travel and Events</option>
                        <option value="People and Blogs">People and Blogs</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Budget</div>
                <div class="col-8 pr-0 pl-0">
                    <div class="row m-0">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-0 pr-2">
                            <span class="pr-3 pt-3 pb-3 text-dark" style="font-size: 12px;">From</span>
                            <input [(ngModel)]="createCampaign.starting_budget" type="number" class="form-input form-control w-100 p-2" placeholder="Starting Amount" required/>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-0">
                            <span class="pr-3 pt-3 pb-3 text-dark" style="font-size: 12px;">To</span>
                            <input [(ngModel)]="createCampaign.ending_budget" type="number" class="form-input form-control w-100 p-2" placeholder="Ending Amount" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Product Description</div>
                <div class="col-8 pr-0 pl-0">
                    <textarea [(ngModel)]="createCampaign.project_description" class="w-100 p-2 form-control form-input" placeholder="Enter project description"
                        rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Campaign Deadline:</div>
                <div class="col-8 pr-0 pl-0">
                    <form class="form-inline w-100">
                        <div class="form-group w-100">
                            <div class="input-group w-100">
                                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="campaign_deadline" ngbDatepicker
                                    #d="ngbDatepicker" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <i class="icon icon-calendar-insert pt-1 pb-1" style="display: inline-block;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Production Deadline:</div>
                <div class="col-8 pr-0 pl-0">
                    <form class="form-inline w-100">
                        <div class="form-group w-100">
                            <div class="input-group w-100">
                                <input type="text" class="form-control form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="production_deadline" ngbDatepicker
                                    #d2="ngbDatepicker" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                        <i class="icon icon-calendar-insert pt-1 pb-1" style="display: inline-block;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Video Duration (in minutes):</div>
                <div class="col-8 pr-0 pl-0">
                    <input [(ngModel)]="createCampaign.video_duration" type="number" class="form-input form-control w-100 p-2" placeholder="Enter video duration"/>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Number of Advertisers Needed:</div>
                <div class="col-8 pr-0 pl-0">
                    <input type="number" [(ngModel)]="createCampaign.advertiser_needed" class="form-input form-control w-100 p-2" placeholder="Enter number of advertisers"/>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0 pb-2">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2" style="font-size: 14px;">Product Photo:</div>
                <div class="col-8 pr-0 pl-0">
                    <div class="w-100">
                        <input type="file" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                  text/plain, application/pdf, image/*" (change)="uploadListener($event)" style="max-width: 90px;">
                    </div>
                    <div class="photo-container w-100 pt-1">
                        <div class="col-4 pr-1" style="display: inline-block;" *ngFor="let photo of campaign_photos">
                            <i class="icon icon-exit" (click)="removePhoto(photo)"></i>
                            <img class="campaign-photo display-inline-block" src="{{ photo }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-two row m-0 w-100" style="display: none;">
        <div class="col-12 pr-0 pl-0" style="max-height: 185px; overflow-y: auto !important;">
            <div style="font-size: 14px;">Things To Do:</div>
            <div class="row m-0" *ngFor="let detail of advertising_details">
                <div class="col-10 pl-0 pt-3 pb-3 text-left" style="overflow-x: auto !important;">
                    <span class="text-dark">{{ detail }}</span>
                </div>
                <div class="col-2 pr-0 pl-0 text-right">
                    <button class="delete-btn p-2 pr-3 pl-3" (click)="removeThingsToDo(detail)">
                        <i class="icon icon-trash2" style="display: inline-block;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0">
            <div class="text-left pb-2" style="font-size: 14px;">
                <span>Enter Things to do:</span>
            </div>
            <div class="w-100 pb-2">
                <textarea class="w-100 form-control p-2 form-input" [(ngModel)]="inputtedTTD" placeholder="Enter project description" rows="5" (keydown)="onKeydown($event)"></textarea>
            </div>
            <div class="w-100">
                <button class="add-ttd w-100 p-2 mb-2" (click)="addThingsToDo()">Add Things To Do</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer p-3">
    <div class="row m-0 w-100">
        <div class="col-5 pl-0">
            <button type="button" class="btn btn-outline-dark m-0" (click)="closeModal()" style="border-radius: 5px !important;">Close</button>
        </div>
        <div class="col-2 pr-0 text-center pt-1">
            <div class="row m-0">
                <div class="col-6 pr-0 pl-0">
                    <button class="paginate-custom w-100 p-100 p-2" style="border-radius: 5px 0px 0px 5px !important;" (click)="changePage('1')">1</button>
                </div>
                <div class="col-6 pr-0 pl-0">
                    <button class="paginate-custom w-100 p-100 p-2" style="border-radius: 0px 5px 5px 0px !important;" (click)="changePage('2')">2</button>
                </div>
            </div>
        </div>
        <div class="col-5 pr-0">
            <button type="button" class="btn btn-outline-dark m-0 float-right submit-btn" (click)="addCampaign()">Submit</button>
        </div>
    </div>
</div>