.details-campaign-header {
    font-size: 25px;
}

.stats-container {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}

.stats-container-body {
    font-size: 39px;
    border-bottom: 0.2px solid rgba(0,0,0,0.5);
}

.stats-container-footer {
    border-radius: 0 0 6px 6px;
    font-size: 14px;
}

.stats-container-header {
    border-radius: 6px 6px 0 0;
    background: linear-gradient(to right, #009999 0%, #00cc99 100%);
}

.icon-enter:hover {
    cursor: pointer;
}

.production-deadline {
    background: #00cc99;
    border-radius: 6px;
    color: #FFF;
}

.progress-bar-primary, .bg-primary
{
    background-color: #16a085 !important;
    border-color: #16a085 !important;
    color: #fff;
}

.advertisement-container {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
    height: calc(100%) !important;
}

.advertisement-container-header {
    border-radius: 6px 6px 0 0;
    background: linear-gradient(to top right, #f1c40f 0%, #c0392b 100%) !important;
}

.businessman-color {
    color: #009999;
}

.cancelled {
    background: #c0392b;
}

.details-campaign-header {
    font-size: 25px;
}

.done, .on-going, .cancelled {
    font-size: 12px;
    color: #FFF;
    border-radius: 5px;
}

.done {
    background: #2ecc71;
}

.hot-campaigns-color {
    color: #c0392b !important;
}

.hot-campaigns-btn {
    background: linear-gradient(to top right, #f1c40f 0%, #c0392b 100%) !important;
    border-color: #c0392b !important;
    color: #FFF !important;
}

.hot-campaigns-btn:hover {
    cursor: pointer;
    background: #FFF !important;
    border-color: #c0392b !important;
    color: #c0392b !important;
}

.on-going {
    background: #f1c40f;
}

.product-category {
    font-size: 18px;
    color: #00cc99;
}

.product-name {
    font-size: 18px;
}

.price-range {
    font-size: 16px;
    border-radius: 5px;
    background: #2ecc71;
}

.stats-container {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}

.top-influencer {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
    max-height: calc(100%);
}

.top-influencer-btn {
    background: linear-gradient(to right, #009999 0%, #00cc99 100%);
    border-color: #00cc99;
    color: #FFF;
}
/* 
.top-influencer-btn:hover {
    cursor: pointer;
    background: #FFF;
    border-color: #009999;
    color: #009999;
} */

.top-influencer-color {
    color: #009999 !important;
}

.icon-enter:hover {
    cursor: pointer;
}

.progress-bar-primary, .bg-primary
{
    background-color: #16a085 !important;
    border-color: #16a085 !important;
    color: #fff;
}

.bg-primary
{
    background-color: #16a085 !important;
}
      