<div style="height: calc(100%); overflow-y: scroll;">
  <div class="row m-0 p-2">
    <div class="col-6 col-md-3 col-lg-3 p-2">
      <div class="stats-container w-100">
        <div class="stats-container-header pt-2 pb-2 pr-3 pl-3 text-right">
        </div>
        <div class="stats-container-body pt-2 pb-2 text-dark text-center">
          {{ currentNoCampaigns }}
        </div>
        <div class="stats-container-footer businessman-color text-center pt-2 pb-2">
          Current # of Campaigns
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-3 p-2">
      <div class="stats-container w-100">
        <div class="stats-container-header pt-2 pb-2 pr-3 pl-3 text-right">
        </div>
        <div class="stats-container-body pt-2 pb-2 text-dark text-center">
          0
        </div>
        <div class="stats-container-footer businessman-color text-center pt-2 pb-2">
          Current # of Advertiser
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 p-2">
      <div class="stats-container w-100">
        <div class="stats-container-header pt-2 pb-2 pr-3 pl-3 text-right">
        </div>
        <div class="stats-container-body pt-2 text-dark">
          <div class="text-center pb-3" *ngIf="showNoNewInfluencer">No New Influencer registered.</div>
          <div id="carouselExampleControls1" class="carousel slide" *ngIf="!showNoNewInfluencer">
            <div class="carousel-inner pr-5 pl-5" role="listbox">
              <div class="carousel-item active">
                <div class="row mr-2 ml-2">
                  <div class="col-12 col-sm-3 col-md-2 col-lg-2 col-xl-2 pb-2 pl-0 pr-0 text-center">
                    <img src="{{ first_new_influencer.photoUrl }}" class="rounded-circle" style="width: 50px; height: 50px;">
                  </div>
                  <div class="col-12 col-sm-9 col-md-10 col-lg-10 col-xl-10 pr-0 text-left align-self-center">
                    <span class="product-name display-block text-dark" style="font-size: 16px;">{{ first_new_influencer.name }}</span>
                  </div>
                </div>
              </div>
              <div class="carousel-item" *ngFor="let influencer of all_new_influencer; let i = index;">
                <div class="row mr-2 ml-2">
                  <div class="col-12 col-sm-3 col-md-2 col-lg-2 col-xl-2 pb-2 pl-0 text-center">
                    <img src="{{ influencer.photoUrl }}" class="rounded-circle" style="width: 50px; height: 50px;">
                  </div>
                  <div class="col-12 col-sm-9 col-md-10 col-lg-10 col-xl-10 pr-0 text-left align-self-center">
                    <span class="product-name display-block text-dark" style="font-size: 16px;">{{ influencer.name }}</span>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span aria-hidden="true">
                <i class="icon icon-chevron-left text-dark"></i>
              </span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span aria-hidden="true">
                <i class="icon icon-chevron-right text-dark"></i>
              </span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="stats-container-footer businessman-color text-center pt-2 pb-2">
          New Influencers
        </div>
      </div>
    </div>
  </div>
  <div class="details row m-0 w-100 p-2" style="height: calc(100% - 140px);">
    <div class="col-12 col-sm-12 col-md-8 p-2 d-inline-block">
      <div class="advertisement-container w-100">
        <div class="stats-container-header pt-2 pb-2 pr-3 pl-3 text-right">
        </div>
        <div class="p-3 text-center" style="border-bottom: 0.2px solid rgba(0,0,0,0.5) !important;">
          <h4 class="m-0 businessman color">My Campaigns</h4>
        </div>
        <div style="max-height: calc(100% - 75px); overflow-y: auto;">
          <div class="row m-0" style="border-radius: 0 0 6px 0; overflow-y: auto !important;">
            <div *ngFor="let campaign of campaigns" class="col-12 pt-3 pb-3 pr-4 pl-4 job w-100" style="border-bottom: 0.2px solid rgba(0,0,0,0.5) !important;">
              <div class="single media">
                <figure class="single-user-avatar thumb-xs2 m-0">
                  <a href="#">
                    <!-- <img class="rounded-circle" src="data:{{campaign.product_photo}}"> -->
                    <img class="rounded-circle" style="object-fit: cover;" src="{{ path }}{{ campaign.photo }}">
                  </a>
                </figure>
                <div class="media-body pl-3">
                  <div class="single-header">
                    <div class="row m-0">
                      <div class="col-12 col-md-4 col-lg-4">
                        <ul class="list-unstyled li st-inline text-muted fs-13 m-0 ">
                          <li class="single-header pb-1 text-dark">
                            <!-- <a href="#" class="single-user-name">{{campaign.project_name}}</a> -->
                            <span class="single-user-name font-weight-bold"> {{ campaign.project_name }} </span>
                            <!-- <span class="ml-3 p-1 pr-2 pl-2 on-going">ON GOING</span>
                                                          <span class="ml-3 p-1 pr-2 pl-2 cancelled">CANCELLED</span> -->
                          </li>
                          <li class="list-inline-item mr-4 mr-0-rtl ml-4-rtl text-dark">
                            <!-- <i class="feather feather-user-plus fs-base mr-1 "></i> {{campaign.business_name}}</li> -->
                            <i class="icon icon-calendar fs-base mr-1"></i>
                            <span class="pt-1 pb-1 pr-2 pl-2" style="background: #00cc99; border-radius: 6px; color: #FFF;">{{ campaign.production_deadline }}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-12 col-md-8 col-lg-8 pl-0">
                        <ul class="list-unstyled li st-inline text-muted fs-13 m-0 ">
                          <li class="single-header pb-1 text-dark">
                            <i class="icon icon-label fs-base mr-1 "></i>
                            <span class="pt-1">{{ campaign.category.category_name }}</span>
                            <!-- <span class="ml-3 p-1 pr-2 pl-2 done">DONE</span> -->
                          </li>
                          <li class="single-header text-dark">
                            <!-- <i class="feather feather-map-pin fs-base mr-1 "></i> {{campaign.company_address}}</li> -->
                            <div class="p-0">
                              <div class="featured-jobs">
                                <div class="job-single row hover-parent m-0">
                                  <div class="col-sm-12 pl-0">
                                    <div class="row m-0">
                                      <div *ngIf="campaign.advertisers" class="col-12 col-sm-12 col-md-6 col-lg-6 m-0 p-0 btn action">
                                        <div class="float-right user-avatar-list">
                                          <a href="#" class="thumb-xxs" *ngFor="let advertiser of campaign.advertisers">
                                            <img src="{{ advertiser.photoUrl }}" class="rounded-circle" alt="User 2">
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-sm-12 col-md-4 p-2 d-inline-block">
      <div class="top-influencer w-100">
        <div class="col-12 p-0">
          <div class="stats-container-header w-100 pt-2 pb-2 pr-3 pl-3 text-right">
          </div>
          <div class="w-100 p-3 text-center" style="font-size: 22px;">
            <i class="icon icon-star" style="font-size: 22px;"></i>
            <i class="icon icon-star pr-2" style="font-size: 22px;"></i>
            <span class="text-left">
              Top Influencer
            </span>
            <i class="icon icon-star pl-2" style="font-size: 22px;"></i>
            <i class="icon icon-star" style="font-size: 22px;"></i>
          </div>
        </div>
        <div id="carouselExampleControls" class="carousel slide">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="row m-0" *ngIf="top_youtuber_length > 0">
                <div class="col-12 pb-2 pr-0 pl-0 text-center">
                  <img src="{{ first_top_youtuber.youtuber.photoUrl }}" class="rounded-circle" style="width: 150px; height: 150px;">
                </div>
                <div class="col-12 pb-3 text-center">
                  <span class="product-name display-block text-dark" style="font-size: 18px;">{{ first_top_youtuber.youtuber.name }}</span>
                  <span class="product-category display-block" style="font-size: 14px;">{{ first_top_youtuber.youtuber.category_name }}</span>
                  <span class="price-range p-1 pr-2 pl-2 text-white" style="font-size: 16px;"> {{subscriberCount | number}} </span>
                </div>
                <div class="col-12 p-0 text-center">
                  <button class="top-influencer-btn w-100 h-100 p-2" style="border-radius: 0 0 6px 6px;"></button>
                </div>
              </div>
              <div class="mt-3 mb-3 text-center" *ngIf="top_youtuber_length == 0">
                No Youtubers registered.
              </div>
            </div>
            <div class="carousel-item" *ngFor="let influencer of all_top_influencer">
              <div *ngIf="influencer.youtuber.points > 0" class="row m-0">
                <div class="col-12 pb-2 pr-0 pl-0 text-center">
                  <img src="{{ influencer.youtuber.photoUrl }}" class="rounded-circle" style="width: 150px; height: 150px;">
                </div>
                <div class="col-12 pb-3 text-center" style="height:130px;">
                  <span class="product-name display-block text-dark" style="font-size: 18px;">{{ influencer.youtuber.name }}</span>
                  <span class="product-category display-block" style="font-size: 14px;">{{ influencer.youtuber.category_name }}</span>
  
                  <span class="price-range p-1 pr-2 pl-2 text-white" style="font-size: 16px;">
  
                    {{subscriberCount | number}}</span>
  
                </div>
                <div class="col-12 p-0 text-center">
                  <button class="top-influencer-btn w-100 h-100 p-2" style="border-radius: 0 0 6px 6px;"></button>
                </div>
              </div>
              <div *ngIf="influencer.youtuber.points == 0" class="row m-0">
                <div class="col-12 pb-2 pr-0 pl-0 text-center">
                  <img src="../../../../../assets/img/user.png" class="rounded-circle" style="width: 150px; height: 150px;">
                </div>
                <div class="col-12 pb-3 text-center" style="height:130px;">
                  <span class="product-name display-block text-dark" style="font-size: 14px;">NO TOP INFLUENCER</span>
                  <span class="product-name display-block text-dark" style="font-size: 14px;">FOR THIS CATEGORY</span>
  
                  <span class="product-category display-block" style="font-size: 18px;">{{ influencer.youtuber.category_name }}</span>
                </div>
                <div class="col-12 p-0 text-center">
                  <button class="top-influencer-btn w-100 h-100 p-2" style="border-radius: 0 0 6px 6px;"></button>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span aria-hidden="true">
              <i class="icon icon-chevron-left text-dark"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span aria-hidden="true">
              <i class="icon icon-chevron-right text-dark"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>