<div class="modal-header m-0 pl-4 pr-4">
    <div class="row m-0 w-100">
        <div class="col-12 pr-0 pl-0 text-center">
            <h3 class="modal-title mb-0 lbl-businessman">Registration</h3>
        </div>
        <div class="col-12 text-gray text-center" style="font-size: 14px;">Enter your information as business representative.</div>
    </div>
</div>
<div class="modal-body pt-3 pb-3 pl-4 pr-4" style="max-height: 500px; overflow-y: auto !important; overflow-x: auto;">
    <div class="row m-0">
        <div class="col-12 pr-0 pl-0 pb-1">
            <div class="row m-0">
                <div class="profile-picture-select col-4 pr-0 pl-0 text-center p-3">
                    <div class="profile-picture-exist h-100 w-100" *ngIf="profilePicture_existence">
                        <i class="change-photo icon icon-exit text-gray" (click)="changePhoto()"></i>
                        <img class="h-100" src="{{ userBusinessman.profile_picture }}">
                    </div>
                    <div class="h-100 w-100" *ngIf="!profilePicture_existence">
                        <div class="row m-0">
                            <div class="col-12 p-0 text-center"><i class="profile-picture icon icon-camera2 text-gray"></i></div>
                            <div class="col-12 p-0 text-center"><input type="file" class="profile-picture-upload" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                                text/plain, application/pdf, image/*" (change)="uploadListener($event)"></div>
                        </div>
                    </div>
                </div>
                <div class="col-8 pr-0">
                    <div class="row m-0">
                        <div class="col-12 pr-0 pl-0 pb-1 text-dark">
                            <span>
                                <span style="color: darkred;">*</span>First Name:</span>
                            <input type="text" placeholder="Enter first name" [(ngModel)]="userBusinessman.first_name" class="w-100 p-2 form-input form-control" required
                            />
                        </div>
                        <div class="col-12 pr-0 pl-0 pb-1 text-dark">
                            <span>
                                <span style="color: darkred;">*</span>Last Name:</span>
                            <input type="text" placeholder="Enter last name" [(ngModel)]="userBusinessman.last_name" class="w-100 p-2 form-input form-control" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0 pb-1 text-dark">
            <span>
                <span style="color: darkred;">*</span>Username:</span>
            <input type="text" placeholder="Enter username" [(ngModel)]="userBusinessman.username" class="w-100 p-2 form-input form-control" required/>
        </div>
        <div class="col-12 pr-0 pl-0 pb-1 text-dark">
            <span>
                <span style="color: darkred;">*</span>Password:</span>
            <input type="password" placeholder="Enter password" [(ngModel)]="userBusinessman.password" class="w-100 p-2 form-input form-control" required/>
        </div>
        <div class="col-12 pr-0 pl-0 pb-1 text-dark">
            <span>
                <span style="color: darkred;">*</span>Re-type Password:</span>
            <input type="password" placeholder="Enter re-type password" [(ngModel)]="retype_password" class="w-100 p-2 form-input form-control" />
        </div>
        <div class="col-12 pr-0 pl-0 pb-1 text-dark">
            <span>
                <span style="color: darkred;">*</span>Business Name:</span>
            <input type="text" placeholder="Enter business name" [(ngModel)]="userBusinessman.business_name" class="w-100 p-2 form-input form-control"
                required/>
        </div>
        <div class="col-12 pr-0 pl-0 pb-1 text-dark">
            <span>
                <span style="color: darkred;">*</span>Email Address:</span>
            <input type="email" placeholder="Enter email address" [(ngModel)]="userBusinessman.email_address" class="email-address w-100 p-2 form-input form-control"
                reqired/>
        </div>
        <div class="col-12 pr-0 pl-0 pb-1 text-dark">
            <span>
                <span style="color: darkred;">*</span>Company Address:</span>
            <input type="text" placeholder="Enter company address" [(ngModel)]="userBusinessman.company_address" class="w-100 p-2 form-input form-control"
                required/>
            <span class="text-gray" style="font-size: 10px;">(Street Address, P.O. box, company name, unit, building, floor, etc.)</span>
        </div>
        <div class="col-12 pr-0 pl-0 pb-1 text-dark">
            <span>
                <span style="color: darkred;">*</span>Contact Number:</span>
            <input type="number" placeholder="Enter contact number" [(ngModel)]="userBusinessman.contact_number" class="w-100 p-2 form-input form-control"
                required/>
        </div>
        <div class="col-12 pr-0 pl-0 pb-1 text-dark">
            <div class="row m-0">
                <div class="col-12 pr-0 pl-0 text-dark">
                    <span>
                        <span style="color: darkred;">*</span>About the Company:
                    </span>
                </div>
                <div class="col-12 pr-0 pl-0">
                    <textarea class="textarea-input w-100 p-2" placeholder="Enter Bio Here" [(ngModel)]="userBusinessman.abouts" class="abouts w-100 form-control" rows="3" id="comment" required></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer pt-3 pb-4 pl-4 pr-4">
    <div class="row m-0 w-100">
        <div class="col-6 pl-0">
            <button type="button" class="btn btn-outline-dark m-0" (click)="cancelRegistration()" style="border-radius: 5px !important;">Close</button>
        </div>
        <div class="col-6 pr-0">
            <button type="button" class="btn btn-outline-dark m-0 float-right submit-btn" (click)="submitRegistration()">Submit</button>
        </div>
    </div>
</div>