.change-photo {
  font-size: 25px;
  color: #868e96 !important;
  position: absolute;
  top: 10px;
  left: 120px;
  float: right;
  cursor: pointer;
}

.change-photo:hover {
  color: #20c997 !important;
}

.lbl-businessman {
  color: #20c997;
}

.form-control:focus {
  border-color: #20c997 !important;
}

.form-input {
  border-radius: 6px !important;
}

.form-input {
  font-size: 13px;
  padding: 15px;
  border-radius: 4px;
  border: 0.5px solid rgba(0,0,0,0.2);
}

.form-control:focus {
  border-color: #20c997;
}

.profile-picture {
  font-size: 75px;
}

.profile-picture-select {
  border: 1px solid #868e96;
  border-radius: 5px;
  max-height: 135px
}

.profile-picture-upload {
  max-width: 89px;
  max-height: 32px;
}

.profile-picture-upload:hover {
  cursor: pointer;
  background: #868e96;
  color: #FFF;
}

.textarea-input {
  width: 100%;
  border-radius: 6px !important;
  font-size: 13px;
  padding: 9px;
  border: 0.5px solid rgba(0,0,0,0.2);
}