<div class="modal-header m-0 pl-4 pr-4">
    <div class="row m-0 w-100">
        <div class="col-12 pr-0 pl-0 text-center">
            <h3 class="modal-title mb-0 lbl-businessman">Are You Interested?</h3>
        </div>
        <div class="col-12 text-gray text-center" style="font-size: 14px;">Send a message to the businessman.</div>
    </div>
</div>
<div class="modal-body pt-3 pb-3 pl-4 pr-4" style="max-height: 500px; overflow-y: auto !important; overflow-x: auto;">
    <div class="row m-0">
        <div class="col-12 text-left text-dark">
            Enter message here:
        </div>
        <div class="col-12">
            <textarea [(ngModel)]="message" class="w-100 form-control" rows="5" (keydown)="onKeydown($event)"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer pt-3 pb-4 pl-4 pr-4">
    <div class="row m-0 w-100">
        <div class="col-6 pl-0">
            <button type="button" class="btn btn-outline-dark m-0" style="border-radius: 5px !important;" (click)="closeModal()">Close</button>
        </div>
        <div  class="col-6 pr-0">
            <button type="button" class="btn btn-outline-dark m-0 float-right submit-btn" (click)="interestedAction()">Send</button>
        </div>
    </div>
</div>