@keyframes change-background {
  from {
    background-color: linear-gradient(to right, #00cc99 0%, #009999 100%);
  }
  to {
    background-color: linear-gradient(to right, #009999 0%, #00cc99 100%)
  }
}

.body-businessman {
  background: linear-gradient(to right, #00cc99 0%, #009999 100%);
  animation-name: change-background;
  animation-duration: 4s;
}

.add-campaign-btn {
  background: #00cc99;
  border: 0.5px solid #00cc99;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.add-campaign-btn:hover,
.add-campaign-btn:hover .icon-file-add {
  cursor: pointer;
  background: #FFF !important;
  color: #00cc99 !important;
}

.add-ttd {
  border: 1px solid #009999;
  border-radius: 5px;
  border-color: #009999;
  background: #009999;
  color: #FFF;
  font-size: 18px;
}

.add-ttd:hover {
  cursor: pointer;
  background: #FFF;
  color: #009999
}

.businessman-profile:hover {
  cursor: pointer;
  background: linear-gradient(to top right, #00cc66 0%, #0099cc 100%);
  border-radius: 5px 0 0 0;
  border: 0.5px solid #FFF;
  color: #FFF;
  left: 3px;
  top: 3px;
}

.businessman-profile:hover .username,
.businessman-profile:hover .business-name,
.businessman-profile:hover .email {
  cursor: pointer;
  color: #FFF !important;
}

.content-body, .youtuber-content-body {
  height: calc(100% - 67px);
  border-radius: 0px 0px 5px 0px;
}

.content-header {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.5);
  height: 67px;
  border-radius: 0px 5px 0px 0px;
}

.content-wrapper {
  height: calc(100%) !important;
}

.current-page {
  font-size: 23px;
}

.dashboard-container {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -o-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
}

.delete-btn {
  background: red;
  border-radius: 5px;
  border-color: red;
  border: 1px solid red;
  color: #FFF;
}

.delete-btn:hover,
.delete-btn:hover .icon-trash2 {
  cursor: pointer;
  background: #FFF;
  color: red;
}

.form-input {
  border-radius: 6px !important;
}

.form-input {
  font-size: 13px;
  padding: 15px;
  border-radius: 4px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.form-input:focus {
  border: 1px solid #20c997;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.hidden-overflow {
  overflow-y: hidden;
}

.icon-custom {
  color: #009999;
  font-size: 21px;
}

.icon-header {
  font-size: 26px;
  color: gray;
}

.icon-header:hover {
  cursor: pointer;
  color: #00cc99;
}

.icon-file-add {
  font-size: 14px;
  font-weight: bold;
  color: #FFF !important;
}

.icon-trash2 {
  color: #FFF;
  font-size: 20px;
}

.img-user {
  height: 70px;
  width: 70px;
  border-radius: 100px;
}

.paginate-custom {
  background: #FFF;
  border: 1px solid #009999;
  color: #009999;
}

.paginate-custom:hover {
  cursor: pointer;
  background: #009999;
  border: 1px solid #009999;
  color: #FFF;
}

.side-menu-item {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.5);
}

.side-menu-item:hover {
  background: linear-gradient(to top right, #00cc66 0%, #0099cc 100%);
  cursor: pointer;
  border-radius: 3px;
  border-color: #00cc99;
  color: #FFF;
  left: 5px;
  -webkit-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -o-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  transition-timing-function: ease;
}

.side-menu-item:hover .icon-custom {
  color: #FFF;
  cursor: pointer;
}

.side-menu-item-name {
  display: inline-block;
  font-size: 15px;
}

/* YouTuber */

@keyframes youtuber-change-background {
  from {background-color: linear-gradient(to right, #c0392b 0%, #f1c40f 100%) !important}
  to {background-color: linear-gradient(to right, #f1c40f 0%, #c0392b 100%) !important}
}

.youtuber-body {
  background: linear-gradient(to top right, #c0392b 0%, #f1c40f 100%) !important;
  animation-name: youtuber-change-background;
  animation-duration: 4s;
}

.youtuber-profile:hover {
  cursor: pointer;
  background: linear-gradient(to top right, #f1c40f 0%, #c0392b 100%) !important;
  border-radius: 5px 0 0 0;
  border: 0.5px solid #FFF;
  color: #FFF;
  left: 3px;
  top: 3px;
}

.youtuber-profile:hover .username,
.youtuber-profile:hover .business-name,
.youtuber-profile:hover .email {
  cursor: pointer;
  color: #FFF !important;
}

.youtuber-content-header {
  border-bottom: 0.2px solid rgba(0,0,0,0.5); 
  height: 67px;
  border-radius: 0px 5px 0px 0px;
}

.youtuber-current-page {
  font-size: 23px;
}

.youtuber-dashboard-container {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -o-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
}

.youtuber-icon-custom {
  color: #c0392b !important;
  font-size: 21px;
}

.youtuber-icon-header {
  font-size: 26px;
  color: gray;
}

.youtuber-icon-header:hover {
  cursor: pointer;
  color: #c0392b !important;
}

.youtuber-img-user {
  height: 70px; width: 70px; border-radius: 100px;
}

.youtuber-side-menu-item {
  border-bottom: 0.2px solid rgba(0,0,0,0.5);
}

.youtuber-side-menu-item:hover {
  background: linear-gradient(to top right, #c0392b 0%, #f1c40f 100%) !important;
  cursor: pointer;
  border-radius: 3px;
  border-color: #c0392b !important;
  color: #FFF;
  left: 5px;
  -webkit-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -o-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  transition-timing-function: ease;
}

.youtuber-side-menu-item:hover .youtuber-icon-custom {
  color: #FFF !important;
  cursor: pointer;
}

.youtuber-side-menu-item-name {
  display: inline-block;
  font-size: 15px;
}
.color-green{
  color: #009999; 
}
.color-red{
  color: #c0392b;
}
.dropdown-businessman{
  border-bottom: 1px solid #3838380d;
  background: rgba(130, 255, 197, 0.16) !important;
}
.dropdown-seen{
  border-bottom: 1px solid #3838380d;
  background: #fff !important;
}   
.dropdown-youtuber{
  border-bottom: 1px solid #3838380d;
  background:  rgba(249, 172, 76, 0.16) !important;
}

@media (max-width: 576px) {
  .youtuber-side-menu-item-name, .side-menu-item-name {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .youtuber-side-menu-item-name, .side-menu-item-name {
    display: none !important;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 1140px) {}