<html>

<body class="body-businessman p-4 h-100 hidden-overflow" *ngIf="currentUser == 'admin'">
  <router-outlet></router-outlet>
</body>

<body class="body-businessman p-4 h-100 hidden-overflow" *ngIf="currentUser == 'businessman'">
  <!-- Businessman -->
  <div class="content-wrapper">
    <div class="dashboard-container w-100 h-100">
      <div class="row m-0 h-100">
        <div class="col-2 pr-0 pl-0" style="border-right: 0.2px solid rgba(0,0,0,0.5);">
          <div class="h-100">
            <div class="businessman-profile row m-0 pt-4 pb-4" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);" (click)="openProfile()">
              <div class="col-12 pr-0 pl-0 text-center">
                <img src="{{ user_businessman.profile_picture }}" class="img-user" style="object-fit: cover;">
                <div class="username pt-2 text-dark font-weight-bold" style="font-size: 14px;">
                  {{ get_complete_name }}
                </div>
                <div class="business-name text-center text-gray" style="font-size: 11px;">
                  Business: {{ user_businessman.business_name }}
                </div>
                <div class="email text-center text-gray" style="font-size: 11px;">
                  {{ user_businessman.email_address }}
                </div>
              </div>
            </div>
            <div class="row m-0 pb-2">
              <div [routerLink]="['/dashboard']" class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('Dashboard')">
                <div class="text-left">
                  <div class="d-inline-block align-middle">
                    <i class="icon icon-icons2 pr-2 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                  </div>
                  <div class="d-inline-block pl-3 align-middle side-menu-item-name ellipsis" style="width: calc(100% - 41px);">
                    <span>Dashboard</span>
                  </div>
                </div>
              </div>
              <div [routerLink]="['/my-projects']" class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('My Campaigns')">
                <div class="text-left">
                  <div class="d-inline-block align-middle">
                    <i class="icon icon-clipboard-pencil pr-2 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                  </div>
                  <div class="d-inline-block pl-3 align-middle side-menu-item-name ellipsis" style="width: calc(100% - 41px);">
                    <span>My Campaigns</span>
                  </div>
                </div>
              </div>
              <div [routerLink]="['/reports']" class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('Reports')">
                <div class="text-left">
                  <div class="d-inline-block align-middle">
                    <i class="icon icon-graph pr-2 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                  </div>
                  <div class="d-inline-block pl-3 align-middle side-menu-item-name ellipsis" style="width: calc(100% - 41px);">
                    <span>Reports</span>
                  </div>
                </div>
              </div>
              <div class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('Logout')">
                <div class="text-left">
                  <div class="d-inline-block align-middle">
                    <i class="icon icon-exit pr-2 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                  </div>
                  <div class="d-inline-block pl-3 align-middle side-menu-item-name ellipsis" style="width: calc(100% - 41px);">
                    <span>Logout</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10 pr-0 pl-0 h-100">
          <div class="content-header w-100">
            <div>
              <div class="text-left d-inline-block align-middle" style="width: calc(100% - 265px);">
                <span class="current-page font-weight-bold text-dark pt-1 pb-1 pl-3">{{ currentPage }}</span>
              </div>
              <div class="py-3 pr-3 text-right d-inline-block align-middle">
                <ul class="nav navbar-nav d-none d-lg-flex ml-2 ml-0-rtl">
                  <li placement="left" ngbTooltip="Notifications" class="dropdown">
                    <a href="#" class="dropdown-toggle ripple" data-toggle="dropdown" style="height: -webkit-fill-available;">
                      <i class="icon-alarm color-green" style="font-size: 25px"></i>
                      <span *ngIf="notifnotseen > 0" class="badge bg-danger-contrast color-danger"> {{ notifnotseen }}</span>
                    </a>

                    <div class="dropdown-menu dropdown-left dropdown-card animated" style="transform: translate3d(-275px, 34px, 0px) !important;">
                      <div class="card">
                        <header class="card-header d-flex justify-content-between mb-0">
                          <a href="javascript:void(0);">
                            <i class="feather feather-bell color-green" aria-hidden="true"></i>
                          </a>
                          <span class="heading-font-family flex-1 text-center fw-400">Notifications</span>
                        </header>
                        <ul class="card-body list-unstyled dropdown-list-group">
                          <perfect-scrollbar style="max-height: 32em;">
                            <li *ngFor="let notification of notificationList" class="p-0">
                              <a (click)="openNotif(notification)" *ngIf="notification.seen == 0" class="media dropdown-businessman p-4">
                                <span class="d-flex">
                                  <img src="{{ notification.user_img }}" class="img-user" style="object-fit: cover;">
                                </span>
                                <span class="media-body">
                                  <span class="heading-font-family media-heading font-weight-bold">{{ notification.name }}
                                  </span>
                                  <span class="media-content">{{ notification.notif_msg }} in </span>
                                  <span class="media-content font-weight-bold"> {{ notification.notif_subject_name}}</span>
                                </span>
                              </a>
                              <a (click)="openNotif(notification)" *ngIf="notification.seen == 1" class="media dropdown-seen p-4">
                                <span class="d-flex">
                                  <img src="{{ notification.user_img }}" class="img-user" style="object-fit: cover;">
                                </span>
                                <span class="media-body">
                                  <span class="heading-font-family media-heading font-weight-bold">{{ notification.name }}
                                  </span>
                                  <span class="media-content">{{ notification.notif_msg }} in </span>
                                  <span class="media-content font-weight-bold"> {{ notification.notif_subject_name}}</span>
                                </span>
                              </a>
                            </li>

                          </perfect-scrollbar>
                        </ul>
                        <!-- /.dropdown-list-group -->
                        <footer class="card-footer text-center">

                        </footer>
                      </div>
                      <!-- /.card -->
                    </div>
                    <!-- /.dropdown-menu -->
                  </li>
                </ul>
              </div>
              <div class="pl-0 pt-3 pb-3 text-right d-inline-block align-middle">
                <button type="button" class="add-campaign-btn" (click)="addCampaign()">
                  <i class="icon icon-file-add icon-header text-white" style="display: inline-block;"></i>
                  &nbsp; Add Campaign
                </button>
              </div>
            </div>
          </div>
          <div class="content-body w-100" style="border-top: 0.3px solid rgba(0,0,0,0.5); background-color: #f5f7fa;">
            <main class="h-100">
              <router-outlet></router-outlet>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<body class="youtuber-body p-4 h-100 hidden-overflow" *ngIf="currentUser == 'youtuber'">
  <div class="youtuber-dashboard-container w-100 h-100">
    <div class="row m-0 h-100">
      <div class="col-2 pr-0 pl-0" style="border-right: 0.2px solid rgba(0,0,0,0.5);">
        <div class="h-100">
          <div class="youtuber-profile row m-0 pt-4 pb-4" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);" (click)="openYoutuberProfile()">
            <div class="col-12 pr-0 pl-0 text-center">
              <img src="{{google.photoUrl}}" class="youtuber-img-user">
              <div class="username pt-2 text-dark font-weight-bold" style="font-size: 14px;">
                {{google.name}}
              </div>
              <div class="business-name text-center text-gray" style="font-size: 11px;">
                YouTuber
              </div>
              <div class="email text-center text-gray" style="font-size: 11px;">
                {{google.email}}
              </div>
            </div>
          </div>
          <div class="row m-0 pb-2">
            <div [routerLink]="['/youtuber-dashboard']" class="youtuber-side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="youtuberGoTo('Dashboard')">
              <div class="text-left">
                <div class="d-inline-block align-middle">
                  <i class="icon icon-icons2 pr-3 pt-2 pb-2 youtuber-icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="d-inline-block pl-3 align-middle youtuber-side-menu-item-name ellipsis" style="width: calc(100% - 41px);">
                  <span>Dashboard</span>
                </div>
              </div>
            </div>
            <div [routerLink]="['/youtuber-hot-campaigns']" class="youtuber-side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="youtuberGoTo('Hot Campaigns')">
              <div class="text-left">
                <div class="d-inline-block align-middle">
                  <i class="icon icon-star pr-3 pt-2 pb-2 youtuber-icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="d-inline-block pl-3 align-middle youtuber-side-menu-item-name ellipsis" style="width: calc(100% - 41px);">
                  <span>Hot Campaigns</span>
                </div>
              </div>
            </div>
            <div [routerLink]="['/youtuber-my-campaigns']" class="youtuber-side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="youtuberGoTo('My Campaigns')">
              <div class="text-left">
                <div class="d-inline-block align-middle">
                  <i class="icon icon-clipboard-pencil pr-3 pt-2 pb-2 youtuber-icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="d-inline-block pl-3 align-middle youtuber-side-menu-item-name ellipsis" style="width: calc(100% - 41px);">
                  <span>My Campaigns</span>
                </div>
              </div>
            </div>
            <div [routerLink]="['/youtuber-reports']" class="youtuber-side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="youtuberGoTo('Reports')">
              <div class="text-left">
                <div class="d-inline-block align-middle">
                  <i class="icon icon-graph pr-3 pt-2 pb-2 youtuber-icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="d-inline-block pl-3 align-middle youtuber-side-menu-item-name ellipsis" style="width: calc(100% - 41px);">
                  <span>Reports</span>
                </div>
              </div>
            </div>
            <div class="youtuber-side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="youtuberGoTo('Logout')">
              <div class="text-left">
                <div class="d-inline-block align-middle">
                  <i class="icon icon-exit pr-3 pt-2 pb-2 youtuber-icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="d-inline-block pl-3 align-middle youtuber-side-menu-item-name ellipsis" style="width: calc(100% - 41px);">
                  <span>Logout</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 pr-0 pl-0 h-100">
        <div class="youtuber-content-header">
          <div class="align-middle p-3 d-inline-block text-left" style="width: calc(100% - 100px);">
            <span class="youtuber-current-page font-weight-bold text-dark pt-1 pb-1 pl-2">{{ currentPage }}</span>
          </div>
          <div class="align-middle p-3 d-inline-block text-right">
            <ul class="nav navbar-nav ml-2 ml-0-rtl">
              <li placement="left" ngbTooltip="Notifications" class="dropdown">
                <a href="#" class="dropdown-toggle ripple" data-toggle="dropdown" style="height: -webkit-fill-available;">
                  <i class="icon-alarm color-red" style="font-size: 25px"></i>
                  <span *ngIf="notifnotseen > 0" class="badge bg-danger-contrast color-danger"> {{ notifnotseen }}</span>
                </a>
                <div class="dropdown-menu dropdown-left dropdown-card animated" style="transform: translate3d(-275px, 34px, 0px) !important;">
                  <div class="card">
                    <header class="card-header d-flex justify-content-between mb-0">
                      <a href="javascript:void(0);">
                        <i class="feather feather-bell color-red" aria-hidden="true"></i>
                      </a>
                      <span class="heading-font-family flex-1 text-center fw-400">Notifications</span>
                    </header>

                    <ul class="card-body list-unstyled dropdown-list-group">
                      <perfect-scrollbar style="max-height: 32em;">
                        <li *ngFor="let notification of notificationList" class="p-0">
                          <a (click)="openNotif(notification)" *ngIf="notification.seen == 0" class="media dropdown-youtuber p-4" style="cursor: pointer;">
                            <span class="d-flex">
                              <img src="{{ notification.user_img }}" class="img-user" style="object-fit: cover;">
                            </span>
                            <span class="media-body">
                              <span class="heading-font-family media-heading font-weight-bold">{{ notification.name }}</span>
                              <span class="media-content">{{ notification.notif_msg }} in </span>
                              <span class="media-content font-weight-bold"> {{ notification.notif_subject_name}}</span>
                            </span>
                          </a>
                          <a (click)="openNotif(notification)" *ngIf="notification.seen == 1" class="media dropdown-seen p-4">
                            <span class="d-flex">
                              <img src="{{ notification.user_img }}" class="img-user" style="object-fit: cover;">
                            </span>
                            <span class="media-body">
                              <span class="heading-font-family media-heading font-weight-bold">{{ notification.name }}</span>
                              <span class="media-content">{{ notification.notif_msg }} in </span>
                              <span class="media-content font-weight-bold"> {{ notification.notif_subject_name}}</span>
                            </span>
                          </a>
                        </li>
                      </perfect-scrollbar>
                    </ul>
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.dropdown-menu -->
              </li>
            </ul>
          </div>
        </div>
        <div class="youtuber-content-body w-100" style="background-color: #f5f7fa;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</body>

</html>