<div class="p-4" style="height: calc(100%); overflow-y: auto;">
    <i class="icon icon-arrow-left" style="z-index: 1;" (click)="onBack()"></i>
    <div class="row m-0">
        <div class="col-lg-5 col-md-5 col-sm-12 col-12 pl-0">
            <div class="row m-0">
                <div class="col-12 p-0 text-center">
                    <div class="photo-container text-center">
                        <img *ngFor="let campaign_photo of production_campaign.photos" src="{{ campaign_photo.photo }}" class="product-photo pr-1"
                            style="border-radius: 6px;">
                    </div>
                </div>
                <div class="col-12 pr-2 pt-2 text-left">
                    <span class="product-name ellipsis">{{ production_campaign.project_name }}</span>
                </div>
                <div class="col-12 text-left">
                    <span class="text-dark" style="font-size: 18px;">{{ production_campaign.project_description }}</span>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Category</span>
                        </div>
                        <div class="col-7 pl-2 text-left">
                            <span class="product-category pt-1 pb-1 pr-2 pl-2">{{ production_campaign.category_name }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Video Duration</span>
                        </div>
                        <div class="col-7 pl-2 pt-1 text-left">
                            <span class="product-vid-duration" *ngIf="production_campaign.video_duration > 1">{{ production_campaign.video_duration }} mins.</span>
                            <span class="product-vid-duration" *ngIf="production_campaign.video_duration == 1">{{ production_campaign.video_duration }} min.</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Budget</span>
                        </div>
                        <div class="col-7 pl-2 pt-1 text-left">
                            <span class="product-budget">{{ production_campaign.starting_budget }} to {{ production_campaign.ending_budget }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Campaign Deadline</span>
                        </div>
                        <div class="col-7 pl-2 pt-1 text-left">
                            <span class="product-vid-duration">{{ production_campaign.campaign_deadline }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Production Deadline</span>
                        </div>
                        <div class="col-7 pl-2 pt-1 text-left">
                            <span class="product-vid-duration">{{ production_campaign.production_deadline }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-5 pr-2 pt-2 text-left">
                            <span>Current Advertisers</span>
                        </div>
                        <div class="col-7 pl-2 pt-1 text-left">
                            <span class="product-num-advertisers">{{ production_campaign.accepted_advertiser_count }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-12 pr-0 pt-2">
                            <button (click)="reopenCampaign()" class="btn btn-primary text-center" style="border-radius: 6px 0 0 6px !important;" data-toggle="tooltip"
                                data-placement="top" title="Edit Campaign">
                                <i class="icon icon-pencil icon-custom p-2"></i>
                            </button>
                            <button (click)="removeCampaign()" class="btn btn-danger text-center" style="border-radius: 0 6px 6px 0 !important;" data-toggle="tooltip"
                                data-placement="top" title="Delete Campaign">
                                <i class="icon icon-trash2 icon-custom p-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-12 pl-0">
            <div class="row m-0 pt-2">
                <div class="lbl-interested col-12 p-0 pb-1">
                    Interested:
                </div>
                <div class="interested-advertiser col-12 p-3 mb-1" *ngFor="let advertiser of production_campaign.accepted_advertisers">
                    <div class="row m-0">
                        <div class="col-1 p-0 text-center">
                            <img src="{{ advertiser.photoUrl }}" class="rounded-circle" style="width: 50px; height: 50px;">
                        </div>
                        <div class="col-4 pt-1 pl-3" style="overflow-x: auto;">
                            <span class="advertiser-name">
                                <strong class="text-dark text-uppercase" style="font-size: 21px;">{{ advertiser.lastName }}</strong>, {{ advertiser.firstName }}
                            </span>
                        </div>
                        <div class="col-4 pt-2 text-center">
                            <div class="message w-100">
                                <span class="advertiser-name submitted" *ngIf="advertiser.submission_status === 'Submitted'">
                                    Submitted
                                </span>
                                <span class="advertiser-name on-going" *ngIf="advertiser.submission_status === 'On Going'">
                                    On Going
                                </span>
                                <span class="advertiser-name late" *ngIf="advertiser.submission_status === 'Late'">
                                    Late
                                </span>
                            </div>
                        </div>
                        <div class="col-3 pl-0 pr-0 pb-1 text-left">
                            <div class="row m-0 h-100">
                                <div class="col-12 p-0 h-100">
                                    <!-- Not yet rated -->
                                    <button (click)="openRating(advertiser)" class="btn-accept w-100 h-100" data-toggle="tooltip" data-placement="top" title="Rate Advertiser"
                                        *ngIf="advertiser.submission_status === 'Submitted' && advertiser.israted == 0">
                                        <i class="icon icon-star"></i>&nbsp;
                                        <span class="">Rate</span>
                                    </button>
                                    <button class="btn-view-disabled w-100 h-100" data-toggle="tooltip" data-placement="top" title="Rate Advertiser" *ngIf="advertiser.submission_status === 'On Going' && advertiser.israted == 0">
                                        <i class="icon icon-star"></i>&nbsp;
                                        <span class="">Rate</span>
                                    </button>
                                    <button (click)="openRating(advertiser)" class="btn-remove w-100 h-100" data-toggle="tooltip" data-placement="top" title="Rate Advertiser"
                                        *ngIf="advertiser.submission_status === 'Late' && advertiser.israted == 0">
                                        <i class="icon icon-star"></i>&nbsp;
                                        <span class="">Rate</span>
                                    </button>
                                    <!-- Rated already -->
                                    <button class="btn-accept w-100 h-100" data-toggle="tooltip" data-placement="top" title="View Rating" *ngIf="advertiser.submission_status === 'Submitted' && advertiser.israted == 1">
                                        <i class="icon icon-eye"></i>&nbsp;
                                        <span class="">View</span>
                                    </button>
                                    <button class="btn-remove w-100 h-100" data-toggle="tooltip" data-placement="top" title="View Rating" *ngIf="advertiser.submission_status === 'Late' && advertiser.israted == 1">
                                        <i class="icon icon-eye"></i>&nbsp;
                                        <span class="">View</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>