.btn-accept, .btn-view, .btn-remove {
    font-size: 18px;
    color: #FFF;
}

.btn-accept {
    background: #2ecc71;
    border: 1px solid #2ecc71;
    border-radius: 4px;
}

.btn-accept:hover {
    cursor: pointer;
    background: #FFF;
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

.btn-view {
    border-radius: 4px;
    background: #3498db;
    border: 1px solid #3498db;
}

.btn-view-disabled {
    font-size: 18px;
    color:#FFF;
    background: #bdc3c7;
    border: 1px solid #95a5a6;
    border-radius: 4px;
}

.btn-view:hover {
    cursor: pointer;
    background: #FFF;
    border: 1px solid #3498db;
    color: #3498db;
}

.btn-remove {
    background: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 4px;
}

.btn-remove:hover {
    cursor: pointer;
    background: #FFF;
    border: 1px solid #e74c3c;
    color: #e74c3c;
}

.advertiser-name {
    font-size: 17px;
    color: gray;
}

.icon-arrow-left {
    font-size: 24px;
    color: #000;
    position: absolute;
    top: 90px;
    left: 25px;
}

.icon-arrow-left:hover {
    cursor: pointer;
    color: #009999 !important;
}

.icon-custom {
    font-size: 20px;
}

.interested-advertiser {
    border-radius: 6px;
    background: #FFF;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}

.lbl-interested {
    font-size: 20px;
    color: #00cc99;
}

.message {
    overflow-x: auto;
    white-space: nowrap;
}

.photo-container {
    white-space: nowrap;
    overflow-x: auto;
    max-width: 100%;
}

.product-budget, .product-category, .product-num-advertisers, .product-vid-duration {
    font-size: 18px;
}

.product-budget {
    color: #00cc99;
}

.product-category {
    color: #FFF;
    background: #00cc99;
    border-radius: 6px;
}

.product-name {
    font-size: 32px;
    color: #009999;
    font-weight: bold;
}

.product-num-advertisers {
    color: #00cc99;
}

.product-photo {
    width: 150px;
    height: 150px;
    display: inline;
}

.product-vid-duration {
    color: #00cc99;
}

.submitted {
    color: #00cc99;
    text-transform: uppercase;
}

.on-going {
    color: #f1c40f;
    text-transform: uppercase;
}

.late {
    color: #e74c3c;
    text-transform: uppercase;
}