.rate-name {
  font-size: 20px !important;
  font-weight: bold;
}

.rating-container {
  font-size: 42px;
  color: yellow;
}

.thumbnail {
  width: 375px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.video-container {
  max-height: 395px;
  overflow-y: auto;
}

.video-title {
  font-size: 20px;
  color: #c0392b;
}

.video-description {
  font-size: 15px;
  color: #000;
}

.video-note {
  border-radius: 6px;
  border: 1px solid #c0392b;
  color: #c0392b;
  font-size: 20px;
}

.video-stats {
  font-size: 15px;
  color: gray;
}

@media (min-width: 1140px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}