<div class="modal-header m-0">
    <div class="page-one row m-0 w-100">
        <div class="col-12 pr-0 pl-0 text-center">
            <h3 class="modal-title mb-0 lbl-businessman">Businessman Rating</h3>
        </div>
        <div class="col-12 text-gray text-center" style="font-size: 14px;">Enter a rating for the performance of the video being produced.</div>
    </div>
</div>
<div class="modal-body pt-2 pb-2 pr-3 pl-3" style="max-height: 500px;">
    <div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-information-tab" data-toggle="tab" href="#nav-information" role="tab" aria-controls="nav-information" aria-selected="true">Information</a>
                <a class="nav-item nav-link" id="nav-rating-tab" data-toggle="tab" href="#nav-rating" role="tab" aria-controls="nav-rating" aria-selected="false">Rating</a>
            </div>
        </nav>
        <div class="tab-content video-container" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
                <div class="w-100 text-center">
                    <img src="{{ video_details.default_thumbnail }}" class="thumbnail pb-3" (click)="openVideo(video_details.video_id)">
                    <div class="row m-0">
                        <div class="col-12 pt-2 pl-0 pr-0 pb-2 text-left">
                            <span class="video-title"> {{ video_details.video_title }} </span>
                        </div>
                        <div class="col-12 pb-1 text-left">
                            <span class="video-description"> {{ video_details.video_description }} </span>
                        </div>
                        <div class="col-6 p-0 text-left">
                            <i class="icon icon-eye icon-report-custom pr-3"></i>
                            <span class="video-stats text-dark">{{ video_details.views_count }}</span>
                        </div>
                        <div class="col-6 p-0 text-left">
                            <i class="icon icon-thumbs-up icon-report-custom pr-3"></i>
                            <span class="video-stats text-dark">{{ video_details.likes_count }}</span>
                        </div>
                        <div class="col-6 p-0 text-left">
                            <i class="icon icon-bubble icon-report-custom pr-3"></i>
                            <span class="video-stats text-dark">{{ video_details.comments_count }}</span>
                        </div>
                        <div class="col-6 p-0 text-left">
                            <i class="icon icon-thumbs-down icon-report-custom pr-3"></i>
                            <span class="video-stats text-dark">{{ video_details.dislikes_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="nav-rating" role="tabpanel" aria-labelledby="nav-rating-tab">
                <div class="w-100">
                    <div class="row m-0">
                        <div class="col-12 p-0 rate-name text-center text-dark">
                            Engaging
                        </div>
                        <div class="col-12 p-0 text-center">
                            <span>Does the advertisement stop the reader and engage them to learn more about our offering?</span>
                            <ngb-rating class="rating-container" [(rate)]="businessman_rating.engaging"></ngb-rating>
                        </div>
                        <div class="col-12 p-0 rate-name text-center text-dark">
                            Credibility
                        </div>
                        <div class="col-12 p-0 text-center">
                            <span>Does the advertisement make credible claims and back them up? Will your audience believe you?</span>
                            <ngb-rating class="rating-container" [(rate)]="businessman_rating.credibility"></ngb-rating>
                        </div>
                        <div class="col-12 p-0 rate-name text-center text-dark">
                            Impression
                        </div>
                        <div class="col-12 p-0 text-center">
                            <span>Does the advertisement create a lasting impression? Would the ad be remembered in a future survey?</span>
                            <ngb-rating class="rating-container" [(rate)]="businessman_rating.impression"></ngb-rating>
                        </div>
                        <div class="col-12 p-0 rate-name text-center text-dark">
                            Action Oriented
                        </div>
                        <div class="col-12 p-0 text-center">
                            <span>Does the advertisement have a strong, clear, and obvious call-to-action?</span>
                            <ngb-rating class="rating-container" [(rate)]="businessman_rating.action_oriented"></ngb-rating>
                        </div>
                        <div class="col-12 p-0 rate-name text-center text-dark">
                            Significance
                        </div>
                        <div class="col-12 p-0 text-center">
                            <span>Does the advertisement promote features, advantages, and benefits that the target audience cares about?</span>
                            <ngb-rating class="rating-container" [(rate)]="businessman_rating.significance"></ngb-rating>
                        </div>
                        <div class="col-12 p-0 rate-name text-center text-dark">
                            Integrated
                        </div>
                        <div class="col-12 p-0 text-center">
                            <span>Is the advertisement part of an integrated, multi-channel, campaign that reflects our brand & core messaging?</span>
                            <ngb-rating class="rating-container" [(rate)]="businessman_rating.integrated"></ngb-rating>
                        </div>
                        <div class="col-12 p-0 rate-name text-center text-dark">
                            Brand Service
                        </div>
                        <div class="col-12 p-0 text-center">
                            <span>How effectively does the advertisement promote our 'service' brand attribute?</span>
                            <ngb-rating class="rating-container" [(rate)]="businessman_rating.brand_service"></ngb-rating>
                        </div>
                        <div class="col-12 p-0 rate-name text-center text-dark">
                            Brand Innovation
                        </div>
                        <div class="col-12 p-0 text-center">
                            <span>How effectively does the advertisement promote our 'innovation' brand attribute?</span>
                            <ngb-rating class="rating-container" [(rate)]="businessman_rating.brand_innovation"></ngb-rating>
                        </div>
                        <div class="col-12 p-0 rate-name text-center text-dark">
                            Brand Quality
                        </div>
                        <div class="c-xl-8 p-0 text-center">
                            <span>How effectively does the advertisement promote our 'quality' brand attribute?</span>
                            <ngb-rating class="rating-container" [(rate)]="businessman_rating.brand_quality"></ngb-rating>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer p-3">
    <div class="row m-0 w-100">
        <div class="col-6 pl-0">
            <button type="button" class="btn btn-outline-dark m-0" (click)="closeModal()" style="border-radius: 5px !important;">Close</button>
        </div>
        <div class="col-6 pr-0">
            <button type="button" (click)="submitRating()" class="btn btn-outline-dark m-0 float-right submit-btn">Submit</button>
        </div>
    </div>
</div>