/*animation*/
@mixin transition($s){
	-webkit-transition: all $s ease-in-out;
  	-moz-transition: all $s ease-in-out;
  	-o-transition: all $s ease-in-out;
  	transition: all $s ease-in-out;
}
 .animeFast{
 	@include transition(0.15s);
 }
 .anime{
    @include transition(0.25s);
 }
.animeSlow{
	@include transition(0.32s);
 }
.animeSlow2{
    @include transition(0.5s);
}
.animateCubic{
  -webkit-transition: all 400ms cubic-bezier(0.340, 0.335, 0.000, 1); /* older webkit */
-webkit-transition: all 400ms cubic-bezier(0.340, 0.335, 0.000, 1.630);
   -moz-transition: all 400ms cubic-bezier(0.340, 0.335, 0.000, 1.630);
     -o-transition: all 400ms cubic-bezier(0.340, 0.335, 0.000, 1.630);
        transition: all 400ms cubic-bezier(0.340, 0.335, 0.000, 1.630); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.340, 0.335, 0.000, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.340, 0.335, 0.000, 1.630);
   -moz-transition-timing-function: cubic-bezier(0.340, 0.335, 0.000, 1.630);
     -o-transition-timing-function: cubic-bezier(0.340, 0.335, 0.000, 1.630);
        transition-timing-function: cubic-bezier(0.340, 0.335, 0.000, 1.630); /* custom */
}

@mixin transform($transform){
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}


/*hasIntro*/
.hasIntro, .hasIntroGroup>div{
	/* opacity: 0; */
  visibility: hidden;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
  &.visible{
    visibility: visible;
  }
}


/*hasIntro delays*/  
$classSibling: '';
@for $i from 1 through 10 {
	$classSibling: if($classSibling == '', '.hasIntro', $classSibling + ' + .hasIntro');
	#{$classSibling} {
	  	-webkit-animation-delay: .22 * $i + s;
        -moz-animation-delay: .22 * $i + s;
	    animation-delay: .22 * $i + s;
	}
}

/*Grouped - hasIntro delays*/  
.hasIntroGroup{
  $classSibling: '';
  @for $i from 1 through 10 {
    $classSibling: if($classSibling == '', '>div ', $classSibling + ' + div');
    #{$classSibling} {
        -webkit-animation-delay: .22 * $i + s;
          -moz-animation-delay: .22 * $i + s;
        animation-delay: .22 * $i + s;
    }
  }
}




/***********
*
* ANIMATIONS
*
***********/

/*animation mixins*/
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin animation-iteration($animateCount...) {
    $max: length($animateCount);
    $iterationCount: '';

    @for $i from 1 through $max {
        $iterationCount: #{$iterationCount + nth($animateCount, $i)};

        @if $i < $max {
            $iterationCount: #{$iterationCount + ", "};
        }
    }
    -webkit-animation-iteration-count: $iterationCount;
    -moz-animation-iteration-count:    $iterationCount;
    -o-animation-iteration-count:      $iterationCount;
    animation-iteration-count:         $iterationCount;
}

@mixin transform-origin($transform...) {
    $max: length($transform);
    $transformVal: '';

    @for $i from 1 through $max {
        $transformVal: #{$transformVal + nth($transform, $i)};

        @if $i < $max {
            $transformVal: #{$transformVal + ", "};
        }
    }
    -webkit-transform-origin: $transformVal;
    -moz-transform-origin:    $transformVal;
    -o-transform-origin:      $transformVal;
    transform-origin:         $transformVal;
}
@mixin animation-fill($animationFill...) {
    $max: length($animationFill);
    $animationFillVal: '';

    @for $i from 1 through $max {
        $animationFillVal: #{$animationFillVal + nth($animationFill, $i)};

        @if $i < $max {
            $animationFillVal: #{$animationFillVal + ", "};
        }
    }
    -webkit-animation-fill-mode: $animationFillVal;
    -moz-animation-fill-mode:    $animationFillVal;
    -o-animation-fill-mode:      $animationFillVal;
    animation-fill-mode:         $animationFillVal;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
/*sample usage
.theclass {
  @include animation('theanimation .5s 1 .5s');
}

@include keyframes(theClassKeyframe) {
  0%   { left: 100px; }
  100% { left: 200px; }
}

//*/

/*typed-element*/
.typed-cursor {
	opacity: 1;
    @include animation('blink 0.7s infinite');
}
/*blinking*/
@include keyframes(blink) {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*animatiOn keyframes*/
/*slideInUp*/
.slideInUp{
	 @include animation('slideInUpFrame ease-out .3s');
    @include animation-iteration(1);
    @include transform-origin('50% 50%');
    @include animation-fill('forwards');
}

/*slideInUpFrame*/
@include keyframes(slideInUpFrame) {
	0% {
    opacity:0;
    transform:  translate(0px,100px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

/*slideInLeft*/
.slideInLeft{
	@include animation('slideInLeftFrame ease-out .3s');
    @include animation-iteration(1);
    @include transform-origin('50% 50%');
    @include animation-fill('forwards');
}

@include keyframes(slideInLeftFrame) {
  0% {
    opacity:0;
    transform:  translate(-100px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

/*slideInRight*/
.slideInRight{
	@include animation('slideInRightFrame ease-out 1s');
    @include animation-iteration(1);
    @include transform-origin('50% 50%');
    @include animation-fill('forwards');
}

@include keyframes(slideInRightFrame) {
  0% {
    opacity:0;
    transform:  translate(100px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

/*animePulse*/
.animePulse{
    @include animation('animePulseFrame ease-out .75s');
    @include animation-iteration(infinite);
    @include transform-origin('50% 50%');
    @include animation-fill('forwards');
}

@include keyframes(animePulseFrame) {
  0% {opacity:1; @include transform(scaleX(1.00) scaleY(1.00));}
  30% {opacity:.3;@include transform(scaleX(1.30) scaleY(1.30));}
  100% {opacity:1;@include transform(scaleX(1.00) scaleY(1.00));}
}

/*introIn*/
.introInLeft{
  @include animation('introInFrame ease-out .25s');
    @include animation-iteration(1);
    @include transform-origin('50% 50%');
    @include animation-fill('forwards');
}

@include keyframes(introInFrame) {
  0% {
    opacity:0;
    transform:  translate(-50px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}
.introInRight{
  @include animation('introInFrame ease-out .25s');
    @include animation-iteration(1);
    @include transform-origin('50% 50%');
    @include animation-fill('forwards');
}

@include keyframes(introInFrame) {
  0% {
    transform:  translate(0px, 50px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

.login-card{
  background-color:#3299ff;
  position: relative;
  overflow: hidden;
  min-width: 27rem;
}
/* wave animation */
.wave-container{
    width: 100%;
    bottom:0;
    right:0;
    left:0;
    /*position: fixed;*/
    min-height:100vh;
    position: absolute;
    overflow:hidden;
    transform: translate3d(0, 0, 0);
    opacity:1;
    z-index:-1;
  }
  /*.wave-container:after {
    content: '';
    display: block;
    bottom: 0;
    top: 0;
    width: 100%;
    height:100%;
    min-height:100vh;
    background: linear-gradient(to bottom, rgba(white, .7), rgba(#def, 0) 80%, rgba(#8e66ef, .7));
    z-index: -2;
    transform: translate3d(0, 0, 0);
  }*/
  
  .wave {
    opacity: .85;
    position: absolute;
    bottom: 5px; //adjust position of wave;
    left: 50%;
    background:#fff;
    width: 1000px;
    height: 1000px;
    margin-left: -500px;
    margin-top: -500px;
    transform-origin: 50% 46%;
    border-radius: 46%;
    animation: drift 3000ms infinite linear;
  }
  .wave.-two {
    animation-duration: 5000ms;
  }
  .wave.-three {
    animation-duration: 7000ms;
  }
  .wave.-four {
    animation-duration: 9000ms;
    opacity: .05;
  }
  
  
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }