/*
==============================================
0. Resets
1. Font Sizes
2. Colors
2a. Text Colors
2b. Background Colors
2c. Link Colors
3. Text Styles
4. Forms
5. Tables
6. Lists
7. Toggle/Switch Buttons
8. Utilities
9. Background Image 
10. Avatars 
11. FAB Menu 
12. Others 
==============================================
*/

/**************
0. Resets
**************/

/* Reset lists*/
ol,
ul {
  padding: 0;
}

/**************
1. Font Sizes
**************/
.font-opensans {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-xxxs {
  font-size: 8px;
}
.font-xxs {
  font-size: 10px;
}
.font-xs {
  font-size: 12px;
}
.font-sm {
  font-size: 14px;
}
.font-sm2 {
  font-size: 16px;
}
.font-md {
  font-size: 18px;
}
.font-lg {
  font-size: 20px;
}
.font-lg2 {
  font-size: 22px;
}
.font-xlg {
  font-size: 24px;
}
.font-xxlg {
  font-size: 30px;
}
.font-xxxlg {
  font-size: 40px;
}
.font20 {
  font-size: 20px !important;
}

.font-xthin {
  font-weight: 100;
}
.font-thin {
  font-weight: 300;
}
.font-normal {
  font-weight: 300;
}
.font-bold {
  font-weight: 500;
}
.font-italic {
  font-style: italic;
}

/**************
2a. Text Colors
**************/

.text-primary {
  color: $primary;
}
.text-primary2 {
  color: $primary2;
}

.text-white {
  color: $white;
}
.text-litegray {
  color: $litegray;
}
.text-litegray2 {
  color: $litegray2;
}
.text-silver {
  color: $silver;
}
.text-gray {
  color: $gray;
}
.text-gray2 {
  color: $gray2;
}
.text-gray-light {
  color: $gray-light;
}
.text-gray-ligh2t {
  color: $gray-light2;
}
.text-gray-light3 {
  color: $gray-light3;
}
.text-dark {
  color: $dark;
}
.text-black {
  color: $black;
}

.text-blue {
  color: $blue;
}
.text-blue2 {
  color: $blue2;
}
.text-bluegray {
  color: $bluegray;
}
.text-skyblue {
  color: $skyblue;
}
.text-mediumblue {
  color: $mediumblue;
}
.text-purbleblue {
  color: $purbleblue;
}
.text-lightblue {
  color: $lightblue;
}

.text-red {
  color: $red;
}
.text-red2 {
  color: $red2;
}
.text-purple {
  color: $purple;
}
.text-lavander {
  color: $lavander;
}
.text-pink {
  color: $pink;
}
.text-dustryrose {
  color: $dustryrose;
}
.text-rose {
  color: $rose;
}

.text-yellow {
  color: $yellow;
}
.text-coral {
  color: $coral;
}
.text-copper {
  color: $copper;
}
.text-gold {
  color: $gold;
}
.text-darkyellow {
  color: $darkyellow;
}
.text-orange {
  color: $orange;
}

.text-green {
  color: $green;
}
.text-green2 {
  color: $green2;
}
.text-darkgreen {
  color: $darkgreen;
}
.text-lime {
  color: $lime;
}
.text-olive {
  color: $olive;
}
.text-teal {
  color: $teal;
}

/**************
2b. Background Colors
**************/

.bg-primary {
  background-color: $primary;
}
.bg-primary2 {
  background-color: $primary2;
}

.bg-white {
  background-color: $white;
}
.bg-litegray {
  background-color: $litegray;
}
.bg-litegray2 {
  background-color: $litegray2;
}
.bg-gray {
  background-color: $gray;
}
.bg-gray2 {
  background-color: $gray2;
}
.bg-gray-light {
  background-color: $gray-light;
}
.bg-gray-light2 {
  background-color: $gray-light2;
}
.bg-gray-light3 {
  background-color: $gray-light3;
}
.bg-dark {
  background-color: $dark;
}
.bg-black {
  background-color: $black;
}

.bg-blue {
  background-color: $blue;
}
.bg-blue2 {
  background-color: $blue2;
}
.bg-bluegray {
  background-color: $bluegray;
}
.bg-skyblue {
  background-color: $skyblue;
}
.bg-mediumblue {
  background-color: $mediumblue;
}
.bg-purbleblue {
  background-color: $purbleblue;
}
.bg-lightblue {
  background-color: $lightblue;
}

.bg-red {
  background-color: $red;
}
.bg-red2 {
  background-color: $red2;
}
.bg-purple {
  background-color: $purple;
}
.bg-lavander {
  background-color: $lavander;
}
.bg-pink {
  background-color: $pink;
}
.bg-dustryrose {
  background-color: $dustryrose;
}
.bg-rose {
  background-color: $rose;
}

.bg-yellow {
  background-color: $yellow;
}
.bg-coral {
  background-color: $coral;
}
.bg-copper {
  background-color: $copper;
}
.bg-gold {
  background-color: $gold;
}
.bg-darkyellow {
  background-color: $darkyellow;
}
.bg-orange {
  background-color: $orange;
}

.bg-green {
  background-color: $green;
}
.bg-green2 {
  background-color: $green2;
}
.bg-lime {
  background-color: $lime;
}
.bg-olive {
  background-color: $olive;
}
.bg-teal {
  background-color: $teal;
}

/**************
2c. Link Colors
**************/
a {
  color: $primary;

  &.a-white {
    color: #fff !important;
    &:hover {
      color: $primary !important;
    }
  }
  &.a-blue {
    color: $blue !important;
    &:hover {
      color: $primary !important;
    }
  }
  &.a-red {
    color: $red !important;
    &:hover {
      color: $primary !important;
    }
  }
  &.a-litegray {
    color: $litegray;
    &:hover {
      color: $primary;
    }
  }
  &.a-gray {
    color: $gray;
    &:hover {
      color: $primary;
    }
  }
  &.a-gray2 {
    color: $gray2;
    &:hover {
      color: $primary;
    }
  }
  &.a-orange {
    color: $orange;
    &:hover {
      color: $primary;
    }
  }
  &.a-green {
    color: $green;
    &:hover {
      color: $green2;
    }
  }
  &.a-red {
    color: $red2;
    &:hover {
      color: $primary;
    }
  }
  &.a-dark {
    color: $dark;
    &:hover {
      color: $primary;
    }
  }
}

/**************
3. Text Styles
**************/

/*text-transform*/
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-shadow {
  text-shadow: 1px 1px 2px #000;
}
.text-shadow-outline {
  text-shadow: 0 0 3px #000;
}

/*letter spacing*/
.letter-space1 {
  letter-spacing: 1px;
}
.letter-space2 {
  letter-spacing: 2px;
}
.letter-space3 {
  letter-spacing: 3px;
}
.letter-space4 {
  letter-spacing: 4px;
}

/**************
4. Forms
**************/

/* .form-control,
.form-control:focus,
input.form-control:focus,
textarea.form-control:focus{
    background-color: #f4f4f4;
    @include border-radius(3px);
} */
body {
  input.form-control:-webkit-autofill,
  input.form-control:-webkit-autofill:hover,
  input.form-control:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    border-bottom: 1px solid #ddd !important;
  }
}
.form-cozy {
  .form-control {
    &.input-xlg {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    &.col-xs-9 {
      width: 75% !important;
    }
    &.col-xs-10 {
      width: 83.33333% !important;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  .input-group {
    .form-control {
      border-right: transparent;
    }
  }
  .form-group {
    &.form-group-btn {
      .form-control {
        border-radius: 3px 0 0 3px;
      }
      .form-group-btn-addon {
        border-radius: 0 3px 3px 0;
        padding: 13.5px 15px;
      }
    }
  }
  .input-group-addon {
    background-color: #fff !important;
  }

  .form-control:active ~ .form-group-addon,
  .form-control:focus ~ .form-group-addon {
    right: 15px;
    color: #2db754;
    &.addon-left {
      left: 15px;
      right: auto;
    }
  }
  .form-group-addon {
    position: absolute;
    top: 13px;
    right: 10px;
    &.addon-left {
      left: 10px;
      right: auto;
    }
  }
  /*FORM placeholder*/
  ::-webkit-input-placeholder {
    color: #333 !important;
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #333 !important;
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #333 !important;
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
  }

  :-ms-input-placeholder {
    color: #333 !important;
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
  }
  &.form-control-sunken {
    @include box-shadow(1px 2px 3px rgba(0, 0, 0, 0.1) inset !important);
  }
}

/*.form-classic*/
.form-classic {
  .form-group {
    position: relative;
  }
  .form-control,
  input.form-control,
  textarea.form-control {
    background-color: #f9f9f9;
    @include border-radius(0);
    @include box-shadow(none);
    border: 1px solid transparent;
    width: 100%;
  }
  /*form background*/
  .form-control:focus,
  input.form-control:focus,
  textarea.form-control:focus {
    background-color: #f4f4f4;
    @include border-radius(0);
    @include box-shadow(0 1px 7px rgba(10, 10, 10, 0.2) inset);
    border: 1px solid $blue;
  }
  select.form-control option {
    background-color: #fff;
  }
  label {
    font-weight: normal;
  }
  .input-group-addon + .form-control {
    padding-right: 15px;
  }
  .input-group-addon {
    background-color: transparent !important;
    position: absolute;
    right: 10px;
    z-index: 10;
    top: 5px;
    bottom: 0;
    margin: auto;
    display: block;
    border: none !important;
  }
  .form-label,
  > label {
    font-size: 75%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray;
  }

  .form-inline {
    display: table;
    width: 100%;
    &.vmiddle > .form-group > * {
      vertical-align: middle;
    }
    .form-group {
      display: table-row;
      > .form-control,
      > .form-label,
      > label,
      > div {
        display: table-cell;
        margin-bottom: 10px;
        &.vmiddle {
          vertical-align: middle;
        }
      }
    }
  }
  .form-stacked {
    .form-group {
      display: block;
      > .form-control,
      > .form-label,
      > label,
      > div {
        display: block;
        margin-bottom: 2px;
      }
    }
  }
  .form-group.form-inline {
    > .form-control,
    > label {
      display: inline-block !important;
    }
  }
}

/*.form-modern*/
.form-modern {
  .form-group {
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;
    label,
    .form-label {
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 0;
      width: 100%;
      font-weight: 300;
      font-weight: normal;
      opacity: 0.5;
      cursor: text;
      transition: 0.2s ease all;
      margin: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 45%;
        height: 2px;
        width: 10px;
        visibility: hidden;
        background-color: $primary;
        transition: 0.2s ease all;
      }
    }
    &.not-empty {
      label,
      .form-label {
        top: 0;
        font-size: 12px;
      }
    }
    select.form-control option[value=""] {
      /* display:none; */
    }
  }
  .form-control,
  input.form-control,
  textarea.form-control {
    position: relative;
    background-color: transparent;
    @include border-radius(0);
    @include box-shadow(none);
    border: none;
    border-bottom: 1px solid $silver;
    width: 100%;
    z-index: 50;
    &:focus {
      box-shadow: none;
      border-bottom-color: rgba(0, 0, 0, 0.12);
      ~ label,
      ~ .form-label {
        top: 0;
        opacity: 1;
        color: $primary;
        font-size: 12px;
        &:after {
          visibility: visible;
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

/*form-list*/
.form-list {
  display: table;
  width: 100%;
  padding: 0;
  list-style: none;
  & > div,
  & > li {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
  }
  .form-label {
    font-size: 75%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray;
  }
  &.inline > li,
  &.inline > div {
    display: table-row;
    > .form-label,
    > .form-control {
      display: table-cell;
      margin-bottom: 10px;
    }
  }
  &.stacked > li {
    display: block;
    > .form-label {
      margin-top: 5px;
      margin-bottom: 2px;
    }
  }

  &.stacked > li {
    display: block;
    > .form-label {
      margin-top: 5px;
      margin-bottom: 2px;
    }
  }
}

/**************
5. Tables
**************/

/*table sizes variants*/
.table {
  &.table-sm th,
  &.table-sm td {
    padding: 0.3rem !important;
  }
  &.table-md th,
  &.table-md td {
    padding: 0.8rem !important;
  }
  &.table-lg th,
  &.table-lg td {
    padding: 1rem !important;
  }
}
/*table aligment*/
.table {
  /*apply alignment to whole table*/
  &.table-vmiddle td {
    vertical-align: middle;
  }
  /*apply alignment to specific cell*/
  td.vmiddle {
    vertical-align: middle !important;
  }
  td.vtop {
    vertical-align: top !important;
  }
  td.vbottom {
    vertical-align: bottom !important;
  }
}

/*table-cozy*/
.table.table-cozy {
  border-collapse: separate !important;
  border-spacing: 0 5px !important;
  thead tr th {
    border: none;
    font-size: 0.81rem;
    color: rgba(90, 99, 126, 0.49);
    letter-spacing: 1px;
    padding: 0.3rem 1.1rem;
  }
  tbody {
    tr {
      border-radius: 4px;
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }
    tr:hover {
      -webkit-box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
      box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
      -webkit-transform: translateY(-1px) scale(1.01);
      transform: translateY(-1px) scale(1.01);
    }
    td {
      padding: 0.9rem 1.1rem;
      background-color: #fff;
      border: none;
      border-right: 1px solid rgba(0, 0, 0, 0.03);
      &.bolder {
        font-weight: 500;
        font-size: 0.99rem;
      }
      img {
        display: inline-block;
        vertical-align: middle;
      }
      img + span {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
      }
      span + span {
        margin-left: 5px;
      }
      .status-pill + span {
        margin-left: 10px;
      }
      &:first-child {
        border-radius: 4px 0px 0px 4px;
      }
      &:last-child {
        border-radius: 0px 4px 4px 0px;
        border-right: none;
      }
    }
  }
}

/*table-nox*/
.table-nox {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  td {
    border-top-color: $litegray !important;
  }
}
.table-hover > tbody > tr:hover {
  background-color: #fafafa;
}

/**************
6. Lists
**************/

/*.list-option*/
.list-option {
  float: right;
  padding-left: 0;
  list-style: none;
  margin-left: -3px;
  &.list-option-abs {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
  }
  > li {
    display: inline-block;
  }
  &.condensed > li {
    padding-left: 0;
    padding-right: 0;
  }
  > li > a {
    opacity: 0.5;
  }
  > li > a:not([class*="btn-"]) {
    color: #777;
  }
  > li > a:hover:not([class*="btn-"]) {
    color: $dark;
    opacity: 1 !important;
  }
  &.list-option-lite > li > a {
    color: #ffffff;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  &.list-option-xs > li > a {
    border: none;
    padding: 0 2px;
  }
  &.list-option-sm > li > a {
    padding: 5px 8px;
  }
  &.list-option-md > li > a {
    padding: 5px 8px;
  }
  &.list-option-xs > li > a,
  &.list-option-sm > li > a,
  &.list-option-md > li > a {
    border: 1px solid #ccc;
    background-color: #fff;
    @include border-radius(2px);
  }
  &.list-option-xs > li > a:hover,
  &.list-option-sm > li > a:hover,
  &.list-option-md > li > a:hover {
    border-color: $dark;
  }
  .dropdown {
    .dropdown-menu {
      min-width: inherit;
      right: -15px;
      @include border-radius(2px);
    }
    a:not[class*="font-"] {
      font-size: 12px;
    }
  }
  @at-root .list-option-hovered {
    .list-option > li > a {
      opacity: 0 !important;
      display: block;
      @extend .animateCubic;
      @include transform(translate(0px, 20px));
    }
    &:hover .list-option > li > a,
    &.display-icon .list-option > li > a {
      opacity: 1 !important;
      @include transform(translate(0px, 0px));
    }
    .list-option {
      /*hasIntro delays*/
      $lioption: "";
      @for $i from 0 through 4 {
        $lioption: if($lioption == "", "li", $lioption + " + li");
        #{$lioption} > a {
          -webkit-transition-delay: 0.15 * $i + s;
          -moz-transition-delay: 0.15 * $i + s;
          transition-delay: 0.15 * $i + s;
        }
      }
    }
  }
  @at-root .list-option.faded > li > a {
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
}

/*list-icon*/
.list-icon {
  list-style: none;
  li > a,
  li > div {
    display: block;
    padding: 5px 0;
    overflow: hidden;
  }
  li {
    padding-left: 10px;
  }
  li .fa {
    margin-left: -10px;
    margin-right: 5px;
    float: left;
    width: 30px;
    text-align: center;
  }
  &.padded li {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  &.font-xs li {
    .fa {
      width: 15px;
      margin-top: 2px;
    }
  }
}

/*list-info*/
.list-info {
  > li {
    padding: 10px 0 10px 30px;
    position: relative;
  }
  > li:before {
    content: "";
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    background: #337ab7;
    z-index: 1px;
  }
  > li:first-child:before {
    top: 15px;
  }
  > li:last-child:before {
    height: 15px;
  }
  > li:after {
    content: "";
    width: 11px;
    height: 11px;
    display: block;
    position: absolute;
    left: 5px;
    top: 15px;
    background: #fff;
    border: 2px solid #337ab7;
    z-index: 5;
    @include border-radius(50%);
  }
}

/*list-table*/
.list-table {
  display: table;
  width: 100%;
  padding: 0;
  list-style: none;
  &.mb0 {
    margin-bottom: 0;
  }
  & > li {
    display: table-row;
  }
  & > li > div {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
  }
  .list-table > li > div {
    padding: 0;
  }
  .list-table-label {
    font-size: 75%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray;
  }
  &.list-table-bordered > li > div {
    border-bottom: 1px solid #fafafa;
    padding: 10px 5px;
  }
  & > li.divider > div {
    padding: 0;
    height: 30px;
    line-height: 0px;
    font-size: 0px;
    position: relative;
  }
  & > li.divider > div:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #eee;
    width: 100%;
    margin: auto;
    margin-top: 50%;
  }
}

/*activity-list*/
.activity-list-wrap > li {
  &:last-child {
    border-bottom: none;
  }
  .activity-list {
    float: none;
    clear: both;
    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
  }
}

.timeline {
}
.timeline > li {
  padding: 10px 0 10px 30px;
  position: relative;
}
.timeline .timeline-body {
  margin-left: 30px;
}

.timeline > li > .photo-box {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  background: #fff;
  border: 2px solid #9fd6ea;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  z-index: 5;
}
.timeline > li:before {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  left: 29px;
  top: 0;
  bottom: 0;
  background: #9fd6ea;
  z-index: 1px;
}
.timeline > li:first-child:before {
  top: 15px;
}
.timeline > li:last-child:before {
  height: 15px;
}

/* media-list */
$mediaImageW: 120px;
.media-list {
  list-style: none;
  .media-img {
    float: left;
    overflow: hidden;
    width: $mediaImageW;
    @include border-radius(2px);
    img {
      display: block;
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }
  .media-content {
    /* overflow:hidden; */
    margin-left: 15 + $mediaImageW;
    .media-title {
      font-size: 16px;
      color: $dark;
    }
    .media-title:hover {
      color: $blue;
    }
    .media-desc {
      font-size: 12px;
    }
  }
  .media-meta {
    margin-top: 5px;
  }
}

/**************
7. Toggle/Switch Buttons
**************/

/* switch toggle */
.switch-group {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  align-items: center !important;
  -webkit-align-items: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  /*-webkit-justify-content: space-between !important;
    justify-content: space-between !important;*/

  .switch-desc {
    padding: 0 3px 0 5px;
    font-size: 90%;
  }
  .switch-input {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-bottom: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
    @extend .animeFast;
  }
  .switch-label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  .switch-input:checked + .switch-label,
  .switch-input:checked ~ .switch-label {
    background: $green2;
  }
  .switch-input:checked + .switch-label:after,
  .switch-input:checked ~ .switch-label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  .switch-label:active:after {
    width: 20px;
  }
  /* small switch */
  &.switch-group-sm {
    .switch-desc {
      font-size: 70%;
    }
    .switch-label {
      width: 30px;
      height: 14px;
    }
    .switch-label:after {
      width: 10px;
      height: 10px;
    }
    .switch-input:checked + .switch-label,
    .switch-input:checked ~ .switch-label {
      background: $green2;
    }
    .switch-label:active:after {
      width: 15px;
    }
  }
}

/* btn-group-toggle */
.btn-group {
  &.btn-group-toggle {
    .btn-default {
      background-color: #eee;
      color: $gray;
      border: 1px solid $gray;
      &.active {
        background-color: $primary;
        color: #fff;
        border-color: transparent;
        @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.1) inset);
      }
    }
  }
}

/*custom checkbox*/
.custom-control-input:checked ~ .custom-control-indicator {
  color: #fff;
  background-color: $primary;
}

/**************
8. Utilities
**************/

/* opacity */
.opacity1 {
  opacity: 0.1;
}
.opacity2 {
  opacity: 0.2;
}
.opacity3 {
  opacity: 0.3;
}
.opacity4 {
  opacity: 0.4;
}
.opacity5 {
  opacity: 0.5;
}
.opacity6 {
  opacity: 0.6;
}
.opacity7 {
  opacity: 0.7;
}
.opacity8 {
  opacity: 0.8;
}

/*ellipsis*/
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.block-ellipsis,
.block-ellipsis-2,
.block-ellipsis-4,
.block-ellipsis-5,
.block-ellipsis-6 {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  max-height: 55px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block-ellipsis-3 {
  max-height: 37px;
  -webkit-line-clamp: 3;
}
.block-ellipsis-4 {
  max-height: 73px;
  -webkit-line-clamp: 4;
}
.block-ellipsis-5 {
  max-height: 92px;
  -webkit-line-clamp: 5;
}
.block-ellipsis-6 {
  max-height: 110px;
  -webkit-line-clamp: 6;
}

/*blur*/
body.modal-open #main {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.blur-img {
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
}

/*rotate vertical*/
.rotate_vertical {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.img-cover {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

/**************
9. Background Images
**************/

.bg-cover,
.fullBG {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-contain {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.bg-fit {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  &.bg-fit-height {
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
  }
  > *:not(.bg-overlay) {
    position: relative;
    z-index: 10;
  }
}
.bg-fill {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 130%;
  -moz-background-size: 130%;
  -o-background-size: 130%;
  background-size: 130%;
  > *:not(.bg-overlay) {
    position: relative;
    z-index: 10;
  }
}

/**************
12. FAB Menu
**************/

//vars
$fab-menu-items: 5;
$fab-size: 60px;

%goo {
  //filter:url('#shadowed-goo');
  filter: url("#goo");
}
%fab-item-shape {
  background: $coral;
  border-radius: 100%;
  width: $fab-size;
  height: $fab-size;
  line-height: $fab-size;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  transform: translate3d(0, 0, 0);
  //transition:transform ease-out 200ms;
  @extend .animateCubic;
  @include box-shadow(0 1px 10px rgba(30, 30, 30, 0.2));
  &:hover {
    @include box-shadow(0 3px 15px -5px rgba(30, 30, 30, 0.4));
  }
}
.fab-menu-checkbox {
  display: none;
}
.fab-menu-item {
  @extend %fab-item-shape;
}
.fab-hamburger {
  $width: 5px;
  $height: 5px;
  width: $width;
  height: $height;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  @extend .anime;
  @include border-radius(10px);
  &.fab-hamburger-1 {
    transform: translate3d(0, -9px, 0);
  }
  &.fab-hamburger-2 {
    transform: translate3d(0, 0, 0);
  }
  &.fab-hamburger-3 {
    transform: translate3d(0, 9px, 0);
  }
}

.fab-menu-checkbox:checked + .fab-menu-toggle-button {
  .fab-hamburger {
    @include border-radius(0px);
    $width: 25px;
    $height: 3px;
    width: $width;
    height: $height;
    margin-left: -$width/2;
    margin-top: -$height/2;
  }
  .fab-hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .fab-hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .fab-hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
.fab-menu {
  @extend .animeSlow2;
  //@extend %goo;
  width: $fab-size;
  height: $fab-size;
  position: fixed;
  right: 20px;
  bottom: 40px;
  /*margin-left:-$fab-size;
  padding-left:$fab-size;*/
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  z-index: 950;
}

.fab-menu-item {
  transform: rotate(-90deg);
  &:hover {
    color: white;
    -webkit-transition-delay: 0ms !important;
    transition-delay: 0ms !important;
  }
  @for $i from 1 through $fab-menu-items {
    &:nth-child(#{$i + 2}) {
      -webkit-transition-delay: (50ms * $i) !important;
      transition-delay: (50ms * $i) !important;
    }
  }
  &:hover:before {
    visibility: visible;
    opacity: 1;
    right: 100%;
  }
  &:before {
    content: attr(fab-label);
    @extend .anime;
    display: block;
    @include border-radius(20px);
    //border-radius: (4px 20px 20px 4px);
    line-height: normal;
    position: absolute;
    top: 40%;
    top: calc(50% - 10px);
    right: 10%;
    opacity: 0;
    padding: 5px 7px;
    margin-right: 5px;
    background: inherit;
    background: rgba(10, 10, 10, 0.8);
    background: $coral;
    color: #fff;
    font-size: 12px;
    visibility: hidden;
    white-space: nowrap;
  }
}

.fab-menu-toggle-button {
  @extend %fab-item-shape;
  z-index: 2;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  &:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }
}
.fab-menu-checkbox:checked {
  & + .fab-menu-toggle-button {
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    background-color: $red2;
  }
  & ~ .fab-menu-item {
    @extend %goo;
    @for $i from 1 through $fab-menu-items {
      &:nth-child(#{$i + 2}) {
        transform: translate3d(0, (-70px * $i), 0) rotate(0deg);
      }
    }
  }
}

/**************
11. Avatars
**************/
.avatar-container {
  display: flex;
  align-items: center;
  .avatar {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgba(51, 153, 253, 0.2);
    background-color: rgba(51, 153, 253, 0.2);
    color: $primary2;
    overflow: hidden;
    float: left;
    text-align: center;
    margin-right: 10px;
    @include border-radius(50%);
    @extend .animeFast;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

    img {
      vertical-align: top;
    }
  }
  a {
    display: block;
    height: 100%;
    &.no-image {
      line-height: 40px;
    }
  }
  a:hover {
    color: $primary2;
  }
  .avatar-label {
    color: $dark;
    line-height: normal;
    @extend .anime;
  }
  .avatar-title {
    font-weight: bold;
    display: block;
  }
  &:hover {
    .avatar {
      @include transform(translateX(5px));
    }
    .avatar-label {
      color: $primary;
      @include transform(translateX(3px));
    }
  }
  &.no-animation {
    .avatar,
    .avatar-label {
      @include transition(0s);
      @include transform(translateX(0));
    }
  }
}

/**************
12. Others
**************/

/*reply-box*/
.reply-box {
  position: relative;
  padding: 15px;
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}
.reply-box .reply-box-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  margin: auto;
  padding: 15px;
}
.reply-box-field {
  padding-right: 30px;
}

/*PHOTO-BOX*/
.photo-box {
  border: 4px solid #f1f3f4;
  display: block;
  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
  @include border-radius(50%);
  @include transition(0.1s);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  &.photo-box-hovered:hover {
    border: 8px solid white;
  }
  img {
    position: relative;
    z-index: 0;
  }
  &.photo-box-xxs,
  &.photo-box-xxs:after {
    width: 24px;
    height: 24px;
    border-width: 2px;
  }
  &.photo-box-xs,
  &.photo-box-xs:after {
    width: 32px;
    height: 32px;
    border-width: 2px;
  }
  &.photo-box-sm,
  &.photo-box-sm:after {
    width: 50px;
    height: 50px;
  }
  &.photo-box-md,
  &.photo-box-md:after {
    width: 90px;
    height: 90px;
  }
  &.photo-box-lg,
  &.photo-box-lg:after {
    width: 120px;
    height: 120px;
  }
}

/*collapsible*/
.collapsible {
  &.panel {
    margin-bottom: 5px;
  }
  .collapsible-item,
  .collapsible-header {
    position: relative;
  }
  .collapsible-header .list-option {
    margin-top: 11px;
    margin-right: 10px;
    margin-left: 15px;
  }
  .opened .list-option.pull-left .fa {
    @include transform(rotate(90deg));
  }
  .collapsible-title {
    display: block;
    padding: 10px 15px;
    font-weight: 700;
    &:hover {
      background-color: #fafafa;
    }
  }
  .collapsible-content {
    padding: 15px;
    display: none;
    border-top: 1px solid #f9f9f9;
    overflow: hidden;
    width: 100%;
  }
}
/*card-collapsible*/
.collapsible .collapsible-header {
  position: relative;
}
.collapsible .collapsible-btn {
  color: #ccc;
  display: inline-block;
}
.collapsible.opened .collapsible-btn {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/*bg-overlay*/
.bg-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 10, 15, 0.2);
  z-index: 0;

  &.dark {
    background-color: rgba(0, 10, 15, 0.4);
  }
  &.darker {
    background-color: rgba(0, 10, 15, 0.6);
  }
  &.darker2 {
    background-color: rgba(0, 10, 15, 0.9);
  }
  &.bg-white {
    background-color: rgba(255, 255, 255, 0.75);
  }
  &.bg-whiter {
    background-color: rgba(255, 255, 255, 0.9);
  }
  &.bg-gradient {
    top: auto;
    width: 100%;
    height: 70%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }
  &.bg-gradient.h100 {
    height: 100%;
    opacity: 0.5;
  }
}

/* gradient */
.dark-gradient {
  @include linearGradient(top, #444444, #222222);
}

/* bg gradient */
.bg-gradient-dark {
  // background: #333333 url("../assets/img/bg-gradient-dark.png") repeat-x !important;
  background-size: auto 100% !important;
}

/*btn-add-another*/
.btn-add-another {
  display: block;
  padding: 15px;
  color: $gray;
  border: 1px dashed $gray;
  @include border-radius(4px);
  &:hover {
    color: $primary;
    border-color: $primary;
  }
  &.btn-add-another-sm {
    padding: 10px;
    font-size: 85%;
  }
}

/*photo-grid*/
.photo-grid {
}
.photo-grid-item {
  background: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  height: 218px;
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}
.photo-grid-item img {
  display: block;
  max-width: 120%;
  height: auto;
}
.photo-grid-item.sqr-img img {
  width: auto;
  max-width: inherit;
  height: auto;
  max-height: 120%;
}

/* photo-slider-wrap */
.photo-slider-wrap {
  width: 100%;
  background-color: #333;
  .bx-wrapper {
    border: none;
    margin-bottom: 0;
    @include box-shadow(none);
    .bx-controls-auto {
      text-align: left;
      top: 2px;
      left: 0;
    }
    .bx-controls-direction > a {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    .bx-prev {
      // background: url(../assets/img/arrow-carousel-left-lite.png) 50% 50%
      //   no-repeat;
    }
    .bx-next {
      // background: url(../assets/img/arrow-carousel-right-lite.png) 50% 50%
      //   no-repeat;
    }
    .photo-slider-item {
      position: relative;
    }
    .photo-slider-info {
      color: #fff;
      text-shadow: 1px 1px 0 #000;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    }
    .photo-slider-img:before {
      content: "";
      opacity: 0;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      z-index: 10;
      @extend .anime;
    }
    .photo-slider-item:hover .photo-slider-img:before {
      opacity: 0.3;
    }
  }
  .bx-pager {
    position: absolute;
    bottom: 20px;
    right: 15px;
    z-index: 5;
    width: auto;
    &.bx-default-pager a {
      border: 1px solid #fff;
      opacity: 0.3;
      background-color: transparent;
      @extend .animeFast;
      &:hover {
        opacity: 1;
      }
      &.active {
        border: 3px solid $blue;
        opacity: 1;
        background-color: transparent;
      }
    }
  }
  .photo-slider-info {
    text-shadow: 1px 1px 0 #000;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  }

  /*photo-slider-phototext*/
  &.photo-slider-phototext {
    .photo-slider-info {
      text-shadow: none;
      height: 13.8em;
      overflow: hidden;
    }
    .photo-meta {
      position: absolute;
      bottom: 15px;
      width: 100%;
    }
    .bx-controls-direction > a {
      padding: 10px 8px;
      top: 25%;
      opacity: 1;
      background-color: #fff;
      @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
      @extend .anime;
      &:hover {
        background-color: $blue;
      }
    }
    .bx-prev {
      left: -3px;
      // background-image: url(../assets/img/arrow-carousel-left.png);
    }
    .bx-next {
      right: -3px;
      // background-image: url(../assets/img/arrow-carousel-right.png);
    }
    .bx-pager {
      display: none;
    }
  }
}

/* .has-desc */
.has-desc {
  margin-bottom: -5px;
}

/*line-height*/
.line-height-normal {
  line-height: normal !important;
}
