/*
==============================================
 CUSTOM LIB STYLES

1. Bootstrap Overrides
2. Bootstrap-select
3. DataTables
4. Scrollbar
5. Slick Slider
6. Jarallax
==============================================
*/

/**************
1. Bootstrap Overrides
**************/

/* row */
.row{
  margin-left: -15px;
    margin-right: -15px;
    > *[class*='col-']{
      padding-left: 15px;
      padding-right: 15px;
    }
  &.pad-none{
    margin-left: 0;
    margin-right: 0;
    > *[class*='col-']{
      padding-left: 0;
      padding-right: 0;
      >.card-nox{
        margin-bottom: 0;
      }
    }
  }
  &.pad-xs{
    margin-left: -4px;
    margin-right: -4px;
    > *[class*='col-']{
      padding-left: 4px;
      padding-right: 4px;
      >.card-nox{
        margin-bottom: 8px;
      }
    }
  }
  &.pad-sm{
    margin-left: -8px;
    margin-right: -8px;
    > *[class*='col-']{
      padding-left: 8px;
      padding-right: 8px;
      >.card-nox{
        margin-bottom: 16px;
      }
    }
  }
  &.pad-md{
    margin-left: -12px;
    margin-right: -12px;
    > *[class*='col-']{
      padding-left: 12px;
      padding-right: 12px;
      >.card-nox{
        margin-bottom: 24px;
      }
    }
  }
  &.pad-lg{
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    > *[class*='col-']{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      >.card-nox{
        margin-bottom: 3rem;
      }
    }
  }
}

/*cards*/
.card{
  background:#fff;
  @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.06));
  &.card-nox{
    position: relative;
    border:0;
    margin-bottom:2rem;
    @include border-radius(3px);
  }
  &.card-dark{
    color:#fff;
    .list-option{
      @extend .list-option-lite;
    }
  }
  .card-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .card-title{
    font-size: 18px;
    margin-top:15px;
    margin-bottom: 0;
  }
  .card-bordered{
    border:1px solid #696969;
  }
  .card-title-label{
    display: inline-block;
    margin-top:0;
  }
  &.card-hover{
    @extend .animeFast;
    &:hover{
      @include box-shadow(1px 3px 15px -3px rgba(0, 0, 0, 0.4));
      @include transform( translate(0px, -5px));
    }
  }
  &.card-hover2{
    @extend .animeFast;
    @include box-shadow(0px 5px 25px rgba(0, 0, 0, .12));
    &:hover{
      @include box-shadow(0px 10px 15px rgba(0, 0, 0, .12));
      @include transform( translate(0px, -3px));
    }
  }
  &.card-soft{
    @include box-shadow(0px 1px 20px rgba(0, 0, 0, .1));
  }
}
.card-soft{
  .card-nox{
    @include box-shadow(0px 1px 20px rgba(0, 0, 0, .1));
  }
}

/*form-control*/
.form-control{
  color:$dark;
  border-color:#d2d2d2;
  background-color:#fafafc;
  @include box-shadow(0px 1px 5px rgba(0, 0, 0, .1) inset);
  &:hover,&:focus{
    color:$dark;
  }
}
label{
  color: $gray2;
  font-weight: normal;
}
/*.form-material*/
.form-material{
  .form-group.input-has-value > label,
  .form-group.input-focused > label{
    font-size: 65%;
    letter-spacing: 1px;
  }
  ::placeholder {
    color: #ddd;
  }
  :-ms-input-placeholder {
    color: #ddd;
  }
  ::-ms-input-placeholder {
    color: #ddd;
  }
}

/*dropdown*/
.dropdown-menu{
  a>.fa{
    text-align: center;
    margin-right:5px;
    min-width:25px;
    @extend .text-gray;
  }
  &.pull-center{
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
    li{
      text-align: left;
    }
  }
  /*active*/
  >.active>a{
    background-color: #fafafa;
    color:#337ab7;
    position: relative;
  }
  >.active>a:after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:3px;
    background-color:#337ab7;

  }
  &.dropdown-menu-wide{
    width: 320px;
    min-width: 0;
  }
  &.dropdown-menu-list>li{
    border-bottom: 1px solid #e7e7e7;
    >a{
      padding:10px 20px;
    }
  }
  &.dropdown-menu-list>li:last-child{
    border-bottom: none;
  }
}

/* badge */
.badge{
  &.badge-light{
    color:$gray2;
    font-weight:normal;
    background-color: $litegray;
  }
  &.badge-danger{
    color:$white;
    background-color: $red;
  }
  &.badge-success{
    color:$white;
    background-color: $green2;
  }
}

.checkbox .label-text{
  display: inline-block;
}

/*nav-tabs-nox*/
.nav-tabs-nox{
  border-bottom:2px solid $primary;
  background-color:  $litegray !important;
  width: 100%;
  >li{
    margin-bottom: 0px;
    display: table-cell;
    width: 1%;
    float: none;
    >a{
      color:$dark; 
      border:none;
      border-bottom:2px solid $primary;
      margin-bottom: -2px;
      text-align:center;
      background-color:  $litegray !important;
      border-radius: 0 !important;
     &:hover{
        color:#fff !important;
        background-color: #fafafa !important;
      }

    }
    >a:hover,
    &.active>a,&.active>a:focus, &.active>a:hover{
      color:#fff;
      background-color:$primary !important;
      border:none !important;
      border-bottom:2px solid $primary !important;
    }
  } 
}

/*nav-nox*/
.nav.nav-nox{
  a{
    margin-bottom: 5px;
  }
  .active{
    margin-bottom: 5px;
    a,a:hover{
      color:#fff !important;
      background-color:$primary !important;
      cursor:default;
    }    
  }
}

.nav-tabs-sc {
	.nav-item.active{
		border:0 !important;
	}
	.nav-item {
		a{
      font-size: 0.75rem !important;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      color: $gray;
      line-height: 4;
      padding: 0px 1.5rem;
		  border: 0 !important;
			border-bottom: 3px solid transparent !important;

      &:not(.active):not(:hover){
        .badge{
          background-color: #b0b0b0;
        }
      }
		}
		a.active,
		&.active a,
		&.active a:hover{
        background-color:transparent !important;
		    border-color: $primary2 !important;
		    color: $dark;
		}
		a:hover{
      background-color:transparent !important;
			border-color: $primary !important;
		}
		.badge{
		    height: 23px;
		    width: 23px;
		    text-align: center;
		    vertical-align: middle;
		    padding: 0;
		    line-height: 23px;
		    margin-right: 5px;

		}
  }
  &.nav-tabs-sm{
    .nav-item {
      a{
        font-size:0.6875rem !important;
        padding: 0px 1rem;
      }
      .badge{
          height: 18px;
          width: 18px;
          line-height: 18px;
      }
    }
  }
}

 /*progressbar*/
.progress{
  &.progress-sm{
    margin-bottom: 0;
    height:5px;
    background-color: #f0f0f0;
  }
  &.progress-md{
    margin-bottom: 0;
    height:10px;
    background-color: #aaa;
  }
  &.progress-md{
      line-height: 10px;
    }
  &.progress-xs{
    margin-bottom: 0;
    height:5px;
    background-color: #ddd;
  }
  &.progress-xxs{
    margin-bottom: 0;
    height:3px;
    background-color: #ccc;
  }
}

/* bootstrap button */
.btn-md, .btn-group-md > .btn, .all-wrapper .btn-group-md > .fc-button {
    padding: 0.35rem 0.7rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
}

/*dropdown */
.dropdown-item {
  width:auto;
}
.dropdown-toggle.no-caret::after{
    border:none;
}

/*popovers*/
.popover {
   &.left>.arrow{
      position:absolute;
      width:0;
      height:0;
      border:10px solid transparent;
      border-left-color:white;
      left:100%;
      top:40%;
      top: calc(50% - 10px); 
   }
}

/*select-add-btn*/
.select-add-btn{
  text-align: right;
  color:#337ab7 !important;
  display: block;
  padding:5px 10px;
  font-size: 80%;
}
  .select-add-btn{
    color:#3e9ad9 !important;
  }

/*MODALS*/
/*.modal{*/
  .modal-header-bg{
    position: relative;
    z-index: 0;
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 132px;
      opacity: .1;
      @include linearGradient(bottom,#bcbdbe, #ecedee);
      z-index: -1;
    }
      &.modal-header-primary:before{
        @include linearGradient(bottom,$primary2, $primary);
      }
      &.modal-header-success:before{
        @include linearGradient(bottom,#5cdd3b, #b6f074);
      }
      &.modal-header-info:before{
        @include linearGradient(bottom,#2ea9e2, #8c60f3);
      }
      &.modal-header-alert:before{
        @include linearGradient(bottom,#f3cf3d, #f8e59b);
      }
      &.modal-header-danger:before{
        @include linearGradient(bottom,#f08c7e, #f8bfb8);
      }
      /* Modal Header BG : with tabs */
      &.modal-header-wtab{
        &:before{
          height:175px;
        }
      }

    .nav-tabs{
      border-color:transparent;
      .nav-link,.nav-link:hover,.nav-link.active{
        color:$dark;
      }
      .nav-link.active,.nav-link.active:hover{
        background:#fff;
        box-shadow:6px 0px 8px -5px rgba(100,100,100,.1);
      }
      .nav-link:hover{
        background:rgba(255,255,255,.5);
        box-shadow:6px 0px 8px -5px rgba(100,100,100,.1);
      }
     .nav-link:hover,.nav-link.active{
        color:$dark;
        border-color:transparent;
        >span,>small{
          color:$dark;
        }
      }
    }  
  }
/*}*/
.modal-backdrop {
    //background-image:url(/img/pattern/twinkle_twinkle.png);
    /*background-image: url(/img/pattern/squairy.png);*/

    &.in {
        /*opacity: .75 !important;*/
    }
}


/**************
2. Bootstrap-select
**************/

/*.bootstrap-select */
.bootstrap-select {
  position: relative;
}
.bootstrap-select .bs-searchbox:after{
    font-family: FontAwesome;
    content: '\f002';
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
  }


  /*.form-simple bootstrap-select*/
.select-simple.bootstrap-select>button,
.form-simple .bootstrap-select>button{
  border:none;
}
  .select-simple.bootstrap-select li.selected a,
  .form-simple .bootstrap-select li.selected a{
    background-color:#337ab7;
    color: #fff;
  }
  .bootstrap-select.btn-group .dropdown-toggle .filter-option{
    color: $dark;
    font-weight: 700;
  }

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
  background-color: transparent;
}  

/*datepicker*/
.form-group .date-input:before{
  content:'\e789';
  font-family: 'smartstartIcons' !important;
}  

/**************
3. DataTables
**************/

/* datatable */
.dataTables_wrapper.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
table.dataTable,table.table-collapse{
    border-collapse: collapse !important;
}
 div.dataTables_wrapper div.dataTables_filter {
      text-align: left !important;
  }

/**************
4. Scrollbar
**************/

/*scrollbar*/
.scrollbar-inner{

  > .scroll-element.scroll-y{
    width:3px;
    @extend .animeFast;
    opacity: .2;
    &.scroll-left{
      right:auto;
      left:2px;
    }
  }
  &:hover> .scroll-element.scroll-y{
    opacity: 1;
  }
  > .scroll-element .scroll-element_track{
    background-color:rgba(0,0,0,.1) !important;
  }
  .scroll-bar{cursor: n-resize; }
  .scrollbarH-xxs{
    height: 120px;
  }
  .scrollbarH-xs{
    height: 150px;
  }
  .scrollbarH-sm{
    height: 180px;
  }
  .scrollbarH-sm2{
    height: 200px;
  }
  .scrollbarH-md{
    height: 230px;
  }
  .scrollbarH-md2{
    height: 250px;
  }
  .scrollbarH-lg{
    height: 300px;
  }
  .scrollbarH-lg2{
    height: 350px;
  }
  &.dark > .scroll-element{
    /* .scroll-bar{
      background-color:#333;
    } */
    .scroll-element_track{
      background-color:rgba(0,0,0,.7) !important;
    }
  }
}





/**************
5. Slick Slider
**************/



/*slick slider*/
.slick-prev:before, .slick-next:before {
      color: #1da254 !important;
  }


 /*
==============================================
(#15sbs) Slider for Bootstrap

Copyright 2012 Stefan Petre
Licensed under the Apache License v2.0
http://www.apache.org/licenses/LICENSE-2.0
==============================================
*/

        .slider {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin: 1px 0;
        }

            .slider.slider-horizontal {
                width: 100% !important;
                height: 34px;
            }

                .slider.slider-horizontal .slider-track {
                    height: 10px;
                    width: 100%;
                    margin-top: -5px;
                    top: 50%;
                    left: 0;
                }

                .slider.slider-horizontal .slider-selection {
                    height: 100%;
                    top: 0;
                    bottom: 0;
                }

                .slider.slider-horizontal .slider-handle {
                    margin-left: -12px;
                    margin-top: -7px;
                }

                    .slider.slider-horizontal .slider-handle.triangle {
                        border-width: 0 10px 10px 10px;
                        width: 0;
                        height: 0;
                        border-color: transparent;
                        border-bottom-color: #ffffff;
                        margin-top: 0;
                    }

            .slider.slider-vertical {
                height: 210px;
                width: 34px;
            }

                .slider.slider-vertical .slider-track {
                    width: 10px;
                    height: 100%;
                    margin-left: -5px;
                    left: 50%;
                    top: 0;
                }

                .slider.slider-vertical .slider-selection {
                    width: 100%;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }

                .slider.slider-vertical .slider-handle {
                    margin-left: -7px;
                    margin-top: -12px;
                }

                    .slider.slider-vertical .slider-handle.triangle {
                        border-width: 10px 0 10px 10px;
                        width: 1px;
                        height: 1px;
                        border-color: transparent;
                        border-left-color: #ffffff;
                        margin-left: 0;
                    }

            .slider input {
                display: none;
            }

            .slider .tooltip-inner {
                white-space: nowrap;
            }

        .slider-track {
            position: absolute;
            cursor: pointer;
            background-color: #eaedf1;
            border-radius: 4px;
        }

        .slider-selection {
            position: absolute;
            background-color: #1bbae1;
            border-radius: 4px;
        }

        .slider-handle {
            position: absolute;
            width: 24px;
            height: 24px;
            background-color: #ffffff;
            border: 1px solid #aaaaaa;
            -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        }

            .slider-handle.round {
                border-radius: 24px;
            }

            .slider-handle.triangle {
                background: transparent none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

/**************
6. jarallax
**************/

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}            

/**************
7. Highcharts
**************/
/*.highcharts-container{
  width:100% !important;
  margin: 0 auto;
  display: block;
}
.highcharts-root{
  width:100% !important;
  margin: 0 auto;
  display: block;
}*/
