/*.form-control{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05) !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.05) !important;
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.05) !important;
        border-color: #ddd !important;
}
.form-material .form-control{
	box-shadow:  0px 0px 0px 0px !important;
	-webkit-box-shadow:0px 0px 0px 0px !important;
    -moz-box-shadow: 0px 0px 0px 0px !important;
}*/
// HEADER
.dropdown-card {
  width: 21.25rem !important;
}

// SIDEBAR

.sidebar-expand .site-sidebar {
  .side-menu > li {
    & > a {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 1rem;
    }
    & > a.active,
    & > a:hover {
      background: #3399ff;
      color: #fff;
      border-radius: 5px;
      box-shadow: 1px 3px 15px -3px #3399ff !important;
      border-top-color: transparent;
      i,
      span {
        color: #fff;
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
      }
      i.icon-custom.icon-custom-nurse:before {
        background-color: #fff;
      }
    }
    &.menu-item-has-children.active > a:not(:hover):before {
      color: #7b7b7b;
    }
    &.menu-item-has-children > a:hover:before {
      color: #fff !important;
    }
  }
}
.navbar-search .list-icon {
  color: #00a699;
}

.footer {
  position: relative;
  margin-top: 2rem;
}
select.form-control-sm:not([size]):not([multiple]) {
  height: 2.25rem !important;
  border-radius: 0.2rem !important;
}
.form-comma:after {
  content: ",";
  position: absolute;
  right: 0;
  bottom: 10px;
}
.input-edited {
  position: absolute;
  z-index: 1;
  right: 6px;
  top: 8px;
}
/* selectpicker plugin overide css*/
.bootstrap-select {
  font-family: "Montserrat", sans-serif;
  .bs-searchbox:after {
    display: none;
  }
  .btn-default,
  .btn-default:focus {
    background-color: transparent !important;
  }
  &.open.show .bs-searchbox.input-has-value + .dropdown-menu.inner {
    li:not(.active) {
      display: none;
    }
  }
  &.btn-group .dropdown-menu li a span {
    color: #000;
    font-weight: 500;
  }
}

/* END OF INPUTS(FORM-CONTROLS CHANGES)*/

.ff-theme {
  font-family: "Montserrat", sans-serif;
}
.bg-shadow {
  box-shadow: 0px 0px 10px rgba(69, 101, 173, 0.1);
}
/* set font's style*/
.text-normal {
  font-style: normal;
}
/* border left indicators */
.bl-success {
  border-left: 5px solid #38d57a !important;
}
.bl-warning {
  border-left: 5px solid #ffcc02 !important;
}
.bl-info {
  border-left: 5px solid #03a9f3 !important;
}
.bl-gray {
  border-left: 5px solid #eef1f2 !important;
}
.bl-danger {
  border-left: 5px solid #e6614f !important;
}
.btn-normal {
  padding: 0.49rem 1.2em !important;
  border-radius: 0.3rem !important;
}
.input-group {
  > .btn-normal {
    padding: 0.49rem 1.2em !important;
    border-radius: 0.3rem !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}

/*  2 column layout */
.layout-2-col {
  .layout-left-panel {
    .nav-tabs.nav-tabs-no-arrow .nav-item.active:after {
      display: none;
    }
  }
}
/* Cursor Pointer */
.cursor-pointer {
  cursor: pointer;
}
.shadow-none {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
/* DASHBOARD PAGE */
.card.card-nox {
  box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
  -webkit-box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
  cursor: pointer;
  border-radius: 0.4rem;

  &:hover {
    background-color: #3399ff;
    box-shadow: 1px 3px 15px -3px rgba(51, 153, 255, 1) !important;
    -webkit-box-shadow: 1px 3px 15px -3px rgba(51, 153, 255, 1) !important;
    color: #fff;
    .dash-icon,
    .card-title {
      color: #fff;
    }
    .dash-desc {
      a {
        color: #fff;
      }
      span {
        opacity: 0.6;
      }
    }
    .list-option > li > a:not([class*="btn-"]) {
      color: #fff;
    }
  }
}
/* END OF DASHBOARD PAGE*/
/* Fab Menu */

.fab-menu.checkbox-checked {
  .fab-menu-toggle-button:first-child {
    box-shadow: none !important;
    background: transparent !important;
  }
}
/* End of Fab Menu*/
.patient-form {
  /*border:1px solid;*/
  position: relative;
}
.patient-form hr {
  margin-top: 0;
}

.patient_modal_body {
  position: relative;
  z-index: 0;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 155px;
    /*background-color:rgba(3, 169, 243, 0.1);*/
    opacity: 0.3;
    /*background: linear-gradient(90deg, #03a9f3, rgba(3, 169, 243, 0.2) );*/
    background: linear-gradient(90deg, #c1c1c1, #ffffff);
    z-index: -1;
  }
  &[status="pending"]:before {
    background: linear-gradient(90deg, #ffcc02, #fbeec9);
    height: 125px;
  }
  &[status="inlobby"]:before {
    background: linear-gradient(90deg, #38d57a, #b2f5cf);
    height: 144px;
  }

  &[status="inlobby-w-tab"]:before {
    background: linear-gradient(90deg, #38d57a, #b2f5cf);
    height: 155px;
  }
  /* bed bg status colors */
  &[status="occupied"]:before {
    background: linear-gradient(90deg, #38d57a, #b2f5cf);
    height: 125px;
  }
  &[status="vacant"]:before {
    background: linear-gradient(90deg, #c1c1c1, #ffffff);
    height: 125px;
  }
  &[status="reserved"]:before {
    background: linear-gradient(90deg, #03a9f3, rgba(3, 169, 243, 0.2));
    height: 125px;
  }
  .nav-tabs {
    /*border-color: #03a9f3;*/
    .nav-link {
      &:hover,
      &:focus {
        /*border-bottom-color:  #03a9f3;*/
      }
    }
  }
}

.patient_modal_body .nav-tabs .nav-link.active {
  background-color: #fff;
  /*border-color: #03a9f3 #03a9f3 #fff;*/
}
.patient_modal_body .nav-tabs .nav-link.active small {
  color: #555 !important;
}
.modal-content .close {
  z-index: 1;
}
#myTable2_wrapper .dataTables_filter,
#myTable2_wrapper .dataTables_length,
#myTable2_wrapper .dataTables_info {
  display: none !important;
}

.this-select {
  border: 2px solid;
  position: relative;
}
.this-select option {
  position: relative;
}
.this-select option:checked {
  font-size: 10px !important;
  color: #000;
  display: none;
}
.sub-user-img {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  font-size: 17px;
  background-color: #aaa;
  color: #fff;
  line-height: 1.7;
}
.sub-user-img[sex="male"] {
  background-color: #61a4f9;
  border-color: #8dbcf7;
}
.sub-user-img[sex="female"] {
  background-color: #f9578c;
  border-color: #fd8fb3;
}

.user-avatar-list.align-left {
  flex-direction: row;
  padding-left: 5%;
}

.list-group-sidebar-holder {
  background-color: #fcfcfa;
  box-shadow: inset -10px 0 10px -5px rgba(50, 50, 50, 0.05);
}
.list-group.list-group-sidebar {
  .list-group-item {
    background-color: transparent;
    border-radius: 0px;
    border-color: rgba(0, 0, 0, 0.02);

    &.list-group-item-head {
      background-color: transparent;
      cursor: default;
      border-bottom-color: #0072bf;
      &:hover {
        background-color: transparent;
      }
    }
    &:hover {
      background-color: #bce4ff;
    }
    &.active {
      background-color: #0072bf;
      /*z-index: ;*/
    }
  }
  .scrollbar-enabled .list-group-item {
    &:first-child {
      border-top: 1px solid transparent;
    }
  }
}

.nav-tabs {
  .form-input-icon i.navtab-icon {
    position: absolute;
    top: 50%;
  }
}
.main-wrapper {
  padding-bottom: 0;
}

.dropdown-menu {
  width: auto;
}

.user-avatar-list a {
  margin-left: -10px !important;
}
.modal-xlg {
  max-width: 90% !important;
}
.nav.nav-tabs-sc {
  .nav-link.active .badge-primary {
    color: #fff !important;
  }
  .nav-item {
    a {
      border: 0 !important;
      border-bottom: 3px solid transparent !important;
      background-color: transparent;
      .badge {
        height: 23px;
        width: 23px;
        text-align: center;
        vertical-align: middle;
        padding: 0;
        line-height: 20px !important;
        margin-right: 5px;
      }
    }
    a:not(.active) {
      .badge {
        line-height: 20px !important;
        background-color: transparent !important;
        border: 2px solid #b0b0b0;
        color: #b0b0b0;
        &.badge-success {
          color: #7dc841;
          border: 2px solid #7dc841;
        }
        &.badge-primary {
          color: #0072bf;
          border: 2px solid #0072bf;
        }
        &.badge-warning {
          color: #ffc107 !important;
          border: 2px solid #ffc107;
        }
        &.badge-dark {
          color: #343a40;
          border: 2px solid #343a40;
        }
        &.badge-danger {
          color: #ed6d79;
          border: 2px solid #ed6d79;
        }
        &.badge-info {
          color: #03a9f3;
          border: 2px solid #03a9f3;
        }
      }
    }
    a.active,
    &.active a {
      .badge {
        /*background-color: !important;*/
        border: 2px solid;
        color: #fff;
        &.badge-success {
          border: 2px solid #7dc841;
        }
        &.badge-primary {
          border: 2px solid #0072bf;
        }
        &.badge-dark {
          border: 2px solid #343a40;
        }
        &.badge-warning {
          border: 2px solid #ffc107;
        }
        &.badge-danger {
          border: 2px solid #ed6d79;
        }
        &.badge-info {
          border: 2px solid #03a9f3;
        }
      }
    }
  }
}
.contact-details-tab {
  .nav-item.active {
    border: 0 !important;
  }
  .nav-item {
    a {
      border: 0 !important;
      border-bottom: 3px solid transparent !important;
    }
    a.active,
    &.active a,
    &.active a:hover {
      /*border-top-left-radius: 0.25rem;
			border-top-right-radius:0.25rem;*/
      border-color: #0072bf !important;
      color: #000;
    }
    a:hover {
      border-color: #3399ff !important;
    }
    .badge {
      height: 23px;
      width: 23px;
      text-align: center;
      vertical-align: middle;
      padding: 0;
      line-height: 23px;
      margin-right: 5px;
    }
    a:not(.active) {
      span {
        background-color: #bbbbbb !important;
      }
    }
  }
}
.side-quicklinks {
  position: relative;
  font-size: 0;
  margin-bottom: 2rem;
  width: 300px;
  min-width: 200px;
  text-align: center;
  display: block;
  a {
    font-size: 10px;
    width: 80px;
    text-transform: uppercase;
    height: 80px;
    vertical-align: top;
    margin: 5px;
    background-color: #fff;
    color: #0072bf;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(126, 142, 177, 0.82);

    small {
      color: #888;
      font-weight: 500;
    }
    &:hover {
      background-color: rgba(3, 169, 243, 0.1);
      color: #03a9f3;
      small {
      }
    }
  }
}
.nurse-list-card-item {
  padding: 0 15px;
  /*	&:nth-child(4n + 1){
		padding-right:0;
	}
	&:nth-child(5n + 1){
		padding-left:0;
		padding-right: 15px;
	}*/
  & > .nurse-list-card {
    background-color: #fff;
    transition: all ease-in-out 0.3s;
    width: 16rem !important;
    height: 22rem;
    margin: 15px 0px !important;
    padding-top: 1.5rem;
    &:hover {
      /*background-color: rgba(3, 169, 243, 0.1);*/
      border-color: transparent;
    }
    & h5 {
      letter-spacing: 0.05rem;
    }
  }
}

.lh-3 {
  line-height: 3.5 !important;
}
.text-normal {
  text-transform: none;
}
.modal-top-buttons {
  width: 50px;
  height: 50px;
  text-transform: uppercase;
}

#calendar {
  max-width: 900px;
  margin: 0px auto;

  h2 {
    margin-top: 6px;
    font-size: 16px;
  }

  &.custom-fullcalendar .fc-view-container {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

/* <figure> Img status indicator */
[class*="user--"]::after {
  top: 10%;
}
/* List group with Blue hover and right arrow */
.list-group.list-group-hover {
  .list-group-item {
    border-radius: 0px;
    border-right-color: transparent;
    border-left-color: transparent;
    &:hover {
      background-color: rgba(3, 169, 243, 0.1);
      border-color: rgba(3, 169, 243, 1);
      border-bottom: 1px solid rgba(3, 169, 243, 1);
      z-index: 1;
      border-radius: 0.25rem;
      .hover-hide {
        display: none;
      }
    }
    .icon-chevron-right {
      position: absolute;
      right: 1.25rem;
      top: 0.97rem;
      z-index: -1;
    }
  }
}
/* Table with blue hover */
.table.table-hover {
  tbody tr {
    .table-hover-actions {
      position: relative;
      a {
        z-index: -1;
        transition: all ease-in-out 0.3s;
        opacity: 0;
        font-weight: 800;
        color: #444;
        &:hover {
          color: #03a9f3;
        }
      }
    }
    &:hover {
      /*background-color:rgba(3, 169, 243, 0.1);*/
      z-index: 1;
      border-radius: 0.25rem;
      cursor: pointer;
      td {
        border-color: 1px solid #fff !important;
      }
      .table-hover-actions {
        a {
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
}
/* datatable Table */
.table[data-toggle="datatables"] {
  border-collapse: separate !important;
  border-spacing: 0px;
}
/* Avatar-container no hover */
.avatar-container.no-hover {
  &:hover {
    .avatar,
    .avatar-label {
      transform: none;
    }
    .avatar-label {
      color: #333;
    }
  }
}

/* SEARCH INPUT WITH AUTOCOMPLTE DROPDOWN */
.wimg-selector {
  position: relative;
  height: auto;
  .wimg-result {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: -3px;
    border: 1px solid #0072bf;
    background-color: #fff;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    overflow: hidden;
    z-index: 100;
    max-height: 15rem;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    .wimg-result-item {
      cursor: pointer;
      &:hover {
        background-color: #fafafa;
      }
    }
  }

  input:valid {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    & + .wimg-result {
      display: block;
    }
  }
}

/* Floating Save button: position right*/
.btn-floating-save {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(69, 101, 173, 1) !important;
}
