
/*
==============================================
*
* HELPERS 
*
==============================================
*/

/*ALIGNMENTS*/
/*position*/
.position-rel {
  position: relative; }

/*absolute aligment*/
.position-abs {
  position: absolute;
  z-index: 51;
  top: 0;
  left: 0; 
  margin:auto;
  &.position-abs-tr {
    top: 0;
    right: 0;
    left: auto; }
  &.position-abs-br {
    top: auto;
    right: 0;
    left: auto;
    bottom: 0; }
  &.position-abs-bl {
    top: auto;
    bottom: 0; }
  &.position-abs-bc {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0; }
  &.position-abs-tc {
    top: 0;
    bottom: auto;
    left: 0;
    right: 0; }  
  &.position-abs-mc {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  &.position-abs-mr {
    top:30%;
    bottom: auto;
    left: auto;
    right: 0; }
}


/***********
* DISPLAY
************/
.display-block{
  display: block;
}
.display-inlineblock{
  display: inline-block;
}
.overflow-hidden{
  overflow: hidden;
}

/***********
* BOX SIZES
************/
.box-size-xxxs{
  width: 16px; height:16px;
}
.box-size-xxs{
  width: 24px; height:24px;
}
.box-size-xs{
  width: 32px; height:32px;
}
.box-size-sm{
  width: 48px; height:48px;
}
.box-size-md{
  width: 64px; height:64px;
}
.box-size-lg{
  width: 96px; height:96px;
}
.box-size-xlg{
  width: 120px; height:120px;
}

/***********
* sizes
************/

/*sizes: generates s20 upto s150*/
@for $i from 4 through 50 {
  .s#{$i * 5}{
    width: $i * 5 + px;
    height: $i * 5 + px;
    line-height: $i * 5 + px;
  }
}

/***********
* PADDINGS
************/

/*padding*/
@for $i from 0 through 10 {
  .p#{$i * 5}{padding: $i * 5 + px;}
}

/*padding left*/
@for $i from 0 through 20 {
  .pl#{$i * 5}{padding-left: $i * 5 + px;}
}

/*padding top*/
@for $i from 0 through 20 {
  .pt#{$i * 5}{padding-top: $i * 5 + px;}
}

/*padding right*/
@for $i from 0 through 20 {
  .pr#{$i * 5}{padding-right: $i * 5 + px;}
}

/*padding bottom*/
@for $i from 0 through 20 {
  .pb#{$i * 5}{padding-bottom: $i * 5 + px;}
}

/************
* MARGINS
************/

/*margin*/
@for $i from 0 through 10 { .m#{$i * 5}{margin: $i * 5 + px;}}

/*margin left*/
@for $i from 0 through 20 { .ml#{$i * 5}{margin-left: $i * 5 + px;}}

/*margin top*/
@for $i from 0 through 20 { .mt#{$i * 5}{margin-top: $i * 5 + px;}}

/*margin right*/
@for $i from 0 through 20 { .mr#{$i * 5}{margin-right: $i * 5 + px;}}

/*margin bottom*/
@for $i from 0 through 20 { .mb#{$i * 5}{margin-bottom: $i * 5 + px;}}

.m-auto{margin:auto;}
.mt-auto{margin-top:auto;}
.mb-auto{margin-bottom:auto;}
.ml-auto{margin-left:auto;}
.mr-auto{margin-right:auto;}

/*BORDER-RADIUS*/
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

/*box-shadow*/
@mixin box-shadow($shadow){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

/* linear gradient 
  usage: 
  @include .linearGradient(top,#333,#eee);
  @include .linearGradient(-90deg,#333,#eee);
*/
@mixin linearGradient($direction, $from-color, $to-color) {
  background-color: mix($from-color, $to-color); /* Fallback */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
  background: -webkit-linear-gradient($direction, $from-color, $to-color); 
  background:    -moz-linear-gradient($direction, $from-color, $to-color);
  background:     -ms-linear-gradient($direction, $from-color, $to-color);
  background:      -o-linear-gradient($direction, $from-color, $to-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}

/* coloring svg as background*/
@mixin svg-color($color) {
  background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
}