/*
==============================================
*
* MAIN STYLES - Theme specific overrides
*
* 1. Structure (header, sidebar, main-wrapper, footer)
* 2. Layout-2-col
* 3. Content/Pages
* 4. Others
*
==============================================
*/

/* START: sample structure code */
/*
.pointer {
  cursor: pointer; }

html,
body {
  margin: 0;
  padding: 0; }

.wrapper {
  position: relative; }

.navbar {
  position: fixed;
  padding: 0.5rem 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#835c9e), to(#8253eb));
  background: linear-gradient(90deg, #835c9e, #8253eb);
  width: 100%;
  margin-bottom: 0;
  z-index: 99; }

.content-wrapper {
  position: relative; }

.main-wrapper {
  overflow: hidden;
  padding: 100px 30px 7.5rem;
  background: #f5f7fa;
  min-height: 100vh;
  margin-left: 14.0625rem; }

.sidebar-expand .main-wrapper {
  margin-left: 14.0625rem; }

.site-sidebar {
  position: fixed;
  z-index: 9;
  background: #fff;
  border-right: 1px solid #eef1f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 70px 0 30px 0;
  width: 14.0625rem;
  height: calc(100vh - 5rem);
  height: 100vh;
  text-align: center; }

.footer {
  margin-left: 14.0625rem; }

.footer {
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(#835c9e), to(#8253eb));
  background: linear-gradient(90deg, #835c9e, #8253eb);
  border-top: 1px solid #eef1f2; }
*/
/* END: sample structure code */

/******************************
* 1. Structure
******************************/

.navbar {
  z-index: 200;
  border-bottom: 1px solid #eef1f2;
  &.navbar-light {
    background: #fff;
    .navbar-brand {
      border-right: 1px solid #eef1f2;
    }
    .navbar-nav > li > a {
      color: $dark;
      i {
        color: $primary;
      }
      &:hover,
      &:focus {
        color: white;
        i {
          color: white;
        }
      }
    }
  }
  .navbar-brand img {
    max-height: 2.5rem;
  }
  .navbar-nav .avatar img {
    border: 3px solid rgba(255, 255, 255, 0.3);
  }
}

/*sidebar*/
.site-sidebar {
  z-index: 150;
  .menu-label {
    @extend .font-xxs;
    @extend .letter-space1;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
  .side-menu > li {
    & > a {
      & > .list-icon {
        display: inline-block;
        @extend .animateCubic;
      }
      & > span {
        display: inline-block;
        @extend .anime;
      }
      &:hover > .list-icon {
        @include transform(translateX(7px));
      }
      &:hover > span {
        @include transform(translateX(4px));
      }
    }
    &.active > a {
      color: $primary;
    }
  }

  /* .sub-menu */
  .sub-menu li {
    a {
      @extend .animeFast;
      &:hover {
        @include transform(translateX(5px));
      }
    }
    &.active > a {
      color: $primary;
    }
  }
}
.sidebar-expand .site-sidebar .side-menu > li > a {
  border-top-style: dotted;
}
.sidebar-collapse .side-menu > li:hover > a,
.sidebar-collapse .side-menu li:hover > .sub-menu,
.sidebar-collapse .side-menu .sub-menu li {
  background-color: #fff;
}
.sidebar-collapse .side-menu > li:hover > a .hide-menu {
  display: inline-block !important;
}
.sidebar-collapse .side-menu .sub-menu.sub-menu-up {
  top: auto;
  bottom: 3.6923076923em;
  z-index: 8;
}

/*toggle menu icon*/
.sidebar-collapse {
  .show-menu {
    display: block !important;
  }
  .hide-menu {
    display: none !important;
  }
}

/*main-wrapper*/
/*.main-wrapper {
 
}*/

/*footer*/
.footer {
  color: $gray;
  background: transparent;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 75%;
}

/* .page-header*/
.page-header {
  padding-bottom: 0;
  margin: 0;
  border: none;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    opacity: 0.1;
    height: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(
      top,
      rgba(125, 185, 232, 0) 0%,
      rgba(30, 87, 153, 1) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(125, 185, 232, 0) 0%,
      rgba(30, 87, 153, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(125, 185, 232, 0) 0%,
      rgba(30, 87, 153, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e5799',GradientType=0 );
  }
}
/* .page-header-bar */
.page-header-bar {
  .header-nav {
    display: table;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    > li,
    .header-nav-item {
      display: table-cell !important;
      vertical-align: middle;
      position: relative;
      bottom: -4px;
      a {
        display: block;
        padding: 5px 15px 9px 15px;
        color: $dark;
        margin-right: 4px;
        text-align: center;
        position: relative;
        z-index: 20;
        @extend .animeFast;
        &:after {
          content: "";
          position: absolute;
          height: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
          @include border-radius(3px 3px 0 0);
          @extend .animeFast;
        }
      }
      &:last-child a {
        margin-right: 0;
      }
      &.active a,
      &:hover a {
        color: $dark;
        padding-bottom: 11px;
        /*  background: #f5f5f5; */
        box-shadow: 6px 0px 8px -5px rgba(100, 100, 100, 0.1);
        @include transform(translate(0px, -4px));
        @include border-radius(3px 3px 0 0);
        &:after {
          background: #f5f7fa;
          @include linearGradient(top, #ffffff, #f5f7fa);
          height: 100%;
          height: calc(100% + 4px);
        }
      }
    }
  }
}

/*heading-profile*/
.heading-profile {
  position: relative;
  z-index: 200;
  padding: 1.2rem 2rem 1rem 2rem;
  .heading-profile-info {
    /*color:#fff;
    text-shadow:1px 1px 0 rgba(0,0,0,.3);*/
    color: $dark;
    overflow: hidden;
  }
  .profile-title {
    font-size: 24px;
  }
}

.login-card {
  @include box-shadow(2px 4px 15px rgba(10, 10, 10, 0.3));
}

/******************************
* 2. Layout-2-col
******************************/
.layout-2-header {
  position: relative;
  z-index: 12;

  .user-avatar-list {
    button:hover {
      background-color: #03a9f3;
    }
  }
  .layout-2-header-back:hover {
    color: #fff;
  }

  .more-link {
    .bg-info-contrast {
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff !important;

      &:hover {
        background-color: #fff;
        color: #0072bf !important;
      }
    }
  }
}
/*structure*/
.layout-2-col {
  width: 100%;
  height: 100vh;

  .layout-left-panel {
    width: 370px;
    background-color: #fcfcfc;
    -webkit-box-shadow: 1px 0px 30px 0px rgba(0, 0, 0, 0.15),
      inset 10px 0 10px -5px rgba(50, 50, 50, 0.05);
    -moz-box-shadow: 1px 0px 30px 0px rgba(0, 0, 0, 0.15),
      inset 10px 0 10px -5px rgba(50, 50, 50, 0.05);
    box-shadow: 1px 0px 30px 0px rgba(0, 0, 0, 0.15),
      inset 10px 0 10px -5px rgba(50, 50, 50, 0.05);
    position: relative;
    z-index: 15;
  }
  .layout-right-panel {
    @extend .animeSlow;
    background-color: white;
    position: relative;
    z-index: 10;
  }
}
/* end: structure*/
.layout-2-col {
  .layout-left-panel {
    .layout-search {
      position: relative;
      .layout-search-btn {
        &.text-dark:hover {
          color: #3399ff !important;
        }
      }
      .layout-search-input {
        width: 100%;
        left: 0px;
        opacity: 0;
        transition: all ease-in-out 0.3s;
        z-index: -2;
        background-color: #fff;
        &.active {
          opacity: 1;
          z-index: 1;
        }
      }
    }
    .nav-tabs {
      .nav-item {
        position: relative;
        text-align: left;
        transition: all ease-in-out 0.3s;
        padding: 1.2rem 1.2rem;
        border-bottom: 1px solid $litegray;
        margin-bottom: 0;
        &:hover,
        &.active {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.3);
          background-color: #fff;
        }
        &.active:after {
          content: "";
          position: absolute;
          top: 50%;
          top: calc(50% - 14px);
          right: -21px;
          width: 0;
          border: 14px solid transparent;
          border-left-width: 7px;
          border-left-color: #fff;
          z-index: 60;
        }
        a:hover {
          background: transparent;
        }
      }
    }
  }
  .layout-right-panel {
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link.active:hover,
    .nav-tabs .nav-link.active small {
      color: $primary2 !important;
    }
    .layout-quicklinks {
      position: absolute;
      right: 0px;
      background-color: #f2f2f2;
      z-index: 10;
      top: 0;
      height: 100%;
      width: 220px;
      transition: all ease-in-out 0.3s;
      @include transform(translateX(100%));
      border-left: 1px solid #dadada;
      &.active {
        @include transform(translateX(0));
      }
      .side-quicklinks {
        width: 100%;
      }
    }
    .close-side-panel-btn {
      position: absolute;
      top: -20px;
      right: 0;
      margin-bottom: 10px;
    }
    .nurse-note-textarea {
      border: 1px solid #0071c0;
      position: relative;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      transition: all ease-in-out 0.3s;
      overflow: hidden;
      &:hover {
        background-color: rgba(3, 169, 243, 0.1);
      }
      label {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0;
        height: 40px;
        width: 100%;
        color: $primary2;
        z-index: 1;
        transition: all ease-in-out 0.3s;
      }
      textarea {
        position: relative;
        min-height: 70px;
        z-index: 2;
        cursor: pointer;
        border-radius: 0;
        border: 0px !important;
        transition: all ease-in-out 0.3s;
        background-color: transparent;
        padding-right: 6rem !important;
        padding-bottom: 0px !important;
        &:focus,
        &:valid {
          padding-top: 3.5rem !important;
          min-height: 120px;
          background-color: #fff;
        }
        &:focus + label,
        &:valid + label {
          border-bottom: 1px solid #cec4ca;
          background-color: #0071c0;
          margin: 0px !important;
          z-index: 3;
          color: #fff;
        }
        &:valid + label + button {
          z-index: 3;
          opacity: 1;
        }
      }
      button {
        z-index: -1;
        opacity: 0;
        right: 0;
        top: 2rem;
        transition: all ease-in-out 0.2s;
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .layout-2-col {
    .layout-left-panel {
      width: 100vw !important;
    }
    .layout-right-panel {
      width: 100vw !important;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  body.side-panel-is-open {
    overflow: hidden; //lock body to enabled right-panel scrolling
    .layout-2-col {
      .layout-right-panel {
        right: 0;
        //@include transform(translateX(0));
        .fab-menu {
          right: 30px;
        }
      }
    }
  }
  .layout-2-col {
    .layout-left-panel {
      width: 100vw !important;
    }
    .layout-right-panel {
      //transform: translateZ(0);//contain fixed position (fab menu) inside container
      overflow-y: auto; //enabled scrolling
      position: fixed;
      width: 750px;
      min-height: 100vh;
      top: 0;
      bottom: 0;
      right: -750px;
      //@include transform(translateX(100%));
      @include box-shadow(1px 0px 30px 0px rgba(0, 0, 0, 0.15));
      z-index: 300;
      .fab-menu {
        right: -100%;
      }
    }
    .patient-meta {
      margin-left: 80px;
    }
    .close-side-panel-btn {
      display: block !important;
    }
  }
}

/******************************
* 3. Content/Pages
******************************/

/* dashboard */
.card-dashboard-widget {
  text-align: center;
  .dash-icon {
    font-size: 40px;
  }
  .dash-desc {
    margin-top: 5px;
    line-height: normal;
  }
}

/* vital-block */
.vital-block-overview {
  .vital-block-container {
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    &.active,
    &:hover {
      background: $black;
      .vital-block-title {
        color: $white;
      }
    }
    &.active:after {
      content: "";
      border: 10px solid transparent;
      width: 0;
      height: 0;
      border-bottom-color: $black;
      position: absolute;
      left: 0;
      right: 0;
      top: -20px;
      margin: auto;
      z-index: 1;
    }
  }
}
.vital-block {
  &.panel {
    margin-bottom: 8px;
  }
  .vital-block-title {
    font-size: 12px;
    font-weight: bold;
  }
  .vital-block-body {
    font-size: 26px;
    .icon,
    .fa {
      /* opacity: .7; */
      color: $gray;
    }
  }
  .vital-block-footer {
    padding: 0 15px 15px 15px;
  }
}

/* icon-custom */
.icon-custom {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  &.icon-custom-nurse:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    /*background-image: url(../assets/img/icons/nurse.svg);*/
    background-color: $primary2;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
}

/*user-avatar-list*/
.user-avatar-list {
  & > a {
    > img {
      border-width: 2px;
      @extend .animeFast;
    }
    &:hover {
      z-index: 10;
      > img {
        border-width: 2px;
        @include transform(scale(1.2));
        @include box-shadow(1px 2px 5px rgba(0, 0, 0, 0.3));
      }
    }
  }
}
