/***************
* MEDIA QUERY
* Responsive Layout
/***************/


/*custom-large screen and higher*/
@media screen and (min-width: 1300px){
  .text-center-lg{
    margin-top: 30px;
    text-align: center;
  }
}

/*large screen and higher*/
@media screen and (min-width: 1200px){
  .text-center-lg{
    margin-top: 30px;
    text-align: center;
  }
}


/*medium screen and higher */
@media screen and (min-width: 992px){
  .container-md{
    max-width: 992px;
    margin-left:auto;
    margin-right:auto;
  }
  .text-center-md2{
    margin-top: 30px;
    text-align: center;
  }
}

/*medium screen*/
@media screen and (max-width: 992px){
  .text-center-md{
    text-align: center;
  }
  .container-sm{
    width: 100%;
  }
}


/*small screen*/
@media screen and (max-width: 768px){
  .col-xs-1{width: 8.33333% !important;}
  .col-xs-2{width: 16.66667% !important;}
  .col-xs-3{width: 25% !important;}
  .col-xs-4{width: 33.33333% !important;}
  .col-xs-5{width: 41.66667% !important;}
  .col-xs-6{width: 50% !important;}
  .col-xs-7{width: 58.33333% !important;}
  .col-xs-8{width: 66.66667% !important;}
  .col-xs-9{width: 75% !important;}
  .col-xs-10{width: 83.33333% !important;}
  .col-xs-11{width: 91.66667% !important;}
  .col-xs-12,
  .container-sm,
  .container-md{
    width: 100% !important;
  }

  .text-center-sm{
    text-align: center !important;
    &.text-center-sm-block{
      margin-top: 30px;
      width:100%;
      float:none !important
    }
  }
  .header-nav{
    margin-bottom: -4px;
    >.header-nav-item{
      a{
        text-align: center;
        display: block !important;
        font-size: 20px;
      }
    }
    .nav-label{
      display: none;
    }
  }


}

/*smaller-screen */
@media screen and (max-width: 600px){

}


/*mini-screen */
@media screen and (max-width: 480px){
  .col-xxs-1{width: 8.33333% !important;}
  .col-xxs-2{width: 16.66667% !important;}
  .col-xxs-3{width: 25% !important;}
  .col-xxs-4{width: 33.33333% !important;}
  .col-xxs-5{width: 41.66667% !important;}
  .col-xxs-6{width: 50% !important;}
  .col-xxs-7{width: 58.33333% !important;}
  .col-xxs-8{width: 66.66667% !important;}
  .col-xxs-9{width: 75% !important;}
  .col-xxs-10{width: 83.33333% !important;}
  .col-xxs-11{width: 91.66667% !important;}
  .col-xxs-12,
  .container-xs{
    width: 100% !important;
  }

  .text-center-xs{
    text-align: center !important;
    &.text-center-xs-block{
      margin-top: 30px;
      width:100%;
      float:none !important
    }
  }
  .hidden-xxs{
    display: none;
  }

  .navbar-nav > li > a{
    padding: 0 .5rem;
  }
  .header-nav{
    >.header-nav-item{
      a{
        padding-left: 7px !important;
        padding-right: 7px !important;
        font-size: 18px;
      }
    }
  }
}

/*extra mini-screen */
@media screen and (max-width: 360px){
  .container-xxs{
    width: 100%;
  }
  .text-center-xxs{
    text-align: center !important;
    &.text-center-xs-block{
      margin-top: 30px;
      width:100%;
    }
  }
}