/*
==============================================
*
* STRUCTURE
*
==============================================
*/

/* max-height: calc(100vh - 70px);  */

.main-wrapper {
  padding-left: 0;
  padding-right: 0;
  min-height: calc(100vh - 48px);
  height: 100%;
}

body.page-login {
  // background-image: url(../assets/img/bg-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .main-wrapper {
    background-color: transparent;
  }
}
