/*
==============================================
VARIABLES
1. Colors
2. Menu Colors
3. Sizes
==============================================
*/

$page-background-color: #ffffff;
$page-font-color: #222222;
$page-brand-color-alpha: #ebebeb;
$page-brand-color-beta: #d6d6d6;
$page-brand-color-gamma: #c2c2c2;
$page-brand-color-delta: #adadad;
$page-brand-color-epsilon: #898989;
$page-brand-color-zeta: #E03237;
$page-brand-color-eta: #f94047;
$page-brand-color-theta: #ff6469;
$page-brand-color-iota: #ffa8aa;

/**************
1. Colors
**************/

$primary:#3399ff;
$primary2:#0072bf;

$white: #fff;
$litegray: #f2f2f2;
$litegray2: #fcfcff;
$silver: #dbdbdb;
$gray: #b0b0b0;
$gray2: #777;
$gray-light: #a2a2a2;
$gray-light2: #c2c2c2;
$gray-light3: #e2e2e2;
$dark: #333;
$black:#101010;

$blue: #308eec;
$blue2: #7db0e5;
$bluegray: #b0c7cc;
$skyblue:#abe3f5;
$mediumblue: #5ad0e5; 
$purbleblue: #99abdd; 
$lightblue: #989df8;

$red: #ed6d79;
$red2: #e23d3d;
$purple:#9a8ade;
$lavander: #bb96ff;
$pink: #f1a1fb; 
$dustryrose:#ceaec8; 
$rose:#eca0bd; 

$yellow: #ffdc89;
$coral:#ff7f50; 
$copper: #cb9787;
$gold: #f8b556;
$darkyellow: #e9df6f;
$orange: #f5a26f;

$green: #79ec70;
$green2: #7dc841;
$darkgreen: #1b9f40;
$lime: #cff381;
$olive:#b8d37f;
$teal: #8dd5cc;

/**************
2. Menu Colors
**************/
$menuColor: #dedede;

/**************
3. Sizes
**************/
$size-xxxs: 16px;
$size-xxs: 32px;
$size-xs: 48px;
$size-sm: 60px;
$size-sm2: 75px;
$size-md: 90px;
$size-lg: 100px;
$size-lg2: 120px;
$size-xlg: 150px;
$size-xxlg: 180px;
$size-xxxlg: 200px;