.business-name {
  font-size: 14px;
}

.category-custom {
  background: #c0392b !important;
  color: #FFF !important;
  border-radius: 6px;
}

.head-container {
  background: linear-gradient(to top right, #f1c40f 0%, #c0392b 100%) !important;
  border-radius: 3px 0px 0px 0px !important;
}

.icon-container {
  border-top: 0.5px solid #ddd;
  border-bottom: 0.5px solid #ddd;
}

.icon-cross {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 92%;
  font-size: 20px;
  color: #FFF !important;
}

.interested {
  width: 100px;
  background: #20c997;
  border-radius: 5px;
  border: 1px solid #20c997;
  color: #FFF;
}

.interested:hover {
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #20c997;
  color: #20c997;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.profile-picture {
  object-fit: cover;
  border: 5px solid #FFF;
  width: 110px;
  height: 110px;
}

.refer {
  width: 100px;
  background: #c0392b;
  border-radius: 5px;
  border: 1px solid #c0392b;
  color: #FFF;
}

.refer:hover {
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #c0392b;
  color: #c0392b;
}

.small-font {
  font-size: 12px;
}

/* ------- */

.campaign-container {
  max-height: 495px;
  overflow-y: auto;
}

.change-photo {
  font-size: 25px;
  color: #868e96 !important;
  position: absolute;
  top: 10px;
  left: 120px;
  float: right;
  cursor: pointer;
}

.change-photo:hover {
  color: #20c997 !important;
}

.lbl-businessman {
  color: #20c997;
}

.form-control:focus {
  border-color: #20c997 !important;
}

.form-input {
  border-radius: 6px !important;
}

.form-input {
  font-size: 13px;
  padding: 15px;
  border-radius: 4px;
  border: 0.5px solid rgba(0,0,0,0.2);
}

.form-control:focus {
  border-color: #20c997;
}

.icon-cross {
    color: #000 !important;
    top: 0px;
}

.icon-cross:hover {
  cursor: pointer;
}

.img-item {
  width: 145px;
  height: 145px;
  display: inline-block;
  object-fit: cover;
  border-radius: 6px;
}

.photos-container {
  max-width: 100%;
  max-height: 166px;
  overflow-x: auto !important;
  overflow-y: auto !important;
  white-space: nowrap;
  margin-left: 2.8rem !important;
  margin-right: 2.8rem !important;
}

.textarea-input {
  width: 100%;
  border-radius: 6px !important;
  font-size: 13px;
  padding: 9px;
  border: 0.5px solid rgba(0,0,0,0.2);
}
li{
  border-top: 1px solid #0000000e;
}
.avatar-container:hover .avatar-label{
  color: #c0392b !important;
}

#referral {
  content: url('assets/img/referral-icon.png');
}
#referral:hover {
  cursor: pointer;
  content: url('assets/img/referral-icon-hover.png');
}