<div class="modal-body p-0" style="max-height: 700px !important;">
    <div class="p-3" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
        <div class="row m-0">
            <div  class="col-6 p-0 text-left text-dark" style="font-size: 18px;">
                Refer Youtuber
            </div>
            <div class="col-6 p-0 text-right" style="font-size: 18px;">
                <i  class="icon icon-cross text-dark" click="closeModal()"></i>
            </div>
        </div>
    </div>
  <div class="row m-0">
    <div class="col-12 p-0" style="border-right: 0.2px solid rgba(0,0,0,0.5);">
      <div class="w-100">
        <div class="ps-content">
          <ul class="nav nav-tabs nav-tabs-no-arrow flex-column p-3">
              <input [(ngModel)]="search_name" (ngModelChange)="search(search_name)" class="form-control form-control-rounded mb-4 pl-4" placeholder="Search" id="l81" type="text">
            <li *ngFor="let youtuber of youtubers" class="station-patient-list nav-item ng-star-inserted p-2">
              <div class="d-flex align-items-center ml-3">
                <div class="col-10">
                  <div class="avatar-container ff-theme">
                    <figure class="single-user-avatar thumb-xs2 m-0">
                      <a href="#">
                        <img class="rounded-circle" style="object-fit: cover;" src="{{youtuber.photoUrl}}">
                      </a>
                    </figure>
                    <div class="avatar-label">
                      <span class="avatar-title ml-2 mb-1 fw-600">{{youtuber.firstName}} {{youtuber.lastName}}</span>

                    </div>
                  </div>
                </div>
                <div class="col-2">
                        <!-- <button class="refer pt-2 pb-2 pr-3 pl-3" style="width: 100px;">Refer</button> -->
                        <img (click)="refer(youtuber.youtuber_id)" id="referral" style="height: 45px" />
                </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer p-3">
    <!-- <div class="row m-0">
      <div class="col-12 text-right">
        <button class="refer pt-2 pb-2 pr-3 pl-3" style="width: 100px;">Refer</button>
      </div>
    </div> -->
  </div>
