<app-campaign-status *ngIf="campaignStatusComponentView" (backToMain)="onBack($event)" [campaignId]='campaign_id'></app-campaign-status>
<app-production-status *ngIf="productionStatusComponentView" (backToMain)="onBack($event)" [campaignId]='campaign_id'></app-production-status>

<div class="campaign-container p-2   w-100" *ngIf="!campaignStatusComponentView && !productionStatusComponentView">
    <div class="p-2">
        <div class="fs-20 font-weight-bold py-2 px-3 d-inline-block mr-3" style="cursor: pointer;" [ngClass]="(filter === 'On Going Campaign') ? 'campaign' : ''" (click)="filterOut('On Going Campaign')">
            On Going Campaign
        </div>
        <div class="fs-20 font-weight-bold py-2 px-3 d-inline-block" style="cursor: pointer;" [ngClass]="(filter === 'On Going Production') ? 'campaign' : ''" (click)="filterOut('On Going Production')">
            On Going Production
        </div>
    </div>
    <div class="w-100">
        <div class="on-going-campaign" *ngIf="campaignState">
            <div class="row m-0">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 p-2" *ngFor="let campaign of onGoingCampaigns">
                    <div class="w-100">
                        <div class="item-container w-100">
                            <div class="text-center mb-1">
                                <img *ngIf="campaign.photo != null" src="{{ campaign.photo }}" class="card-photo w-100">
                                <img *ngIf="campaign.photo == null" src="../../../../../assets/img/avatar1.jpg" class="card-photo w-100">
                            </div>
                            <div class="pb-3 text-center">
                                <span class="product-name display-block" style="font-size: 18px;">{{ campaign.project_name }}</span>
                                <span class="product-category display-block text-gray" style="font-size: 14px;">{{ campaign.category_name }}</span>
                                <div class="row m-0">
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-5 p-0 text-left">
                                                <span class="pt-1 pb-1">Budget</span>
                                            </div>
                                            <div class="col-7 p-0 text-right">
                                                <span class="price-range p-1">{{ campaign.starting_budget }} to {{ campaign.ending_budget }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-7 p-0 text-left">
                                                <span class="pt-1 pb-1">Advertisers Needed:</span>
                                            </div>
                                            <div class="col-5 p-0 text-right">
                                                <span class="num-advertisers pt-1 pb-1 pr-2 pl-2" *ngIf="campaign.count_youtuber < campaign.advertiser_needed">{{ campaign.advertiser_needed }}</span>
                                                <span class="num-advertisers pt-1 pb-1 pr-2 pl-2" style="background: #2ecc71 !important;" *ngIf="campaign.count_youtuber >= campaign.advertiser_needed">{{ campaign.advertiser_needed }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-7 p-0 text-left">
                                                <span class="pt-1 pb-1">Interested:</span>
                                            </div>
                                            <div class="col-5 p-0 text-right">
                                                <span class="num-advertisers pt-1 pb-1 pr-2 pl-2" *ngIf="campaign.count_youtuber < campaign.advertiser_needed">{{ campaign.count_youtuber }}</span>
                                                <span class="num-advertisers pt-1 pb-1 pr-2 pl-2" style="background: #2ecc71 !important;" *ngIf="campaign.count_youtuber >= campaign.advertiser_needed">{{ campaign.count_youtuber }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-7 p-0">
                                                <span class="pt-1 pb-1">Production Deadline:</span>
                                            </div>
                                            <div class="col-5 p-0 text-right">
                                                <span class="p-1 pr-2 pl-2" style="font-size: 14px; color: #2ecc71;">{{ campaign.production_deadline }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-7 p-0 text-left">
                                                <span class="pt-1 pb-1">Campaign Deadline:</span>
                                            </div>
                                            <div class="col-5 p-0 text-right">
                                                <span class="p-1 pr-2 pl-2" style="font-size: 14px; color: #c0392b;">{{ campaign.campaign_deadline }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-12 p-0 text-center">
                                    <button class="view-status-btn w-100 h-100 p-2" style="border-radius: 0 0 6px 6px;" (click)="openCampaignStatus(campaign.campaign_id)">View Status</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="on-going-production" *ngIf="productionState">
            <div class="row m-0">
                <div class="col-12 col-sm-6 col-md-4col-lg-4 col-xl-3 p-2" *ngFor="let production of onGoingProductions">
                    <div class="w-100">
                        <div class="item-container w-100">
                            <div class="text-center mb-1">
                                <img src="{{ production.photo }}" class="card-photo w-100">
                            </div>
                            <div class="pb-3 text-center">
                                <span class="product-name display-block" style="font-size: 18px;">{{ production.project_name }}</span>
                                <span class="product-category display-block text-gray" style="font-size: 14px;">{{ production.category_name }}</span>
                                <div class="row m-0">
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-5 p-0 text-left">
                                                <span class="pt-1 pb-1">Budget</span>
                                            </div>
                                            <div class="col-7 p-0 text-right">
                                                <span class="price-range p-1">{{ production.starting_budget }} to {{ production.ending_budget }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-7 p-0 text-left">
                                                <span class="pt-1 pb-1">Current Advertisers:</span>
                                            </div>
                                            <div class="col-5 p-0 text-right">
                                                <span class="num-advertisers pt-1 pb-1 pr-2 pl-2">{{ production.count_youtuber }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-7 p-0">
                                                <span class="pt-1 pb-1">Production Deadline:</span>
                                            </div>
                                            <div class="col-5 p-0 text-right">
                                                <span class="p-1 pr-2 pl-2" style="font-size: 14px; color: #2ecc71;">{{ production.production_deadline }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-12 p-0 text-left">
                                                <span class="pt-1 pb-1">Advertisers:</span>
                                            </div>
                                        </div>
                                        <ul class="list-unstyled li st-inline text-muted fs-13 m-0 ">
                                            <li class="single-header text-dark">
                                                <div class="p-0">
                                                    <div class="featured-jobs">
                                                        <div class="job-single row hover-parent m-0">
                                                            <div class="col-sm-12 pl-0 pr-0">
                                                                <div class="row m-0">
                                                                    <div class="col-12 m-0 p-0 btn action">
                                                                        <div class="float-right user-avatar-list">
                                                                            <a href="#" class="thumb-xxs" *ngFor="let photo of production.advertisers">
                                                                                <img src="{{ photo.photoUrl }}" class="rounded-circle" alt="User 2">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-12 p-0 text-center">
                                    <button class="view-status-btn w-100 h-100 p-2" style="border-radius: 0 0 6px 6px;" (click)="openProductionStatus(production.campaign_id)">View Status</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>