.accordion-head {
    background: linear-gradient(to right, #009999 0%, #00cc99 100%) !important;
    border-radius: 5px;
    font-weight: bold;
    color: #FFF;
    border: 1px solid #009999;
}

.accordion-head:hover {
    cursor: pointer;
    background: transparent !important;
    color: #009999 !important;
    border: 1px solid #009999;
}

.campaign {
    background: linear-gradient(to right, #009999 0%, #00cc99 100%) !important;
    border-radius: 5px 10px;
    font-weight: bold;
    color: #FFF;
}

.campaign-container {
    height: calc(100%);
    overflow-y: auto !important;
}

.card-photo {
    height: 125px;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
}

.item-container {
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}

.num-advertisers {
    background: #c0392b !important;
    color: #FFF;
    border-radius: 6px;
}

.price-range {
    border-radius: 5px;
    background: #2ecc71;
    color: #FFF;
}

.product-name {
    font-size: 16px;
    color: #009999;
}

.view-status-btn {
    border: 1px solid #00cc99;
    background: #00cc99;
    color: #FFF;
}

.view-status-btn:hover {
    cursor: pointer;
    border: 1px solid #00cc99;
    background: transparent !important;
    color: #00cc99 !important;
}