<div style="height: calc(100%) !important; overflow-y: auto !important;">
    <div class="row m-0 h-100 p-2">
        <div class="col-12 col-md-3 p-2 text-left">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="row filter-background m-0">
                        <div class="col-3 p-0 text-white text-center align-self-center" style="font-size: 12px;">
                            From
                        </div>
                        <div class="col-9 p-0">
                            <input [(ngModel)]="starting_budget_input" type="number" class="form-input form-control w-100" placeholder="Starting Amount"/>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 pb-1">
                    <div class="row filter-background m-0">
                        <div class="col-3 p-0 text-white text-center align-self-center" style="font-size: 12px;">
                            To
                        </div>
                        <div class="col-9 p-0">
                            <input [(ngModel)]="ending_budget_input" type="number" class="form-input form-control w-100" placeholder="Ending Amount"/>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 pb-2">
                    <div class="row m-0">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
                            <button type="button" class="btn btn-outline-dark m-0 float-right filter-btn w-100 text-center" (click)="filter_budget()">Filter</button>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
                            <button type="button" class="btn btn-outline-dark m-0 float-right reset-btn w-100 text-center" (click)="reset()">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 pb-1">
                    Categories:
                </div>
                <div class="col-12 mb-2 p-0" style="overflow-x: auto; white-space: nowrap;">
                    <div class="tag p-2 text-white pl-3" (click)="filter_camapign('All')">
                        All
                    </div>
                </div>
                <div class="col-12 mb-2 p-0" style="overflow-x: auto; white-space: nowrap;" *ngFor="let campaign of all_category_campaign let i = index;">
                    <div class="tag p-2 text-white pl-3" (click)="filter_camapign(campaign.category_name)">
                        {{ campaign.category_name }}
                        <!-- <i class="icon icon-cross pl-2 text-white" style="cursor: pointer;" (click)="filter_camapign(campaign.category_name)"></i> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 px-2 py-0">
            <div class="row m-0">
                <div class="col-12 col-md-6 col-lg-6 col-xl-4 p-2" *ngFor="let campaign of all_campaigns let i = index;">
                    <div class="w-100">
                        <div class="item-container w-100">
                            <div class="text-center mb-1">
                                <img src="{{ campaign.photo }}" class="card-photo w-100">
                            </div>
                            <div class="pb-3 text-center">
                                <span class="product-name display-block text-dark" style="font-size: 18px;">{{ campaign.project_name }}</span>
                                <span class="product-category display-block" style="font-size: 14px;">{{ campaign.category_name }}</span>
                                
                                <div class="row m-0">
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-5 p-0 text-left">
                                                <span class="pt-1 pb-1">Budget</span>
                                            </div>
                                            <div class="col-7 p-0 text-right">
                                                <span class="price-range p-1">{{ campaign.starting_budget }} to {{ campaign.ending_budget }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-7 p-0 text-left">
                                                <span class="pt-1 pb-1">Advertisers Needed:</span>
                                            </div>
                                            <div class="col-5 p-0 text-right">
                                                <span class="p-1 pr-2 pl-2" style="font-size: 14px; color: #2ecc71;">{{ campaign.advertiser_needed }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-7 p-0 text-left">
                                                <span class="pt-1 pb-1">Production Deadline:</span>
                                            </div>
                                            <div class="col-5 p-0 text-right">
                                                <span class="p-1 pr-2 pl-2" style="font-size: 14px; color: #2ecc71;">{{ campaign.production_deadline }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pl-3 pr-3">
                                        <div class="row m-0">
                                            <div class="col-7 p-0 text-left">
                                                <span class="pt-1 pb-1">Campaign Deadline:</span>
                                            </div>
                                            <div class="col-5 p-0 text-right">
                                                <span class="p-1 pr-2 pl-2" style="font-size: 14px; color: #c0392b;">{{ campaign.production_deadline }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-6 col-md-12 col-lg-6 p-0 text-center">
                                    <button class="hot-campaigns-btn w-100 h-100 p-2" style="border-radius: 0 0 0 6px;" (click)="openViewDetailsModal(campaign.campaign_id)">View Details</button>
                                </div>
                                <div class="col-6 col-md-12 col-lg-6 p-0 text-center">
                                    <!-- On Going Campaign State -->
                                    <button id="hot-campaigns-btn" *ngIf="campaign.interested == 1 && campaign.accepted === 'yes'" class="on-progress-btn w-100 h-100 p-2">On Progress</button>
                                    <!-- Interested State -->
                                    <button id="hot-campaigns-btn uninterested" *ngIf="campaign.interested == 1 && campaign.accepted == 'no'" (click)="interested(campaign, i); notificationUninterested(campaign)"
                                        class="hot-campaigns-btn w-100 h-100 p-2" style="background: #FFF !important; border-color: #c0392b !important; color: #c0392b !important; border-radius: 0 0 6px 0;">Uninterested</button>
                                    <!-- Just Display State -->
                                    <button id="hot-campaigns-btn" *ngIf="campaign.interested == 0 && campaign.accepted == 'no'" (click)="interested(campaign, i)"
                                        class="hot-campaigns-btn w-100 h-100 p-2" style="border-radius: 0 0 6px 0;">Interested</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>