.bg-primary
{
    background-color: #16a085 !important;
}

.cancelled {
    background: #c0392b;
}

.card-photo {
    border-radius: 6px 6px 0 0;
    height: 125px;
    object-fit: cover;
}

.done, .on-going, .cancelled {
    font-size: 12px;
    color: #FFF;
    border-radius: 5px;
}

.done {
    background: #2ecc71;
}

.filter-btn {
    border-radius: 5px 0 0 5px;
}

.filter-background {
    background: #433F39;
    border-radius: 5px;
}

.hot-campaigns-btn {
    background: linear-gradient(to top right, #f1c40f 0%, #c0392b 100%) !important;
    border-color: #c0392b !important;
    color: #FFF !important;
}

.hot-campaigns-btn:hover {
    cursor: pointer;
    background: #FFF !important;
    border-color: #c0392b !important;
    color: #c0392b !important;
}

.icon-chevron-down {
    color: #FFF;
}

.item-container {
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
    border-radius: 6px;
}

.num-advertisers {
    background: #c0392b !important;
    color: #FFF;
    border-radius: 6px;
}

.on-going {
    background: #f1c40f;
}

.on-progress-btn {
    background: #2ecc71 !important;
    border-color: #2ecc71 !important;
    color: #FFF !important;
    border-radius: 0 0 6px 0;
}

.price-range {
    border-radius: 5px;
    background: #2ecc71;
    color: #FFF;
}
.interest-btn {
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    background: #c0392b;
    border: 1px solid #c0392b;
    border-color: #c0392b;
    color: #FFF;
}
  
.interest-btn:hover {
    cursor: pointer;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    background: #c0392b;
    border: 1px solid #c0392b;
    border-color: #c0392b;
    color: #c0392b;
}
  
.interests {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.tag {
    background: #c0392b;
    border-radius: 6px;
    cursor: pointer;
}

.tag:hover {
    background: #FFF;
    border-radius: 6px;
    color: #c0392b !important;
    border: 0.5px solid #c0392b;
    cursor: pointer;
}

.reset-btn {
    border-radius: 0 5px 5px 0;
}
  