<div class="modal-body p-0" style="max-height: 557px !important;">
    <div class="row m-0" *ngFor="let detail of campaign_details">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0" style="border-right: 0.2px solid rgba(0,0,0,0.5);">
            <div class="w-100">
                <div class="row m-0">
                    <div class="col-12 head-container w-100 text-center pt-3 pb-3">
                        <img src="{{ detail.businessman[0].profile_picture }}" class="profile-picture rounded-circle">
                    </div>
                    <div class="col-12 text-dark text-center pt-2 name">
                        {{ detail.businessman[0].first_name }} {{ detail.businessman[0].last_name }}
                    </div>
                    <div class="col-12 text-dark text-center business-name">
                        <span class="text-gray">Business:</span>
                        {{ detail.businessman[0].business_name }}
                    </div>
                    <div class="col-12 text-gray text-center business-name pb-2">
                        {{ detail.businessman[0].email_address }}
                    </div>
                    <div class="col-12 icon-container text-gray text-center small-font pt-2 pb-2">
                        <div class="row m-0">
                            <div class="col-3 text-center pt-1 pb-1" style="font-size: 20px;">
                                <i class="icon icon-telephone" style="color: #c0392b;"></i>
                            </div>
                            <div class="col-9 pt-2 pb-2 text-dark text-left" style="font-size: 15px;">
                                {{ detail.businessman[0].contact_number }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-gray text-center small-font pt-3 pb-3" style="border-bottom: 0.5px solid #ddd;">
                        <div class="row m-0">
                            <div class="col-3 text-center pt-1 pb-1" style="font-size: 20px;">
                                <i class="icon icon-map-marker" style="color: #c0392b;"></i>
                            </div>
                            <div class="col-9 text-dark text-left" style="font-size: 15px;">
                                {{ detail.businessman[0].company_address }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-gray text-center small-font pt-3 pb-3">
                        <div class="row m-0" style="max-height: 145px;">
                            <div class="col-3 text-center pt-1 pb-1" style="font-size: 20px;">
                                <i class="icon icon-apartment" style="color: #c0392b;"></i>
                            </div>
                            <div class="col-9 text-dark text-left" style="font-size: 15px; overflow-y: auto !important;">
                                {{ detail.businessman[0].abouts }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 p-0">
            <div class="p-3" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
                <div class="row m-0">
                    <div class="col-6 p-0 text-left text-dark" style="font-size: 18px;">
                        Campaign Information
                    </div>
                    <div class="col-6 p-0 text-right" style="font-size: 18px;">
                        <i class="icon icon-cross text-dark" click="closeModal()"></i>
                    </div>
                </div>
            </div>
            <div class="campaign-container">
                <div class="photos-container pt-3 pb-2 text-center">
                    <img *ngFor="let campaign_photo of campaign_photos" src="{{ campaign_photo.photo }}" class="img-item pr-1">
                </div>
                <div class="pt-2">
                    <div class="row m-0">
                        <div class="col-6 pr-3 text-right">
                            Product Name
                        </div>
                        <div class="col-6 pl-3 text-left text-dark font-weight-bold">
                            {{ detail.project_name }}
                        </div>
                        <div class="col-6 pr-3 text-right">
                            <span class="pt-1 pb-1">Category</span>
                        </div>
                        <div class="col-6 pl-3 text-left text-dark">
                            <span class="category-custom pt-1 pb-1 pr-2 pl-2">{{ detail.category.category_name }}</span>
                        </div>
                        <div class="col-6 pr-3 text-right">
                            Budget
                        </div>
                        <div class="col-6 pl-3 text-left text-dark">
                            {{ detail.starting_budget }} to {{ detail.ending_budget }}
                        </div>
                        <div class="col-12 pl-3 pb-2" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
                            <div class="row m-0">
                                <div class="col-6 pr-3 text-right">
                                    Number of Advertisers Needed
                                </div>
                                <div class="col-6 pl-3 text-left" style="color: #c0392b;">
                                    {{ detail.advertiser_needed }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pl-3 pr-3 pt-2 pb-1">
                            <div class="row m-0">
                                <div class="col-5 p-0">
                                    <i class="icon icon-camera pr-2 text-dark" style="font-size: 16px;"></i>
                                    Video Duration
                                </div>
                                <div class="col-7 p-0">
                                    {{ detail.video_duration }} mins
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pl-3 pr-3 pt-1 pb-1">
                            <div class="row m-0">
                                <div class="col-5 p-0">
                                    <i class="icon icon-calendar-empty pr-2 text-dark" style="font-size: 16px;"></i>
                                    Campaign Deadline
                                </div>
                                <div class="col-7 p-0" style="color: #c0392b;">
                                    {{ detail.campaign_deadline }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pl-3 pr-3 pt-1 pb-2" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
                            <div class="row m-0">
                                <div class="col-5 p-0">
                                    <i class="icon icon-calendar-cross pr-2 text-dark" style="font-size: 16px;"></i>
                                    Production Deadline
                                </div>
                                <div class="col-7 p-0" style="color: #c0392b;">
                                    {{ detail.production_deadline }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pl-3 pr-3 pt-2 pb-2" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
                            <div class="pt-1 pb-1">
                                Product Description
                            </div>
                            <div class="text-dark">
                                {{ detail.project_description }}
                            </div>
                        </div>
                        <div class="col-12 pl-3 pr-3 pt-2 pb-2">
                            <div class="pt-1 pb-1">
                                Advertising Details
                            </div>
                            <div class="row m-0 text-dark" *ngFor="let ad_detail of detail.advertising_details">
                                <div class="col-2 p-0">
                                    >>
                                </div>
                                <div class="col-10 p-0">
                                    {{ ad_detail.detail }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer p-3">
    <div class="row m-0">
        <div class="col-12 text-right">
            <button (click)="openReferalModal()"class="refer pt-2 pb-2 pr-3 pl-3" style="width: 740px;">Refer Other YouTubers</button>
        </div>
    </div>
</div>