<div class="admin-background w-100 h-100">
    <div class="row m-0 h-100">
        <div class="side-border col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 p-0 h-100">
            <div class="admin-profile row m-0 pt-4 pb-4" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
                <div class="col-12 pr-0 pl-0 text-center">
                    <img src="../../../assets/img/category_icons/png/004-audio.png" class="img-user" style="object-fit: cover;">
                    <div class="username pt-2 text-dark font-weight-bold" style="font-size: 14px;">
                        Admin
                    </div>
                    <div class="business-name text-center text-gray" style="font-size: 11px;">
                        Admin
                    </div>
                    <div class="email text-center text-gray" style="font-size: 11px;">
                        admin@gmail.com
                    </div>
                </div>
            </div>
            <div class="row m-0 pb-2">
                <div class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="logout()">
                    <div class="row m-0">
                        <div class="col-3 pr-0 pl-0">
                            <i class="icon icon-icons2 pr-2 pl-2 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                        </div>
                        <div class="col-9 pr-0 pl-0 align-self-center">
                            <span class="side-menu-item-name">Logout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 p-0 h-100">
            <nav>
                <div class="nav nav-tabs pl-3 pr-3 pt-3" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-campaign-tab" data-toggle="tab" href="#nav-campaign"
                        role="tab" aria-controls="nav-campaign" aria-selected="true">Youtuber</a>
                    <a class="nav-item nav-link" id="nav-reports-tab" data-toggle="tab" href="#nav-reports"
                        role="tab" aria-controls="nav-reports" aria-selected="false">Businessman</a>
                </div>
            </nav>
            <div class="height-adj tab-content p-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-campaign" role="tabpanel" aria-labelledby="nav-campaign-tab" style="height: 100%;">
                    <div class="row sync-container p-4 mb-2 m-0">
                        <div class="sync-name col-6 p-0 align-self-center text-left">
                            Press the button "Sync from YouTube" to sync the data from YouTube to the database of Amplify.
                        </div>
                        <div class="col-6 p-0 text-right">
                            <button class="sync-button p-3" (click)="syncAllData()">
                                Sync from YouTube
                            </button>
                        </div>
                    </div>
                    <div class="row sync-container p-4 mb-3 m-0">
                        <div class="sync-name col-6 p-0 align-self-center text-left">
                            Configure weight for recommendation.
                        </div>
                        <div class="col-6 p-0 text-right">
                            <button class="sync-button p-3" (click)="configureVideoWeight()">
                                Configure
                            </button>
                        </div>
                    </div>
                    <div class="youtuber-list-container" *ngFor="let youtuber of youtubers; let i = index">
                        <div class="user-container w-100 p-3 mb-2">
                            <div class="row m-0">
                                <div class="col-1 p-0 text-center">
                                    <img src="{{ youtuber.photoUrl }}" class="img-user-in-list">
                                </div>
                                <div class="col-4 p-0 text-left align-self-center">
                                    <strong class="lname text-dark">{{ youtuber.lastName }}</strong>
                                    <span class="fname">, {{ youtuber.firstName }}</span>
                                </div>
                                <div class="col-3 p-0 text-left align-self-center">
                                    <strong class="fname  text-dark">{{ youtuber.youtubeCh }}</strong>
                                </div>
                                <div class="col-2 p-0 text-left align-self-center">
                                    <span class="fname">{{ youtuber.date_added }}</span>
                                </div>
                                <div class="col-1 p-0 text-left align-self-center">
                                    <button class="sync-button p-2 pl-3 pr-3" (click)="updateVideo(youtuber.youtuber_id, youtuber.youtubeCh)">
                                        Update
                                    </button>
                                </div>
                                <div class="col-1 p-0 text-center align-self-center">
                                    <i (click)="removeYoutuber(youtuber.youtuber_id, i)" class="icon icon-cross pr-2 pl-2 pt-2 pb-2" style="display: inline-block;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="nav-reports" role="tabpanel" aria-labelledby="nav-reports-tab" style="height: 100%;">
                    <div class="row configure-container p-4 mb-3 m-0">
                        <div class="sync-name col-6 p-0 align-self-center text-left">
                            Configure businessman rating for YouTuber recommendation.
                        </div>
                        <div class="col-6 p-0 text-right">
                            <button class="configure-button p-3" (click)="configureBusinessmanRatingWeight()">
                                Configure
                            </button>
                        </div>
                    </div>
                    <div class="businessman-list-container" *ngFor="let businessman of businessmen">
                        <div class="user-container w-100 p-3 mb-2">
                            <div class="row m-0">
                                <div class="col-1 p-0 text-center">
                                    <img src="{{ businessman.photo }}" class="img-user-in-list">
                                </div>
                                <div class="col-4 p-0 text-left align-self-center">
                                    <strong class="lname text-dark">{{ businessman.last_name }}</strong>
                                    <span class="fname">, {{ businessman.first_name }}</span>
                                </div>
                                <div class="col-4 p-0 text-left align-self-center">
                                    <strong class="fname  text-dark">{{ businessman.business_name }}</strong>
                                </div>
                                <div class="col-2 p-0 text-left align-self-center">
                                    <span class="fname">{{ businessman.date_added }}</span>
                                </div>
                                <div class="col-1 p-0 text-center align-self-center">
                                    <i (click)="removeBusinessman(businessman.businessman_id)" class="icon icon-cross pr-2 pl-2 pt-2 pb-2" style="display: inline-block;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>