.admin-background {
  background: #FFF;
  border-radius: 4px;
  -webkit-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -o-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
}

.admin-profile:hover {
  cursor: pointer;
  background: linear-gradient(to top right, #00cc66 0%, #0099cc 100%);
  border-radius: 5px 0 0 0;
  border: 0.5px solid #FFF;
  color: #FFF;
  left: 3px;
  top: 3px;
}

.configure-container {
  border-radius: 5px;
  color: #FFF;
  border: 0.5px solid #c0392b;
  background: linear-gradient(to top right, #00cc66 0%, #0099cc 100%) !important;
}

.configure-button {
  background: #00cc66;
  color: #FFF;
  border-radius: 5px;
  border: 0.5px solid #00cc66;
}

.configure-button:hover {
  cursor: pointer;
  background: #FFF !important;
  color: #0099cc;
}

.height-adj {
  background-color: #f5f7fa;
  height: calc(100% - 58px);
  border-radius: 0 0 5px 0;
}

.admin-profile:hover .username,
.admin-profile:hover .business-name,
.admin-profile:hover .email {
  cursor: pointer;
  color: #FFF !important;
}

.icon-cross {
  color: #c0392b;
  font-size: 18px;
}

.icon-cross:hover {
  cursor: pointer;
}

.icon-custom {
  color: #009999;
  font-size: 21px;
}

.img-user {
  height: 70px;
  width: 70px;
  border-radius: 100px;
}

.img-user-in-list {
  height: 45px;
  width: 45px;
  border-radius: 100px;
}

.lname {
  text-transform: uppercase;
  font-size: 18px;
}

.fname {
  font-size: 15px;
}

.underline {
  border-bottom: 0.2px solid rgba(0,0,0,0.5);
}

.side-border {
  border-right: 0.2px solid rgba(0,0,0,0.5);
}

.side-menu-item {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.5);
}

.side-menu-item:hover {
  background: linear-gradient(to top right, #00cc66 0%, #0099cc 100%);
  cursor: pointer;
  border-radius: 3px;
  border-color: #00cc99;
  color: #FFF;
  left: 5px;
  -webkit-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  -o-box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  box-shadow: 2px 4px 15px rgba(10, 10, 10, 0.3);
  transition-timing-function: ease;
}

.side-menu-item:hover .icon-custom {
  color: #FFF;
  cursor: pointer;
}

.sync-container {
  border-radius: 5px;
  color: #FFF;
  border: 0.5px solid #c0392b;
  background: linear-gradient(to right, #c0392b 0%, #f1c40f 100%) !important;
}

.sync-button {
  background: #c0392b;
  color: #FFF;
  border-radius: 5px;
  border: 0.5px solid #c0392b;
}

.sync-button:hover {
  cursor: pointer;
  background: #FFF !important;
  color: #c0392b;
}

.sync-name {
  font-size: 16px;
}

.user-container {
  background: #FFF;
  border-radius: 5px;
  /* border: 0.5px solid rgba(0,0,0,0.5); */
}

.youtuber-list-container {
  max-height: 80%;
  overflow-y: auto;
}

.businessman-list-container {
  max-height: 100%;
  overflow-y: auto;
}