<html>

<body class="body">
  <div id=" content ">
    <div id="gtco-header " class="gtco-cover " role="banner ">
      <div class="backgroundImage ">
      </div>
      <div class="background " style="background:transparent; ">
        <div class="row remove-margin" style="margin-top: 125px;">
          <div class="col-4">
          </div>
          <div class="col-4 text-center pr-0 pl-0">
            <div class="login-container">
              <div class="row remove-margin">
                <div class="col">
                  <div id="carouselExampleControls" class="carousel slide">
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active">
                        <div class="row remove-margin">
                          <div class="col">
                            <div class="row remove-margin pt-3">
                              <div class="col-12">
                                <div class="col text-gray text-center" style="font-size: 15px;">
                                  Login as
                                  <span class="lbl-businessman font-weight-bold">BUSINESSMAN</span>
                                </div>
                              </div>
                            </div>
                            <div class="row remove-margin pt-4 pb-4">
                              <div class="col-2"></div>
                              <div class="col-8">
                                <img src="./assets/img/logoamp.svg.png" class="w-100">
                              </div>
                              <div class="col-2"></div>
                            </div>
                            <div class="row remove-margin pb-2">
                              <div class="col-2 text-right pr-0" style="padding-top: 10px;">
                                <i class="icon icon-user text-dark"></i>
                              </div>
                              <div class="col-9">
                                <input type="text" [(ngModel)]="authData.identity" placeholder="Enter Username" name="username" class="form-control input-user w-100 h-100">
                              </div>
                              <div class="col-1"></div>
                            </div>
                            <div class="row remove-margin mb-1">
                              <div class="col-2 text-right pr-0" style="padding-top: 10px;">
                                <i class="icon icon-key text-dark"></i>
                              </div>
                              <div class="col-9">
                                <input type="password" [(ngModel)]="authData.password" placeholder="Enter Password" name="password" class="form-control input-user w-100 h-100">
                              </div>
                              <div class="col-1"></div>
                            </div>
                            <div class="row remove-margin">
                              <div class="col-2 text-right">
                              </div>
                              <div class="col-9 text-left">
                                <a href="" class="pt-2 pb-2 text-gray" style="font-size: 12px;">Forgot Password?</a>
                              </div>
                              <div class="col-1"></div>
                            </div>
                            <div class="row remove-margin pb-5 mt-2">
                              <div class="col-2 text-right">
                              </div>
                              <div class="col-9">
                                <button class="w-100 h-100 login-btn" (click)="login()">Login</button>
                              </div>
                              <div class="col-1"></div>
                            </div>
                            <div class="row remove-margin pb-3">
                              <div class="col-2 text-right">
                              </div>
                              <div class="col-9">
                                <span class="text-gray font12">No account yet?
                                  <a class="sign-up font-weight-bold" style="color: #20c997;" (click)="openSignUp()">SIGN UP HERE!</a>
                                </span>
                              </div>
                              <div class="col-1"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row remove-margin">
                          <div class="col">
                            <div class="row remove-margin pt-3">
                              <div class="col-12">
                                <div class="col text-gray text-center" style="font-size: 15px;">
                                  Login as
                                  <span class="lbl-businessman font-weight-bold">YOUTUBER</span>
                                </div>
                              </div>
                            </div>
                            <div class="row remove-margin pt-4 pb-4">
                              <div class="col-2"></div>
                              <div class="col-8">
                                <img src="./assets/img/logoamp.svg.png" class="w-100">
                              </div>
                              <div class="col-2"></div>
                            </div>
                            <div class="row remove-margin pb-3">
                              <div class="col-12">
                                <div class="text-center text-gray" style="font-size: 14px;">
                                  Enter your account through:
                                </div>
                              </div>
                            </div>
                            <div class="row remove-margin pb-3">
                              <div class="col-2 text-right pr-0" style="padding-top: 10px;">
                              </div>
                              <div class="col-8">
                                <button (click)="signInWithGoogle() " class="btn btn-google ripple text-center ">
                                  <img src="../../../assets/img/google_icon.png " class="img-google" alt="user "> Sign in with Google
                                </button>
                              </div>
                              <div class="col-2"></div>
                            </div>
                            <div class="row remove-margin pb-5">
                              <div class="col-1 text-right pr-0" style="padding-top: 10px;">
                              </div>
                              <div class="col-10 text-center text-gray" style="font-size: 14px;">
                                Your account will be saved once you submit the
                                <span class="lbl-businessman">MEDIAKIT</span> provided right after logging in through Google Account.
                                <br> Join
                                <span class="lbl-businessman">AMPLIFY</span>! And be a
                                <span class="lbl-businessman">YouTuber</span> now!
                              </div>
                              <div class="col-1"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row remove-margin">
                          <div class="col">
                            <div class="row remove-margin pt-3">
                              <div class="col-12">
                                <div class="col text-gray text-center" style="font-size: 15px;">
                                  Login as
                                  <span class="lbl-businessman font-weight-bold">ADMIN</span>
                                </div>
                              </div>
                            </div>
                            <div class="row remove-margin pt-4 pb-4">
                              <div class="col-2"></div>
                              <div class="col-8">
                                <img src="./assets/img/logoamp.svg.png" class="w-100">
                              </div>
                              <div class="col-2"></div>
                            </div>
                            <div class="row remove-margin pb-2">
                              <div class="col-2 text-right pr-0" style="padding-top: 10px;">
                                <i class="icon icon-user text-dark"></i>
                              </div>
                              <div class="col-9">
                                <input type="text" [(ngModel)]="adminAuthData.identity" placeholder="Enter Username" name="username" class="form-control input-user w-100 h-100">
                              </div>
                              <div class="col-1"></div>
                            </div>
                            <div class="row remove-margin mb-1">
                              <div class="col-2 text-right pr-0" style="padding-top: 10px;">
                                <i class="icon icon-key text-dark"></i>
                              </div>
                              <div class="col-9">
                                <input type="password" [(ngModel)]="adminAuthData.password" placeholder="Enter Password" name="password" class="form-control input-user w-100 h-100">
                              </div>
                              <div class="col-1"></div>
                            </div>
                            <div class="row remove-margin">
                              <div class="col-2 text-right">
                              </div>
                              <div class="col-9 text-left">
                                <a href="" class="pt-2 pb-2 text-gray" style="font-size: 12px;">Forgot Password?</a>
                              </div>
                              <div class="col-1"></div>
                            </div>
                            <div class="row remove-margin pb-5 mt-2">
                              <div class="col-2 text-right">
                              </div>
                              <div class="col-9">
                                <button class="w-100 h-100 login-btn" (click)="loginAdmin()">Login</button>
                              </div>
                              <div class="col-1"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span aria-hidden="true">
                        <i class="icon icon-chevron-left text-dark"></i>
                      </span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span aria-hidden="true">
                        <i class="icon icon-chevron-right text-dark"></i>
                      </span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <div class="col-12">
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
