.fs-15 {
  font-size: 15px !important;
}

.wrapper {
  margin: 0px;
}

.remove-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ellipsis {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: auto;
}

.content-body {
  height: calc(100%) !important;
  border-radius: 0px 0px 5px 0px;
  overflow-y: auto;
}

ngb-datepicker ngb-datepicker-month-view ngb-dp-week .ngb-dp-day .btn-light {
  color: #000 !important;
}