<div class="modal-body p-0">
  <div class="row m-0">
    <div class="col-12 p-4">
      <div class="row m-0">
        <div class="col-12 p-0 text-center pt-2 pb-2" style="background: #FFF; border-radius: 6px 6px 0 0">
          <span class="mediakit-font">Mediakit</span>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-2 pb-4 pl-2 pr-2 text-left" style="background: #FFF; border-radius: 0 0 0 6px">
          <div class="row m-0">
            <div class="col-12 p-0 pl-2 pr-2">
              <div class="w-100">
                <label>First Name</label>
                <input [(ngModel)]="youtuberInfo.firstName " type="text " placeholder="FirstName" class="form-control " id="fname" style="margin-bottom: 10px; "
                  required>
              </div>
              <div class="w-100">
                <label>Last Name</label>
                <input [(ngModel)]="youtuberInfo.lastName " type="text " placeholder="LastName" class="form-control " id="lname " required>
              </div>
              <div class="w-100">
                <label>Phone Number</label>
                <input [(ngModel)]="youtuberInfo.contact_no " type="number" class="form-control" placeholder="Landline or Mobile" id="phoneNo ">
              </div>
              <div class="w-100">
                <label>Gender</label>
                <select [(ngModel)]="youtuberInfo.gender " class="form-control " aria-placeholder="Gender " data-toggle="select1 ">
                  <option selected=true>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="w-100">
                <label>Address</label>
                <input [(ngModel)]="youtuberInfo.address " type="text " class="form-control " id="address ">
              </div>
              <div class="w-100">
                <label>Interests</label>
                <div class="row m-0">
                  <div class="col-11 p-0">
                    <input [(ngModel)]="input_interest" type="text " class="interests form-control" id="address" (keydown)="onKeydown($event)">
                  </div>
                  <div class="col-1 p-0">
                    <button class="interest-btn w-100 h-100" (click)="addInterest()">
                      <i class="icon icon-plus"></i>
                    </button>
                  </div>
                </div>
                <div class="pt-2 pb-2" style="overflow-x: auto; white-space: nowrap;">
                  <span class="pt-1 pb-1 pl-2 pr-2 mr-1 text-white" style="background: #c0392b; border-radius: 6px;" *ngFor="let interest of interests">
                    {{ interest }}
                    <i class="icon icon-cross pl-2 text-white" style="cursor: pointer;" (click)="removeInterest(interest)"></i>
                  </span>
                </div>
              </div>
              <div class="w-100">
                <label>Abouts</label>
                <textarea [(ngModel)]="youtuberInfo.abouts " type="text" rows="3" class="form-control " id="address "></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-2 pb-4 pl-2 pr-2 text-left" style="background: #FFF; border-radius: 0 0 6px 0">
          <div class="w-100">
            <label style="display: inline-block">Youtube Account</label>
            <span class="pl-2">
              <a href="https://www.youtube.com/account_advanced" target="https://www.youtube.com/account_advanced"> Get your Channel ID</a>
            </span>
            <div class="row m-0">
              <div class="col-1 p-0">
                <img src="../../../assets/img/youtube.png " class="w-100 h-100">
              </div>
              <div class="col-11 pr-0">
                <input [(ngModel)]="youtuberInfo.youtubeCh " type=" text " class="form-control " id="youtube" placeholder="e.g. UCm1_WIebVjuJl0QgzFKQLvw">
              </div>
            </div>
          </div>
          <div class="w-100">
            <label>Facebook Account</label>
            <div class="row m-0">
              <div class="col-1 p-0">
                <img src="../../../assets/img/facebook.png " class="w-100 h-100">
              </div>
              <div class="col-11 pr-0">
                <input [(ngModel)]="youtuberInfo.fb_ac " type=" text " class="form-control " id="fb" placeholder="eg. www.facebook.com/user.name">
              </div>
            </div>
          </div>
          <div class="w-100">
            <label>Twitter Account</label>
            <div class="row m-0">
              <div class="col-1 p-0">
                <img src="../../../assets/img/twitter.png " class="w-100 h-100">
              </div>
              <div class="col-11 pr-0">
                <input [(ngModel)]="youtuberInfo.twitter_ac " type=" text " class="form-control " id="twitter" placeholder="www.twitter.com/user.name">
              </div>
            </div>
          </div>
          <div class="w-100">
            <label>Instagram Account</label>
            <div class="row m-0">
              <div class="col-1 p-0">
                <img src="../../../assets/img/instagram.png " class="w-100 h-100">
              </div>
              <div class="col-11 pr-0">
                <input [(ngModel)]="youtuberInfo.ig_ac " type=" text " class="form-control " id="ig" placeholder="@instagram_account">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer p-3">
  <div class="row m-0 w-100">
    <div class="col-6"></div>
    <div class="col-6 p-0 text-right">
      <div class="w-100">
        <div *ngIf="!submitted" class="row m-0">
          <div class="col-6 p-0">
            <button (click)="onBack() " class="back-btn p-2 w-100" type="submit">Back</button>
          </div>
          <div class="col-6 p-0">
            <button (click)="onSubmitMediaKit() " class="submit-btn p-2 w-100" type="submit ">Submit</button>
          </div>
        </div>
        <div *ngIf="submitted" class="row m-0">
          <div class="col-3 p-0">
            <button disabled class="back-disabled-btn p-2 w-100" type="submit">Back</button>
          </div>
          <div class="col-9 p-0">
            <button disabled class="submit-disabled-btn p-2 w-100" type="submit ">This will take a few minutes ...</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>