.back-btn {
  background:#dee2e6;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
}

.back-disabled-btn {
  background:#dee2e6;
  color: #b1b1b1;
  border: 1px solid #b1b1b1;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
}

.back-btn:hover {
  cursor: pointer;
  background:#000;
  color: #FFF;
  border: 1px solid #000;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
}

.interest-btn {
  font-size: 12px;
  border-radius: 0 5px 5px 0;
  background: #c0392b;
  border: 1px solid #c0392b;
  border-color: #c0392b;
  color: #FFF;
}

.interest-btn:hover {
  cursor: pointer;
  font-size: 12px;
  border-radius: 0 5px 5px 0;
  background: #FFF;
  border: 1px solid #c0392b;
  border-color: #c0392b;
  color: #c0392b;
}

.interests {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.mediakit-font {
  font-size: 30px;
  color: #c0392b;
}

.modal-body {
  max-height: 557px !important;
  overflow-y: auto !important;
}

.submit-btn {
  background: #c0392b;
  color:#fff;
  border-radius: 0 6px 6px 0;
  border: 1px solid #c0392b;
  font-size: 16px;
}

.submit-disabled-btn {
  background: #ea786d;
  color:#fff;
  border-radius: 0 6px 6px 0;
  border: 1px solid #ea786d;
  font-size: 16px;
}

.submit-btn:hover {
  cursor: pointer;
  background: #FFF !important;
  color:#c0392b;
  border-radius: 0 6px 6px 0;
  border: 1px solid #c0392b;
  font-size: 16px;
}