.avatar{
    border: 1px solid #38d57a42;
    background-color: #38d57a30;
    color: #00a699;
}
.avatar:hover{
    color: #00a699;
}
.layout-2-col .layout-left-panel{
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.15), inset 0px 10px 10px 0px rgba(50, 50, 50, 0.05);
}
.layout-right-panel{
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.15), inset 0px 10px 10px 0px rgba(50, 50, 50, 0.05);
}
.bg-white{
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.15), inset 0px 10px 10px 0px rgba(50, 50, 50, 0.05);
}
.chart{
    height:420px;
}
.tab-content{
    height: 100%;
}
.avatar:hover{
    display: none;
}
.youtuber-pp{
    height: 100px;
    width: 100px;
}
a:hover img.watermark {
    display: block;
}

img.watermark {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    /* opacity: .6; */
     /* background-color: #ffbfbf63; */
    display: none;
}
/* img.youtuber-pp:hover{
    -webkit-filter: blur(2px);
    filter: blur(2px);
    content: '../../../../../assets/img/logo-reports.png';
} */
/***** Modal *****/
 
.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}
 
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
 
.modal-body {
    padding: 0 25px 25px 25px;
}
 
.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}
 
.modal-header, .modal-footer {
    border: 0;
}
 
.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}
/* .user-avatar-list a img {
    border: 3px solid;
} */

.control-center {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100px;
  }
  
  .control-center-background:hover {
    /* background: transparent; */
    z-index: 1;
    height: 100px;
    width: 100px;
    -webkit-filter: blur(2px);
    filter: blur(2px);  
  }
  
  .control-center-background {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-position: center bottom;
    /* -webkit-filter: contrast(30%) brightness(160%) blur(12px); */
  }
  
  .control-center-content {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    text-align: center;
  }
  .details-campaign-header {
    font-size: 25px;
}

.stats-container {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}

.stats-container-body {
    font-size: 39px;
    border-bottom: 0.2px solid rgba(0,0,0,0.5);
}

.stats-container-footer {
    border-radius: 0 0 6px 6px;
    font-size: 14px;
}

.stats-container-header {
    border-radius: 6px 6px 0 0;
    background: linear-gradient(to right, #009999 0%, #00cc99 100%);
}

.icon-enter:hover {
    cursor: pointer;
}

.production-deadline {
    background: #00cc99;
    border-radius: 6px;
    color: #FFF;
}

.progress-bar-primary, .bg-primary
{
    background-color: #16a085 !important;
    border-color: #16a085 !important;
    color: #fff;
}

.businessman-color {
    color: #009999;
}

.cancelled {
    background: #c0392b;
}

.details-campaign-header {
    font-size: 25px;
}

.done, .on-going, .cancelled {
    font-size: 12px;
    color: #FFF;
    border-radius: 5px;
}

.done {
    background: #2ecc71;
}

.hot-campaigns-color {
    color: #c0392b !important;
}

.hot-campaigns-btn {
    background: linear-gradient(to top right, #f1c40f 0%, #c0392b 100%) !important;
    border-color: #c0392b !important;
    color: #FFF !important;
}

.hot-campaigns-btn:hover {
    cursor: pointer;
    background: #FFF !important;
    border-color: #c0392b !important;
    color: #c0392b !important;
}

.on-going {
    background: #f1c40f;
}

.product-category {
    font-size: 14px;
}

.product-name {
    font-size: 18px;
}

.price-range {
    font-size: 16px;
    border-radius: 5px;
    background: #2ecc71;
}

.stats-container {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}

.top-influencer {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
    max-height: 500px;
}

.top-influencer-btn {
    background: linear-gradient(to right, #009999 0%, #00cc99 100%);
    border-color: #00cc99;
    color: #FFF;
}

.top-influencer-btn:hover {
    cursor: pointer;
    background: #FFF;
    border-color: #009999;
    color: #009999;
}

.top-influencer-color {
    color: #009999 !important;
}

.icon-enter:hover {
    cursor: pointer;
}

.progress-bar-primary, .bg-primary
{
    background-color: #16a085 !important;
    border-color: #16a085 !important;
    color: #fff;
}

.bg-primary
{
    background-color: #16a085 !important;
}
      