
        <div class="h-100 tabs tabs-vertical tabs-vertical-icons">
          <div class="h-100 d-flex layout-2-col align-items-stretch"> 



            <!-- START: .layout-left-panel -->
            <div class="layout-left-panel layout-left-panel-sm animated slideInLeft">
              <div class="layout-search py-3 bg-white border-bottom px-3 ff-theme d-flex text-dark align-items-center pos-relative">
                <div>
                  <div ngbDropdown class="d-inline-block">
                   All Campaigns
                    <!-- <div ngbDropdownMenu aria-labelledby="adm_select_filter">
                      <button class="d-block w-100 fs-12 text-dark dropdown-item active">All Admissions</button>
                      <button class="d-block w-100 fs-12 text-dark dropdown-item">New Admissions</button>
                      <button class="d-block w-100 fs-12 text-dark dropdown-item">For Discharged</button>
                    </div> -->
                  </div>
                </div>
                <!-- <div class="ml-auto text-right">
                  <a href="javascript:void(0);" class="text-dark layout-search-btn" placement="top" container="body" ngbTooltip="Search Patient">
                    <span class="material-icons fs-20 mr-2">search</span>
                  </a>
                </div> -->
                <div class="layout-search-input pos-absolute px-3">
                  <div class="d-flex align-items-center">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Search station" name="">
                    </div>
                    <div class="ml-2">
                      <a href="#" class="text-danger layout-search-close" placement="top" ngbTooltip="Close">
                        <i class="material-icons">clear</i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <perfect-scrollbar class="ps p-0" style="min-height:67vh;max-height:67vh;">
                <ul class="nav nav-tabs nav-tabs-no-arrow flex-column p-0">
                  <li  (click)="getVideoStatistics(campaign, selectedmonth.value)"  class="station-patient-list nav-item" active *ngFor="let campaign of campaigns">
                    <div class="d-flex align-items-center">
                      <div class="col-8">
                        <div class="avatar-container ff-theme">
                          <!-- <div class="avatar s40">C</div> -->
                          <figure class="single-user-avatar thumb-xs2 m-0">
                              <a href="#">
                                <!-- <img class="rounded-circle" src="data:{{campaign.product_photo}}"> -->
                                <img class="rounded-circle" style="object-fit: cover;" src="{{ campaign.photo }}">
                              </a>
                            </figure>
                          <div class="avatar-label">
                            <span class="avatar-title ml-2 mb-1 fw-600">{{campaign.project_name}}</span>
                            <!-- <span class="badge badge-light letter-space1  fs-10 fw-500 mr-2 d-inline-block align-middle">
                              <i class="fw-600 mr-1 align-middle icon-man"></i>
                              <span class="align-middle">P127446</span>
                            </span>
                            <span class="badge badge-light letter-space1 fs-10 fw-500 mr-2 d-inline-block align-top">
                              <i class="icon-bed fw-600 mr-1 align-middle"></i>
                              <span class="align-middle">P1CU3</span>
                            </span> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-5">
                        <!-- <small class="avatar-desc text-uppercase ff-theme text-dark">35 &bull; M</small> -->
                        <div *ngIf="campaign.advertisers" class="col-12 col-sm-12 col-md-6 col-lg-6 m-0 p-0 btn action">
                            <div  class="float-right user-avatar-list">
                              <a href="#" class="thumb-xxs" *ngFor="let advertiser of campaign.advertisers">
                                <img src="{{ advertiser.photoUrl }}" class="rounded-circle" alt="User 2"  data-toggle="tooltip" data-placement="top" title="{{advertiser.firstName + ' ' + advertiser.lastName}}">
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </perfect-scrollbar>
            </div>
            <!-- END: .layout-left-panel -->
            <!-- START: .layout-right-panel -->
            <div class="layout-right-panel active col p-0">
              <div class="tab-content pl-0">
                  <perfect-scrollbar>
                    <div class="widget-holder widget-full-height widget-flex col-md-12">
                        <div class="widget-bg">
                            <div class="chart col-md-12">
                                <div class="bg-white bg-shadow rounded text-uppercase ff-theme p-4 ">
                                  <div class="w-100">
                                    <!-- <div class="py-2 mb-5 border-bottom">
                                      <span class="text-dark">Monthly Chart</span>
                                    </div> -->
                                    <div class="row m-0">
                                        <div class="col-3 mr-4">
                                            <select #selectedmonth class="form-control" (change)="changeDate(selectedmonth.value)">
                                                <option *ngFor= "let month of months" value="{{month}}" > {{month | date: 'MMMM'}}</option>
                                            </select>
                                        </div>
                                        <div class="col-4 ml-4">
                                          <div class="stats-container w-100">
                                            <div class="stats-container-header pt-2 pb-2 pr-3 pl-3 text-right">
                                            </div>
                                            <div class="stats-container-body text-dark fs-20 text-center">
                                              {{ totalViewsCampaign | number }}
                                            </div>
                                            <div class="stats-container-footer businessman-color text-center pt-2 pb-2">
                                                Total Number of Views
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    
                                    <app-report-chart [requestMedicines]="requestData | json" [releasedMedicines]="releasedData | json" [height]="350" month="{{first_date | date :'MMMM'}}"></app-report-chart>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="row" *ngFor="let advertiser of advertisers">
                                <div class="col-sm-8 col-sm-offset-2 video-link medium-paragraph" >
                                    <a href="#" class="launch-modal" data-modal-id="modal-video" >
                                        <img src="{{ advertiser.photoUrl }}" class="rounded-circle youtuber-pp" alt="User 2">
                                      
                                    </a>
                                </div>
                            </div> -->
                              <div class="row ml-5">
                                <div *ngIf="advertisers" class="col-12 col-sm-12 col-md-6 col-lg-6 m-0 p-0 btn action height-10">
                                  <div  class="float-right user-avatar-list">
                                    <a (click)="openVideoModal(advertiser)"  class="launch-modal thumb-xxs" data-modal-id="modal-video" *ngFor="let advertiser of advertisers" data-toggle="tooltip" data-placement="top" title="{{advertiser.firstName + ' ' + advertiser.lastName}}">
                                      <img src="{{ advertiser.photoUrl }}" class="rounded-circle youtuber-pp"  alt="User 2">
                                      <div class="control-center">
                                        <div class="control-center-content">
                                             <img src="../../../../../assets/img/youtube1.png" class="rounded-circle watermark"/>
                                        </div>
                                        <div class="control-center-background rounded-circle"></div>
                                      </div> 
                                      
                                      <!-- <div class="container">
                                        <img src="{{ advertiser.photoUrl }}" alt="Avatar" class="image " style="width:100%">
                                        <div class="middle">
                                          <div class="text">John Doe</div>
                                        </div>
                                      </div> -->
                                    </a> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </perfect-scrollbar>    
              </div>
            </div>
          </div>
        </div>
        <!-- MODAL -->
        <div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-video">
                            <div class="embed-responsive embed-responsive-16by9">
                                <div class="col-12 text-center p-0">
                                    <div [innerHTML]='iframe_html'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </body>
</html> -->