.advertiser {
    border-bottom: 0.5px solid rgba(0,0,0,0.5);
}

.advertisers-container {
    max-height: 560px;
    overflow-y: auto;
    background: #FFF;
    border-radius: 5px;
}

.chevron {
    font-size: 20px;
    cursor: pointer;
}

.chevron:hover {
    color: #c0392b !important;
}

.details-container {
    overflow-y: auto;
    background: #FFF;
    border-radius: 5px;
}

.done {
    color: #2ecc71;
}

.icon-play:before {
    font-size: 25px;
    cursor: pointer;
}

.icon-play:hover {
    color: #c0392b !important;
}

.image {
    height: 75px;
    width: 75px;
    border-radius: 400px;
}

.late {
    color: #c0392b;
}

.left-wing {
    width: calc(35% - 25px);
    height: calc(100%);
    overflow-y: auto;
}

.right-wing {
    width: calc(65%);
    height: calc(100%);
    overflow-y: auto;
}

.name {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.no-data {
    border-radius: 5px;
    border: 0.5px solid #c0392b;
    font-size: 20px;
    color: #c0392b;
}

.rating-container {
  font-size: 30px;
  color: yellow;
}

.report-container {
    overflow-y: auto;
}

.video {
    object-fit: cover;
    cursor: pointer;
}

.video-title {
  font-size: 20px;
  color: #c0392b;
}

.video-description {
  font-size: 15px;
  color: #000;
}

.video-note {
  border-radius: 6px;
  border: 1px solid #c0392b;
  color: #c0392b;
  font-size: 20px;
}

.video-stats {
  font-size: 15px;
  color: gray;
}

.view_details {
    background: #c0392b;
    border-radius: 6px;
    border: 1px solid #c0392b;
    color: #FFF;
    cursor: pointer;
}

.view_details:hover {
    background: #FFF;
    color: #c0392b;
}