<div class="h-100 p-3">
    <div class="no-data p-3 text-center" *ngIf="!report_existence">
        No data found in Reports Page.
    </div>
    <div class="h-100">
        <div class="d-inline-block left-wing">
            <div class="advertisers-container" *ngFor="let report of report_list">
                <div class="advertiser p-3">
                    <div class="row m-0">
                        <div class="col-3 p-0 align-self-center">
                            <img src="{{ report.photo }}" class="image">
                        </div>
                        <div class="col-8 p-0 pl-2 align-self-center">
                            <span class="d-block name">{{ report.project_name }}</span>
                            <span class="d-block">{{ report.business_name }}</span>
                            <span class="d-block done" *ngIf="report.submission_status === 'Submitted'">{{ report.submission_status }}</span>
                            <span class="late" *ngIf="report.submission_status === 'Late'">{{ report.submission_status }}</span>
                        </div>
                        <div class="col-1 p-0 align-self-center">
                            <i class="icon icon-play" (click)="viewReport(report.accepted_interest_id)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-inline-block right-wing ml-3">
            <div class="details-container h-100 p-3">
                <div class="text-center mb-3">
                    <img src="{{ report_details.video.default_thumbnail }}" class="video" (click)="openVideo(report_details.video.video_id)">
                </div>
                <div class="row m-0">
                    <div class="col-12 p-0 text-center">
                        <span class="video-title">{{ report_details.video.video_title }}</span>
                    </div>
                    <div class="col-12 p-0 pb-3">
                        <span class="video-description">{{ report_details.video.video_description }}</span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
                        <i class="icon icon-eye icon-report-custom pr-3"></i>
                        <span class="video-stats text-dark">{{ report_details.video.views_count }}</span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
                        <i class="icon icon-thumbs-up icon-report-custom pr-3"></i>
                        <span class="video-stats text-dark">{{ report_details.video.likes_count }}</span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
                        <i class="icon icon-bubble icon-report-custom pr-3"></i>
                        <span class="video-stats text-dark">{{ report_details.video.comments_count }}</span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
                        <i class="icon icon-thumbs-down icon-report-custom pr-3"></i>
                        <span class="video-stats text-dark">{{ report_details.video.dislikes_count }}</span>
                    </div>
                    <div class="col-12 p-0 pt-3">
                        <div class="row m-0">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 p-0 align-self-center">
                                Reputation Score Gained:
                            </div>
                            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0 text-dark align-self-center">
                                0.0158838195818282
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0">
                        <div class="row m-0">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 p-0 align-self-center">
                                Businessman Rating:
                            </div>
                            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0 align-self-center">
                                <div class="d-inline-block">
                                    <ngb-rating class="rating-container" [(rate)]="total_rating"></ngb-rating>
                                </div>
                                <div class="d-inline-block align-self-center">
                                    <span class="pl-3">{{ total_rating }} points</span>
                                    <i class="icon icon-chevron-down chevron pl-3" (click)="dropdown()" *ngIf="drop"></i>
                                    <i class="icon icon-chevron-up chevron pl-3" (click)="dropdown()" *ngIf="!drop"></i>
                                </div>
                            </div>
                        </div>
                        <div id="collapse">
                            <div class="card card-body">
                                <div class="row m-0">
                                    <div class="col-12 p-0 rate-name text-center text-dark">
                                        Engaging
                                    </div>
                                    <div class="col-12 p-0 text-center">
                                        <span>Does the advertisement stop the reader and engage them to learn more about our offering?</span>
                                        <ngb-rating class="rating-container" [(rate)]="report_details.businessman_rating.engaging"></ngb-rating>
                                    </div>
                                    <div class="col-12 p-0 rate-name text-center text-dark">
                                        Credibility
                                    </div>
                                    <div class="col-12 p-0 text-center">
                                        <span>Does the advertisement make credible claims and back them up? Will your audience
                                            believe you?</span>
                                        <ngb-rating class="rating-container" [(rate)]="report_details.businessman_rating.credibility"></ngb-rating>
                                    </div>
                                    <div class="col-12 p-0 rate-name text-center text-dark">
                                        Impression
                                    </div>
                                    <div class="col-12 p-0 text-center">
                                        <span>Does the advertisement create a lasting impression? Would the ad be remembered in
                                            a future survey?</span>
                                        <ngb-rating class="rating-container" [(rate)]="report_details.businessman_rating.impression"></ngb-rating>
                                    </div>
                                    <div class="col-12 p-0 rate-name text-center text-dark">
                                        Action Oriented
                                    </div>
                                    <div class="col-12 p-0 text-center">
                                        <span>Does the advertisement have a strong, clear, and obvious call-to-action?</span>
                                        <ngb-rating class="rating-container" [(rate)]="report_details.businessman_rating.action_oriented"></ngb-rating>
                                    </div>
                                    <div class="col-12 p-0 rate-name text-center text-dark">
                                        Significance
                                    </div>
                                    <div class="col-12 p-0 text-center">
                                        <span>Does the advertisement promote features, advantages, and benefits that the target
                                            audience cares about?</span>
                                        <ngb-rating class="rating-container" [(rate)]="report_details.businessman_rating.significance"></ngb-rating>
                                    </div>
                                    <div class="col-12 p-0 rate-name text-center text-dark">
                                        Integrated
                                    </div>
                                    <div class="col-12 p-0 text-center">
                                        <span>Is the advertisement part of an integrated, multi-channel, campaign that reflects
                                            our brand & core messaging?</span>
                                        <ngb-rating class="rating-container" [(rate)]="report_details.businessman_rating.integrated"></ngb-rating>
                                    </div>
                                    <div class="col-12 p-0 rate-name text-center text-dark">
                                        Brand Service
                                    </div>
                                    <div class="col-12 p-0 text-center">
                                        <span>How effectively does the advertisement promote our 'service' brand attribute?</span>
                                        <ngb-rating class="rating-container" [(rate)]="report_details.businessman_rating.brand_service"></ngb-rating>
                                    </div>
                                    <div class="col-12 p-0 rate-name text-center text-dark">
                                        Brand Innovation
                                    </div>
                                    <div class="col-12 p-0 text-center">
                                        <span>How effectively does the advertisement promote our 'innovation' brand attribute?</span>
                                        <ngb-rating class="rating-container" [(rate)]="report_details.businessman_rating.brand_innovation"></ngb-rating>
                                    </div>
                                    <div class="col-12 p-0 rate-name text-center text-dark">
                                        Brand Quality
                                    </div>
                                    <div class="c-xl-8 p-0 text-center">
                                        <span>How effectively does the advertisement promote our 'quality' brand attribute?</span>
                                        <ngb-rating class="rating-container" [(rate)]="report_details.businessman_rating.brand_quality"></ngb-rating>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3 text-right">
                    <button class="view_details h-100 pt-2 pb-2 pr-3 pl-3" (click)="viewDetails(report_details.campaign.campaign_id)">View Details</button>
                </div>
            </div>
        </div>
    </div>
</div>