<html>

<body class="p-4 h-100">
  <div class="dashboard-container w-100 h-100">
    <div class="row remove-margin h-100">
      <div class="col-2 pr-0 pl-0" style="border-right: 0.2px solid rgba(0,0,0,0.5);">
        <div class="h-100">
          <div class="businessman-profile row remove-margin pt-4 pb-4" style="border-bottom: 0.2px solid rgba(0,0,0,0.5);">
            <div class="col-12 pr-0 pl-0 text-center">
              <img src="{{google.photoUrl}}" class="img-user">
              <div class="username pt-2 text-dark font-weight-bold" style="font-size: 14px;">
               {{google.name}}
              </div>
              <div class="business-name text-center text-gray" style="font-size: 11px;">
                YouTuber
              </div>
              <div class="email text-center text-gray" style="font-size: 11px;">
                {{google.email}}
              </div>
            </div>
          </div>
          <div class="row remove-margin pb-2">
            <div class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('dashboard')">
              <div class="row remove-margin">
                <div class="col-3 pr-0 pl-0">
                  <i class="icon icon-icons2 pr-3 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="col-9 pr-0 pl-0">
                  <span class="side-menu-item-name">Dashboard</span>
                </div>
              </div>
            </div>
            <div class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('hot_campaigns')">
              <div class="row remove-margin">
                <div class="col-3 pr-0 pl-0">
                  <i class="icon icon-star pr-3 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="col-9 pr-0 pl-0">
                  <span class="side-menu-item-name">Hot Campaigns</span>
                </div>
              </div>
            </div>
            <div class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('my_campaigns')">
              <div class="row remove-margin">
                <div class="col-3 pr-0 pl-0">
                  <i class="icon icon-clipboard-pencil pr-3 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                </div>
              <!-- </div>
              <div class="widget-holder widget-sm widget-border-radius col-md-3 ">
                <div class="widget-bg ">
                  <div class="widget-heading bg-primary">
                    <span class="widget-title my-0 fs-12 fw-600 ">Total No. of Comments in Channel</span>
                    <i class="widget-heading-icon feather feather-briefcase "></i>
                  </div>
                  <div class="widget-body ">
                    <div class="counter-w-info ">
                      <div class="counter-title color-color-scheme ">P
                        <span class="counter " id="counter-1 "> {{youtubeStats.commentCount}} </span>
                      </div>
                      <div class="counter-info ">
                        <span class="badge bg-success-contrast ">
                          earnings
                        </span>

                      </div>
                    </div>
                  </div> -->
                <div class="col-9 pr-0 pl-0">
                  <span class="side-menu-item-name">My Campaigns</span>
                </div>
              </div>
            </div>
            <div class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('reports')">
              <div class="row remove-margin">
                <div class="col-3 pr-0 pl-0">
                  <i class="icon icon-graph pr-3 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="col-9 pr-0 pl-0">
                  <span class="side-menu-item-name">Reports</span>
                </div>
              </div>
            </div>
            <div class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('rank')">
              <div class="row remove-margin">
                <div class="col-3 pr-0 pl-0">
                  <i class="icon icon-crown pr-3 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="col-9 pr-0 pl-0">
                  <span class="side-menu-item-name">World Rank</span>
                </div>
              </div>
            </div>
            <div class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('settings')">
              <div class="row remove-margin">
                <div class="col-3 pr-0 pl-0">
                  <i class="icon icon-cog pr-3 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="col-9 pr-0 pl-0">
                  <span class="side-menu-item-name">Settings</span>
                </div>
              </div>
            </div>
            <div class="side-menu-item col-12 pr-4 pl-4 pt-2 pb-2" (click)="goTo('logout')">
              <div class="row remove-margin">
                <div class="col-3 pr-0 pl-0">
                  <i class="icon icon-exit pr-3 pt-2 pb-2 icon-custom" style="display: inline-block;"></i>
                </div>
                <div class="col-9 pr-0 pl-0">
                  <span class="side-menu-item-name">Logout</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 pr-0 pl-0 h-100">
        <div class="content-header row remove-margin">
          <div class="col-6 p-3 text-left">
              <span class="current-page font-weight-bold text-dark pt-1 pb-1 pl-2">{{ currentPage }}</span>
          </div>
          <div class="col-6 p-3 text-right">
              <i class="icon icon-alarm pt-1 pb-1 pr-2 icon-header" style="display: inline-block;"></i>
          </div>
        </div>
        <div class="content-body w-100" style="background-color: #f5f7fa;">
          <app-youtuber-dashboard *ngIf="page_selected === 'dashboard'"></app-youtuber-dashboard>
          <app-hot-campaigns *ngIf="page_selected === 'hot_campaigns'"></app-hot-campaigns>
          <app-my-campaigns *ngIf="page_selected === 'my_campaigns'"></app-my-campaigns>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
