<div class="content-body w-100 p-2" style="border-top: 0.3px solid rgba(0,0,0,0.5);">
    <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 p-2">
            <div class="stats-container w-100">
                <div class="stats-container-header pt-2 pb-2 pr-3 pl-3 text-right">
                </div>
                <div class="stats-container-body pt-2 pb-2 text-dark text-center" style="color : #e6614f !important;">
                    {{ subscriberCount | number }}
                </div>
                <div class="stats-container-footer hot-campaigns-color text-center pt-2 pb-2">
                    Total Subscribers
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 p-2">
            <div class="stats-container w-100">
                <div class="stats-container-header pt-2 pb-2 pr-3 pl-3 text-right">
                </div>
                <div class="stats-container-body pt-2 pb-2 text-dark text-center " style="color : #e6614f !important;">
                    {{ viewCount | number}}
                </div>
                <div class="stats-container-footer hot-campaigns-color text-center pt-2 pb-2">
                    Total View Count
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 p-2">
            <div class="stats-container w-100">
                <div class="stats-container-header pt-2 pb-2 pr-3 pl-3 text-right">
                </div>
                <div class="stats-container-body pt-2 pb-2 text-dark text-center" style="color : #e6614f !important;">
                    0
                </div>
                <div class="stats-container-footer hot-campaigns-color text-center pt-2 pb-2">
                    Total Like Count
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 p-2">
            <div class="stats-container w-100">
                <div class="stats-container-header pt-2 pb-2 pr-3 pl-3 text-right">
                    <!-- <i class="icon icon-enter text-white" style="font-size: 20px;"></i> -->
                </div>
                <div class="stats-container-body pt-2 pb-2 text-dark text-center" style="color : #e6614f !important;">
                    0
                </div>
                <div class="stats-container-footer hot-campaigns-color text-center pt-2 pb-2">
                    Total Dislike Count
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0" style="height: calc(100% - 160px);">
        <div class="col-12 col-sm-12 col-md-8 p-2 d-inline-block">
            <!-- <div *ngFor="let campaign of campaigns" class="widget-body pb-0"> -->
            <div class="advertisement-container w-100">
                <div class="stats-container-header pt-2 pb-2 pr-3 pl-3"></div>
                <div class="p-3 text-center" style="border-bottom: 0.2px solid rgba(0,0,0,0.5) !important;">
                    <h4 class="m-0 hot-campaigns-color">My Campaigns</h4>
                </div>
                <div *ngFor="let campaign of my_campaigns" class="col-12 pt-3 pb-3 pr-4 pl-4" style="border-bottom: 0.2px solid rgba(0,0,0,0.5) !important;">
                    <!-- *ngFor here -->
                    <div class="job w-100">
                        <div class="single media">
                            <figure class="single-user-avatar thumb-xs2 m-0">
                                <a href="#">
                                    <!-- <img class="rounded-circle" src="data:{{campaign.product_photo}}"> -->
                                    <img class="rounded-circle" style="object-fit: cover;" src="{{campaign.campaign_details.photo}}">
                                </a>
                            </figure>
                            <div class="media-body pl-3">
                                <div class="single-header">
                                    <div class="row m-0">
                                        <div class="col-12 col-md-4 col-lg-4">
                                            <ul class="list-unstyled li st-inline text-muted fs-13 m-0 ">
                                                <li class="single-header pb-1 text-dark">
                                                    <!-- <a href="#" class="single-user-name">{{campaign.project_name}}</a> -->
                                                    <span class="single-user-name"> {{campaign.campaign_details.project_name}} </span>
                                                    <!-- <span class="ml-3 p-1 pr-2 pl-2 on-going">ON GOING</span>
                                                        <span class="ml-3 p-1 pr-2 pl-2 cancelled">CANCELLED</span> -->
                                                </li>
                                                <li class="list-inline-item mr-4 mr-0-rtl ml-4-rtl text-dark">
                                                    <!-- <i class="feather feather-user-plus fs-base mr-1 "></i> {{campaign.business_name}}</li> -->
                                                    <i class="feather feather-user-plus fs-base mr-1 "></i> {{campaign.businessman_details.business_name}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-8 col-lg-8 pl-0">
                                            <ul class="list-unstyled li st-inline text-muted fs-13 m-0 ">
                                                <li class="single-header pb-1 text-dark">
                                                    <i class="icon icon-label fs-base mr-1 "></i>
                                                    <span class="pt-1">{{campaign.campaign_details.category_name}}</span>
                                                    <!-- <span class="ml-3 p-1 pr-2 pl-2 done">DONE</span> -->
                                                </li>
                                                <li class="single-header text-dark">
                                                    <!-- <i class="feather feather-map-pin fs-base mr-1 "></i> {{campaign.company_address}}</li> -->
                                                    <i class="feather feather-map-pin fs-base mr-1 "></i> {{campaign.businessman_details.company_address}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 p-2 d-inline-block">
            <div class="top-influencer w-100">
                <div class="row m-0">
                    <div class="stats-container-header col-12 pt-2 pb-2 pr-3 pl-3"></div>
                    <div class="col-12 p-0">
                        <div class="hot-campaigns-color w-100 p-3 text-center" style="font-size: 22px;">
                            <i class="icon icon-star" style="font-size: 22px;"></i>
                            <i class="icon icon-star pr-2" style="font-size: 22px;"></i>
                            <span class="text-left">
                                Hot Campaigns
                            </span>
                            <i class="icon icon-star pl-2" style="font-size: 22px;"></i>
                            <i class="icon icon-star" style="font-size: 22px;"></i>
                        </div>
                    </div>
                    <div class="col-12 p-0">
                        <div class="text-center pb-3" *ngIf="showNoHotCampaign">No Hot Campaigns for now.</div>
                        <div id="carouselExampleControls" class="carousel slide" *ngIf="!showNoHotCampaign">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="row m-0">
                                        <div class="col-12 pb-2 pr-0 pl-0 text-center">
                                            <img src="{{ first_hot_campaign.photo }}" class="rounded-circle" style="width: 150px; height: 150px;">
                                        </div>
                                        <div class="col-12 pb-3 text-center">
                                            <span class="product-name display-block text-dark" style="font-size: 18px;">{{ first_hot_campaign.project_name }}</span>
                                            <span class="product-category display-block" style="font-size: 14px;">{{ first_hot_campaign.category_name }}</span>
                                            <span class="price-range p-1 pr-2 pl-2 text-white" style="font-size: 16px;">{{ first_hot_campaign.starting_budget }} to {{ first_hot_campaign.ending_budget
                                                }}</span>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 p-0 text-center">
                                            <button class="hot-campaigns-btn w-100 h-100 p-2" style="border-radius: 0 0 0 6px;" (click)="openViewDetailsModal(first_hot_campaign.campaign_id)">View Details</button>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 p-0 text-center">
                                            <!-- On Going Campaign State -->
                                            <button id="hot-campaigns-btn" *ngIf="first_hot_campaign.interested == 1 && first_hot_campaign.accepted === 'yes'" class="on-progress-btn w-100 h-100 p-2">On Progress</button>
                                            <!-- Interested State -->
                                            <button id="hot-campaigns-btn" *ngIf="first_hot_campaign.interested == 1 && first_hot_campaign.accepted === 'no'" (click)="interested(first_hot_campaign, 0)"
                                                class="hot-campaigns-btn w-100 h-100 p-2" style="background: #FFF !important; border-color: #c0392b !important; color: #c0392b !important; border-radius: 0 0 6px 0;">Uninterested</button>
                                            <!-- Just Display State -->
                                            <button id="hot-campaigns-btn" *ngIf="first_hot_campaign.interested == 0 && first_hot_campaign.accepted === 'no'" (click)="interested(first_hot_campaign, 0)"
                                                class="hot-campaigns-btn w-100 h-100 p-2" style="border-radius: 0 0 6px 0;">Interested</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" *ngFor="let hot_campaign of all_hot_campaigns; let i = index;">
                                    <div class="row m-0">
                                        <div class="col-12 pb-2 pr-0 pl-0 text-center">
                                            <img src="{{ hot_campaign.photo }}" class="rounded-circle" style="width: 150px; height: 150px;">
                                        </div>
                                        <div class="col-12 pb-3 text-center">
                                            <span class="product-name display-block text-dark" style="font-size: 18px;">{{ hot_campaign.project_name }}</span>
                                            <span class="product-category display-block" style="font-size: 14px;">{{ hot_campaign.category_name }}</span>
                                            <span class="price-range p-1 pr-2 pl-2 text-white" style="font-size: 16px;">{{ hot_campaign.starting_budget }} to {{ hot_campaign.ending_budget }}</span>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 p-0 text-center">
                                            <button class="hot-campaigns-btn w-100 h-100 p-2" style="border-radius: 0 0 0 6px;" (click)="openViewDetailsModal(hot_campaign.campaign_id)">View Details</button>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 p-0 text-center">
                                            <!-- On Going Campaign State -->
                                            <button id="hot-campaigns-btn" *ngIf="hot_campaign.interested == 1 && hot_campaign.accepted === 'yes'" class="on-progress-btn w-100 h-100 p-2">On Progress</button>
                                            <!-- Interested State -->
                                            <button id="hot-campaigns-btn" *ngIf="hot_campaign.interested == 1 && hot_campaign.accepted === 'no'" (click)="interested(hot_campaign, i+1)"
                                                class="hot-campaigns-btn w-100 h-100 p-2" style="background: #FFF !important; border-color: #c0392b !important; color: #c0392b !important; border-radius: 0 0 6px 0;">Uninterested</button>
                                            <!-- Just Display State -->
                                            <button id="hot-campaigns-btn" *ngIf="hot_campaign.interested == 0 && hot_campaign.accepted === 'no'" (click)="interested(hot_campaign, i+1)"
                                                class="hot-campaigns-btn w-100 h-100 p-2" style="border-radius: 0 0 6px 0;">Interested</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span aria-hidden="true">
                                    <i class="icon icon-chevron-left text-dark"></i>
                                </span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span aria-hidden="true">
                                    <i class="icon icon-chevron-right text-dark"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>