<div class="modal-body p-0" style="max-height: 695px; overflow-x: auto;">
    <i class="icon icon-cross text-dark" style="cursor: pointer;" (click)="closeModal()"></i>
    <div class="w-100 pt-5 pb-4 pl-4 pr-4">
        <div class="row m-0 pb-2">
            <div class="tab tab1 col-4 p-0 pt-2 pb-2 text-center" (click)="openPage('Tab 1')">
                <div>
                    <i class="icon icon-user"></i>
                </div>
                <span class="profile">Profile</span>
            </div>
            <div class="tab tab2 col-4 p-0 pt-2 pb-2 text-center" (click)="openPage('Tab 2')">
                <div>
                    <i class="icon icon-bookmark2"></i>
                </div>
                <span class="points">Badge</span>
            </div>
            <div class="tab tab3 col-4 p-0 pt-2 pb-2 text-center" (click)="openPage('Tab 3')">
                <div>
                    <i class="icon icon-camera"></i>
                </div>
                <span class="videos">Videos</span>
            </div>
        </div>
        <div *ngIf="tab_1" class="w-100">
            <div class="row m-0">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-0">
                    <img src="{{ youtuber_details.info.photoUrl }}" class="profile-picture">
                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 pr-0 pl-4 align-self-center d-inline-block">
                    <div class="col-12 text-dark text-left name">
                        <i class="icon icon-man icon-custom pr-2"></i> <strong class="lastname">{{ youtuber_details.info.lastName }}</strong>, <span>{{ youtuber_details.info.firstName }}</span>
                    </div>
                    <div class="col-12 text-dark text-left business-name pt-1">
                        <span class="text-gray">Bio:</span>
                        {{ youtuber_details.info.abouts }}
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="row m-0 pt-3">
                        <div class="col-1 p-0 text-center">
                            <i class="icon icon-map-marker icon-custom"></i>
                        </div>
                        <div class="col-11 pr-0 text-dark">
                            {{ youtuber_details.info.address }}
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0 pt-2">
                        <div class="col-1 p-0 text-center">
                            <i class="icon icon-telephone icon-custom"></i>
                        </div>
                        <div class="col-11 pr-0 text-dark">
                            {{ youtuber_details.info.contact_no }}
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0 pt-2">
                        <div class="col-12 p-0 text-left">
                            Interests:
                        </div>
                        <div class="interest-container col-12 p-0 pt-1 text-dark">
                            <span class="pt-1 pb-1 pl-2 pr-2 mr-1 text-white interest" *ngFor="let in of youtuber_details.info.interests">
                                {{ in.interest }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row m-0 pt-2">
                        <div class="col-12 p-0 text-left">
                            Social Media Accounts:
                        </div>
                        <div class="col-12 p-0 pt-1 pb-1 text-left youtube-highlight" style="color: #000;">
                            <div class="row m-0">
                                <div class="col-2 p-0 text-center">
                                    <img src="./../../../../assets/img/youtube1.png" class="social-media-size">
                                </div>
                                <div class="col-10 p-0 align-self-center">
                                    {{ youtuber_details.info.youtubeCh }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-0 pt-1 pb-1 text-left facebook-highlight" style="color: #000;">
                            <div class="row m-0">
                                <div class="col-2 p-0 text-center">
                                    <img src="./../../../../assets/img/facebook.png" class="social-media-size">
                                </div>
                                <div class="col-10 p-0 align-self-center">
                                    https://www.facebook.com/{{ youtuber_details.info.fb_ac }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-0 pt-1 pb-1 text-left twitter-highlight" style="color: #000;">
                            <div class="row m-0">
                                <div class="col-2 p-0 text-center">
                                    <img src="./../../../../assets/img/twitter.png" class="social-media-size">
                                </div>
                                <div class="col-10 p-0 align-self-center">
                                    https://www.twitter.com/{{ youtuber_details.info.twitter_ac }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-0 pt-1 pb-1 text-left instagram-highlight" style="color: #000;">
                            <div class="row m-0">
                                <div class="col-2 p-0 text-center">
                                    <img src="./../../../../assets/img/instagram.png" class="social-media-size">
                                </div>
                                <div class="col-10 p-0 align-self-center">
                                    https://www.instagram.com/{{ youtuber_details.info.ig_ac }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tab_2" class="badge-container w-100">
            <div class="of-containter pb-3">
                <div class="text-center">
                    <div>
                        <strong class="of-rating">{{ overall_influence_rating }}</strong>&nbsp;points
                    </div>
                    <span class="text-dark">Overall Influence Rating</span>
                </div>
            </div>
            <div class="row m-0 pb-2" *ngFor="let score of reputation_score">
                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-0 text-center">
                    <img src="{{ score.photo }}" class="category-photo-size">
                </div>
                <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 pr-0 pl-4 align-self-center">
                    <div class="row m-0">
                        <div class="col-6 p-0 text-left cat_name">
                            <span>{{ score.name }}</span>
                        </div>
                        <div class="col-6 p-0 text-right cat_points">
                            <span>{{ score.points }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tab_3" class="video-container w-100">
            <div class="row m-0 pb-2" *ngFor="let video of youtuber_details.videos">
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 p-0 text-center" style="cursor: pointer;" (click)="openVideo(video)">
                    <img src="{{ video.default_thumbnail }}" class="thumbnail">
                </div>
                <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 pr-0 text-left align-self-center">
                    <div class="vid-title ellipsis">{{ video.video_title }}</div>
                    <div class="vid-category">{{ video.category_name }}</div>
                    <div class="vid-description ellipsis">{{ video.video_description }}</div>
                    <div class="vid-duration">{{ channel_title }}</div>
                </div>
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="col-6">
                            Views:&nbsp;{{ video.views_count }}
                        </div>
                        <div class="col-6">
                            Likes:&nbsp;{{ video.likes_count }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Dislikes:&nbsp;{{ video.dislikes_count }}
                        </div>
                        <div class="col-6">
                            Comments:&nbsp;{{ video.comments_count }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>