.cat_name, .cat_points {
  font-size: 16px;
}

.cat_points {
  color: #c0392b;
}

.business-name {
  font-size: 14px;
}

.head-container {
  height: 125px !important;
  background: linear-gradient(to top, #00cc99 0%, #009999 100%);
  border-bottom: 0.2px solid #ddd;
  border-radius: 3px 3px 0px 0px !important;
}

.icon-container {
  border-top: 0.5px solid #ddd;
  border-bottom: 0.5px solid #ddd;
}

.icon-cross {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 92%;
  font-size: 20px;
}

.icon-custom {
  color: #c0392b;
  font-size: 22px;
}

.interest-container {
  overflow-x: auto;
  white-space: nowrap;
}

.lastname {
  text-transform: uppercase;
}

.name {
  font-size: 26px;
  font-weight: bold;
}

.of-rating {
  color: #00cc99;
  font-size: 20px;
}

.profile-picture {
  width: 110px;
  height: 110px;
  border-radius: 500px;
}

.progressbar-container {
  border-radius: 15px;
  background: #868e96;
  height: 10px;
}

.progress {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: rgba(120, 130, 140, 0.13);
  height: 100% !important;
  border-radius: 10px !important;
  margin-bottom: 0 !important;
  overflow: hidden;
}

.small-font {
  font-size: 12px;
}

.time {
  color: #aaa;
}

.thumbnail {
  width: 120px;
  height: 90px;
}

.vid-title {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.vid-category {
  font-size: 12px;
  color: #aaa;
}

.vid-description {
  font-size: 12px;
  color: #3c3c3c;
}

.vid-duration {
  font-size: 12px;
  color: #aaa;
}

/* ------- */

.badge-container, .video-container, .activity-log-container {
  max-height: 470px;
  overflow-y: auto !important;
}

.category-photo-size {
  width: 70px;
  height: 70px;
}

.change-photo {
  font-size: 25px;
  color: #868e96 !important;
  position: absolute;
  top: 10px;
  left: 120px;
  float: right;
  cursor: pointer;
}

.change-photo:hover {
  color: #20c997 !important;
}

.lbl-businessman {
  color: #20c997;
}

.form-control:focus {
  border-color: #20c997 !important;
}

.form-input {
  border-radius: 6px !important;
}

.form-input {
  font-size: 13px;
  padding: 15px;
  border-radius: 4px;
  border: 0.5px solid rgba(0,0,0,0.2);
}

.form-control:focus {
  border-color: #20c997;
}

.progress {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: rgba(120, 130, 140, 0.13);
  height: 1em !important ;
  border-radius: 4px;
  overflow: hidden;
}

.tab {
  color: #000;
  font-size: 18px;
}

.tab:hover {
  cursor: pointer;
  color: #c0392b;
}

.textarea-input {
  width: 100%;
  border-radius: 6px !important;
  font-size: 13px;
  padding: 9px;
  border: 0.5px solid rgba(0,0,0,0.2);
}

.social-media-size {
  width: 40px;
  height: 40px;
}

.youtube-highlight:hover {
  color: white !important;
  cursor: pointer;
  background: linear-gradient(to top right, #c0392b 0%, #f1c40f 100%) !important;
  border-radius: 6px;
}

.facebook-highlight:hover {
  color: white !important;
  cursor: pointer;
  background: linear-gradient(to top right, #c0392b 0%, #f1c40f 100%) !important;
  border-radius: 6px;
}

.twitter-highlight:hover {
  color: white !important;
  cursor: pointer;
  background: linear-gradient(to top right, #c0392b 0%, #f1c40f 100%) !important;
  border-radius: 6px;
}

.instagram-highlight:hover {
  color: white !important;
  cursor: pointer;
  background: linear-gradient(to top right, #c0392b 0%, #f1c40f 100%) !important;
  border-radius: 6px;
}

.interest {
  background: #c0392b;
  border-radius: 6px;
}