<div class="modal-header m-0">
    <div class="page-one row m-0 w-100">
        <div class="col-12 pr-0 pl-0 text-center">
            <h3 class="modal-title mb-0 lbl-businessman">Configure Video Weight</h3>
        </div>
        <div class="col-12 text-gray text-center" style="font-size: 14px;">Enter weight you prefer for computing the video details.</div>
    </div>
</div>
<div class="modal-body pt-2 pb-2 pr-3 pl-3" style="max-height: 500px; overflow-y: auto !important; overflow-x: auto;">
    <div class="page-one row m-0 w-100">
        <div class="col-12 pr-0 pl-0">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2 pr-2" style="font-size: 14px;">Views Count Percentage:</div>
                <div class="col-8 pr-0 pl-0">
                    <form class="form-inline w-100">
                        <div class="form-group w-100">
                            <div class="input-group w-100">
                                <input type="text" class="form-control form-control" placeholder="eg. 50" name="dp" [(ngModel)]="views_count">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2 pr-2" style="font-size: 14px;">Reactions Count Percentage:</div>
                <div class="col-8 pr-0 pl-0">
                    <form class="form-inline w-100">
                        <div class="form-group w-100">
                            <div class="input-group w-100">
                                <input type="text" class="form-control form-control" placeholder="eg. 30" name="dp" [(ngModel)]="reactions_count">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 pr-0 pl-0">
            <div class="row m-0">
                <div class="col-4 pr-0 pl-0 text-left text-dark pt-2 pb-2 pr-2" style="font-size: 14px;">Comments Count Percentage:</div>
                <div class="col-8 pr-0 pl-0">
                    <form class="form-inline w-100">
                        <div class="form-group w-100">
                            <div class="input-group w-100">
                                <input type="text" class="form-control form-control" placeholder="eg. 20" name="dp" [(ngModel)]="comments_count">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer p-3">
    <div class="row m-0 w-100">
        <div class="col-6 pl-0">
            <button type="button" class="btn btn-outline-dark m-0" (click)="closeModal()" style="border-radius: 5px !important;">Close</button>
        </div>
        <div class="col-6 pr-0">
            <button type="button" class="btn btn-outline-dark m-0 float-right submit-btn" (click)="configureVideoWeight()">Update</button>
        </div>
    </div>
</div>