/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

perfect-scrollbar > div {
  padding-left: 0px;
  padding-right: 0px;
}
perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y {
  background-color: transparent !important;
}
.bs-modal-lg .modal-content {
  padding: 0px;
  border: 0px;
}
