.header-pop-search {
  position: absolute;
  width: 100%;
  background: #fff;
  left: 0;
  padding-top: 10rem;
  padding-bottom: 2rem;
  height: 100%;
  opacity: 0;
}
.header-pop-search.open {
  z-index: 999;
  opacity: 1;
}
.header-pop-search .form-input-icon > i {
  z-index: 999;
}
