<div class="modal-body p-0" style="max-height: 695px; overflow-x: auto;">
    <i class="icon icon-cross text-dark" style="cursor: pointer;" (click)="closeModal()"></i>
    <img src="{{ businessman.profile_picture }}" class="profile-picture">
    <div class="head-container w-100"></div>
    <div class="w-100">
        <div class="row m-0">
            <div class="col-12 text-dark text-center name">
                {{ complete_name }}
            </div>
            <div class="col-12 text-dark text-center business-name pt-1">
                <span class="text-gray">Business:</span>
                {{ businessman.business_name }}
            </div>
            <div class="col-12 text-gray text-center business-name pt-1 pb-2">
                {{ businessman.email_address }}
            </div>
            <div class="col-12 icon-container text-gray text-center small-font pt-3 pb-3">
                <div class="row m-0">
                    <div class="col-3 text-center pt-1 pb-1" style="font-size: 25px;">
                        <i class="icon icon-telephone" style="color: #009999;"></i>
                    </div>
                    <div class="col-9 pt-2 pb-2 text-dark text-left" style="font-size: 20px;">
                        {{ businessman.contact_number }}
                    </div>
                </div>
            </div>
            <div class="col-12 text-gray text-center small-font pt-3 pb-3" style="border-bottom: 0.5px solid #ddd;">
                <div class="row m-0">
                    <div class="col-3 text-center pt-1 pb-1" style="font-size: 25px;">
                        <i class="icon icon-map-marker" style="color: #009999;"></i>
                    </div>
                    <div class="col-9 text-dark text-left" style="font-size: 20px;">
                        {{ businessman.company_address }}
                    </div>
                </div>
            </div>
            <div class="col-12 text-gray text-center small-font pt-3 pb-3" style="border-bottom: 0.5px solid #ddd;">
                <div class="row m-0" style="max-height: 170px;">
                    <div class="col-3 text-center pt-1 pb-1" style="font-size: 25px;">
                        <i class="icon icon-apartment" style="color: #009999;"></i>
                    </div>
                    <div class="col-9 text-dark text-left" style="font-size: 20px; overflow-y: auto !important;">
                        {{ businessman.abouts }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>