.business-name {
  font-size: 16px;
}

.head-container {
  height: 125px !important;
  background: linear-gradient(to top, #00cc99 0%, #009999 100%);
  border-bottom: 0.2px solid #ddd;
  border-radius: 3px 3px 0px 0px !important;
}

.icon-container {
  border-top: 0.5px solid #ddd;
  border-bottom: 0.5px solid #ddd;
}

.icon-cross {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 92%;
  font-size: 20px;
  color: #FFF !important;
}

.name {
  padding-top: 55px !important;
  font-size: 30px;
  font-weight: bold;
}

.profile-picture {
  width: 110px;
  height: 110px;
  border-radius: 500px;
  position: absolute;
  top: 65px;
  object-fit: cover;
  left: 197px;
  z-index: 2;
}

.small-font {
  font-size: 12px;
}

/* ------- */

.change-photo {
  font-size: 25px;
  color: #868e96 !important;
  position: absolute;
  top: 10px;
  left: 120px;
  float: right;
  cursor: pointer;
}

.change-photo:hover {
  color: #20c997 !important;
}

.lbl-businessman {
  color: #20c997;
}

.form-control:focus {
  border-color: #20c997 !important;
}

.form-input {
  border-radius: 6px !important;
}

.form-input {
  font-size: 13px;
  padding: 15px;
  border-radius: 4px;
  border: 0.5px solid rgba(0,0,0,0.2);
}

.form-control:focus {
  border-color: #20c997;
}

.textarea-input {
  width: 100%;
  border-radius: 6px !important;
  font-size: 13px;
  padding: 9px;
  border: 0.5px solid rgba(0,0,0,0.2);
}