<div class="modal-body p-0" style="max-height: 600px !important; border-bottom: 0.2px solid rgba(0,0,0,0.5);">
    <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 p-0">
            <div class="col-12 text-center p-0">
                <div [innerHTML]='iframe_html'></div>
            </div>
        </div>
    </div>
</div>