.bg-primary
{
    background-color: #16a085 !important;
}

.cancelled {
    background: #c0392b;
}

.card-photo {
    border-radius: 6px 6px 0 0;
    height: 125px;
    object-fit: cover;
}

.done, .on-going, .cancelled {
    font-size: 12px;
    color: #FFF;
    border-radius: 5px;
}

.done {
    background: #2ecc71;
}

.filter {
    width: 100%;
    background: #FFF;
    border: 1px solid #c0392b;
}

.filter-drop {
    background: #c0392b;
    border-radius: #c0392b;
    color: #FFF;
}

.hot-campaigns-btn {
    background: linear-gradient(to top right, #f1c40f 0%, #c0392b 100%) !important;
    border-color: #c0392b !important;
    color: #FFF !important;
    border-radius: 45px 0 45px 0 !important;
}

.hot-campaigns-btn-submitted {
    background: #2ecc71 !important;
    border-color: #2ecc71 !important;
    color: #FFF !important;
    border-radius: 45px 0 45px 0 !important;
}

.hot-campaigns-btn:hover {
    cursor: pointer;
    background: #FFF !important;
    border-color: #c0392b !important;
    color: #c0392b !important;
}

.icon-chevron-down {
    color: #FFF;
}

.item-container {
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
    border-radius: 6px 6px 45px 6px !important;
}

.num-advertisers {
    background: #c0392b !important;
    color: #FFF;
    border-radius: 6px;
}

.no-data {
    border-radius: 5px;
    border: 0.5px solid #c0392b;
    font-size: 20px;
    color: #c0392b;
}

.on-going {
    background: #f1c40f;
}

.price-range {
    border-radius: 5px;
    background: #2ecc71;
    color: #FFF;
}

.product-category {
    color: #000;
}

.product-name {
    color: #c0392b;
    font-size: 24px;
}