<div style="height: calc(100%) !important; overflow-y: auto !important;">
    <div class="no-data m-4 p-3 text-center" *ngIf="!my_campaigns_existence">
        No data found in My Campaigns Page.
    </div>
    <div class="row m-0 p-2" *ngIf="my_campaigns_existence">
        <div *ngFor="let campaign of my_campaigns" class="col-12 col-sm-6 col-md-4 col-lg-3 p-0">
            <div class="w-100 p-2">
                <div class="item-container w-100">
                    <div class="text-center mb-1">
                        <img src="{{campaign.campaign_details.photo}}" class="card-photo w-100">
                    </div>
                    <div class="pb-3 text-left">
                        <span class="product-name display-block pl-3"> {{campaign.campaign_details.project_name}} </span>
                        <span class="product-category display-block pl-3" style="font-size: 18px;">{{campaign.campaign_details.category_name}}</span>
                        <div class="row m-0">
                            <div class="col-12 pl-3 pr-3">
                                <div class="row m-0">
                                    <div class="col-7 p-0 text-left">
                                        <span class="pt-1 pb-1">Production Deadline:</span>
                                    </div>
                                    <div class="col-5 p-0 text-right">
                                        <span class="p-1 pr-2 pl-2" style="font-size: 14px; color: #2ecc71;">{{campaign.campaign_details.production_deadline}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pl-3 pr-3">
                                <div class="row m-0">
                                    <div class="col-7 p-0 text-left">
                                        <span class="pt-1 pb-1">Video Duration:</span>
                                    </div>
                                    <div class="col-5 p-0 text-right">
                                        <span class="p-1 pr-2 pl-2" style="font-size: 14px; color: #2ecc71;">{{campaign.campaign_details.video_duration}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pl-3 pr-3">
                                <div class="row m-0">
                                    <div class="col-5 p-0 text-left">
                                        <span class="pt-1 pb-1">Budget</span>
                                    </div>
                                    <div class="col-7 p-0 text-right">
                                        <span class="price-range p-1"> {{campaign.campaign_details.starting_budget}} to {{campaign.campaign_details.ending_budget}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pl-3 pr-3">
                                <div class="row m-0">
                                    <div class="col-7 p-0 text-left">
                                        <span class="pt-1 pb-1">Status:</span>
                                    </div>
                                    <div class="col-5 p-0 text-right">
                                        <span *ngIf="campaign.submission_status === 'Submitted'" class="stats" style="color: #2ecc71">Submitted</span>
                                        <span *ngIf="campaign.submission_status === 'On Going'" class="stats" style="color: #f1c40f">On Going</span>
                                        <span *ngIf="campaign.submission_status === 'Late'" class="stats" style="color: #c0392b">Late</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-4 p-0 text-center"></div>
                        <div class="col-8 p-0 text-center">
                            <button *ngIf="campaign.with_video === 0" id="hot-campaigns-btn" class="hot-campaigns-btn w-100 h-100 p-2" style="border-radius: 0 0 6px 0;" (click)="openSubmitCampaignModal(campaign)">Submit</button>
                            <button *ngIf="campaign.with_video === 1" class="hot-campaigns-btn-submitted w-100 h-100 p-2" style="border-radius: 0 0 6px 0;" (click)="openSubmitCampaignModal(campaign)">Submitted</button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>